<ion-header>
  <sub-navigation title="{{event.details.title || ''}}" [tabs]="['details','participants','guests']" (selected-tab)="list_tabs($event)"></sub-navigation>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="details-content">
    <div [ngSwitch]="selected_tab">
      <ion-list *ngSwitchCase="0" class="detail-section">
        <ion-card class="wed-details-card">
          <div class="card-overlay"></div>
          <img [src]="event.details.photo"/>
          <div class="card-title">{{event.details.title}}</div>
          <div class="card-subtitle">{{event.details.date * 1000 | date:"MMM dd ' | ' h:mm a"}}</div>
          <div class="card-bottom-subtitle">Event ID# {{event.details.id}}</div>
        </ion-card>
        <ion-list no-lines class="white-bg">
          <ion-grid>
              <ion-row text-center>
                <ion-col col-4 style="min-height:150px;">
                  <options (click)="gotoOrderDetails()" [event]="event.details.id"></options>
                  <br/>
                </ion-col>
                <ion-col col-4 text-center>
                  <broadcast-count-down *ngIf="showCountDown"
                    [progress]="countdownRemaining"
                    [state]="currentCountDownState"
                    [width]="'100'"
                    [track-color]="countdownColor"
                    [placeholder-color]="'#d6d8db'"
                    [max]="maxCountDown"
                    [backgroundUrl]="countdownBackgroundURL"
                    (click)="countdownClicked()"
                    ></broadcast-count-down>
                </ion-col>
                <ion-col col-4 style="min-height:150px;">
                  <share [event]="event.details.id"></share>
                  <br/>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
          <ion-list no-lines class="white-bg details-list">
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <ion-item class="marg-header">
                    <ion-icon name="time" mini color="dark" item-start></ion-icon>

                    <h2>{{event.details.package.name}}</h2>

                  </ion-item>
                  <p class="small">You can stream for a consecutive window of time based on the package pre-selected for your event. You will not be able to start and stop the stream at random; and the video stream may only be accessed again if you experience technical issues. Any remaining balance of time will be removed and the event will be closed</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid *ngIf="event.details.addons.registry==true" (click)="gotoMarriageRegistry()">
              <ion-row>
                <ion-col col-12>
                  <ion-item class="marg-header">
                    <button class="mini-star-btn bright-color" style="margin-right:30px;" item-start> <ion-icon name="star" mini color="light"></ion-icon></button>
                    <h2>Registry Link</h2>
                    <ion-icon name="ios-arrow-forward" mode="ios" mini color="dark" item-end></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid *ngIf="event.details.addons.marriage_education==true" (click)="gotoMarriageEducation()">
              <ion-row>
                <ion-col col-12>
                  <ion-item class="marg-header">
                    <button class="mini-star-btn bright-color" style="margin-right:30px;" item-start> <ion-icon name="star" mini color="light"></ion-icon></button>
                    <h2>Premarital Education</h2>
                    <ion-icon name="ios-arrow-forward" mode="ios" mini color="dark" item-end></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
             <ion-grid *ngIf="event.details.addons.marriage_application==true" (click)="gotoMarriageApplication()">
              <ion-row>
                <ion-col col-12>
                  <ion-item class="marg-header">
                    <button class="mini-star-btn bright-color" style="margin-right:30px;" item-start> <ion-icon name="star" mini color="light"></ion-icon></button>
                    <h2>Marriage Application</h2>
                    <ion-icon name="ios-arrow-forward" mode="ios" mini color="dark" item-end></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid *ngIf="event.details.addons.marriage_license==true" (click)="gotoMarriageLicense()">
              <ion-row>
                <ion-col col-12>
                  <ion-item class="marg-header">
                    <button class="mini-star-btn bright-color" style="margin-right:30px;" item-start> <ion-icon name="star" mini color="light"></ion-icon></button>
                    <h2>Marriage License</h2>
                    <ion-icon name="ios-arrow-forward" mode="ios" mini color="dark" item-end></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <ion-item class="marg-header">
                    <button class="mini-star-btn bright-color" item-start> <ion-icon name="star" mini color="light"></ion-icon></button>
                    <h2>Registry Link</h2>
                    <button ion-button disabled clear item-end class="edit-btn"><ion-icon name="time" mini color="dark" item-end></ion-icon></button>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid> -->
          </ion-list>

           <ion-item text-center class="bottom-need-help">
            <button ion-button full clear (click)="getHelp()">Need Help ?</button>
           </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="1" class="participant-section">
        <ion-list-header text-center text-wrap no-lines class="participant-header-text">
          <h2>Select up to 4 participants</h2>
          <p><strong>Important</strong> Participants should be added for live <strong>multi-stream</strong> video events only. If you intend to use a single broadcast you should skip this step, regardless of the participants in your actualy party.</p>
        </ion-list-header>
        <ion-item no-lines>
         <ion-grid>
            <ion-row text-center>
              <ion-col *ngFor="let index of [0,1];" col-6>
                <div *ngIf="this.participants[index].empty==false" (click)="showParticipantActionSheet(index)" class="partcipant-avatar" text-center>
                  <img *ngIf="this.participants[index].empty==false" [src]="this.participants[index].avatar">
                  <ion-icon *ngIf="this.participants[index].empty==true" name="add" class="add-icon"></ion-icon>
                  <!-- <ion-badge *ngIf="this.participants[index].status==0" text-center color="light" round class="light-badge">No Response</ion-badge> -->
                  <ion-badge *ngIf="this.participants[index].status==1" text-center color="secondary" round class="accept-badge">Accepted</ion-badge>
                  <ion-badge *ngIf="this.participants[index].status==2" text-center color="light" round class="decline-badge">Tenative</ion-badge>
                  <ion-badge *ngIf="this.participants[index].status==3" text-center color="pink" round class="decline-badge">Declined</ion-badge>
                  <!-- <button [attr.disabled]="currentCountDownState == 2 ? true : null" *ngIf="this.participants[index].empty==false" (click)="clearParticipant(index)" ion-button menuClose clear class="close-btn">
                    <ion-icon name="close-circle"></ion-icon>
                  </button> -->
                </div>
                <ion-item *ngIf="this.participants[index].empty==true" (click)="showParticipantActionSheet(index)" class="add-user-participant" text-center>
                  <img *ngIf="this.participants[index].empty==false" [src]="this.participants[index].avatar">
                  <ion-icon *ngIf="this.participants[index].empty==true" name="add" class="add-icon"></ion-icon>
                  <!-- <ion-badge *ngIf="this.participants[index].status==0" text-center color="light" round class="light-badge">No Response</ion-badge> -->
                  <ion-badge *ngIf="this.participants[index].status==1" text-center color="secondary" round class="accept-badge">Accepted</ion-badge>
                  <ion-badge *ngIf="this.participants[index].status==2" text-center color="light" round class="decline-badge">Tenative</ion-badge>
                  <ion-badge *ngIf="this.participants[index].status==3" text-center color="pink" round class="decline-badge">Declined</ion-badge>
                  <!-- <button [attr.disabled]="currentCountDownState == 2 ? true : null" *ngIf="this.participants[index].empty==false" (click)="clearParticipant(index)" ion-button menuClose clear class="close-btn">
                    <ion-icon name="close-circle"></ion-icon>
                  </button> -->
                </ion-item>
                <h2 class="accept-head" (click)="showParticipantActionSheet(index)">{{this.participants[index].name}}</h2>
                <p class="accept-para" (click)="selectRole(index)">{{this.participants[index].role}}</p>
              </ion-col>
            </ion-row>
            <ion-row text-center>
              <ion-col *ngFor="let index of [2,3];" col-6>
                <div *ngIf="this.participants[index].empty==false" (click)="showParticipantActionSheet(index)" class="partcipant-avatar" text-center>
                  <img *ngIf="this.participants[index].empty==false" [src]="this.participants[index].avatar">
                  <ion-icon *ngIf="this.participants[index].empty==true" name="add" class="add-icon"></ion-icon>
                  <!-- <ion-badge *ngIf="this.participants[index].status==0" text-center color="light" round class="light-badge">No Response</ion-badge> -->
                  <ion-badge *ngIf="this.participants[index].status==1" text-center color="secondary" round class="accept-badge">Accepted</ion-badge>
                  <ion-badge *ngIf="this.participants[index].status==2" text-center color="light" round class="decline-badge">Tenative</ion-badge>
                  <ion-badge *ngIf="this.participants[index].status==3" text-center color="pink" round class="decline-badge">Declined</ion-badge>
                  <!-- <button [attr.disabled]="currentCountDownState == 2 ? true : null" *ngIf="this.participants[index].empty==false" (click)="clearParticipant(index)" ion-button menuClose clear class="close-btn">
                    <ion-icon name="close-circle"></ion-icon>
                  </button> -->
                </div>
                <ion-item *ngIf="this.participants[index].empty==true" (click)="showParticipantActionSheet(index)" class="add-user-participant" text-center>
                  <img *ngIf="this.participants[index].empty==false" [src]="this.participants[index].avatar">
                  <ion-icon *ngIf="this.participants[index].empty==true" name="add" class="add-icon"></ion-icon>
                  <!-- <ion-badge *ngIf="this.participants[index].status==0" text-center color="light" round class="light-badge">No Response</ion-badge> -->
                  <ion-badge *ngIf="this.participants[index].status==1" text-center color="secondary" round class="accept-badge">Accepted</ion-badge>
                  <ion-badge *ngIf="this.participants[index].status==2" text-center color="light" round class="decline-badge">Tenative</ion-badge>
                  <ion-badge *ngIf="this.participants[index].status==3" text-center color="pink" round class="decline-badge">Declined</ion-badge>
                  <!-- <button [attr.disabled]="currentCountDownState == 2 ? true : null" *ngIf="this.participants[index].empty==false" (click)="clearParticipant(index)" ion-button menuClose clear class="close-btn">
                    <ion-icon name="close-circle"></ion-icon>
                  </button> -->
                </ion-item>
                <h2 class="accept-head" (click)="showParticipantActionSheet(index)">{{this.participants[index].name}}</h2>
                <p class="accept-para" (click)="selectRole(index)">{{this.participants[index].role}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="2" class="guest-section">
        <ion-item no-lines>
          <ion-label>Public event</ion-label>
          <ion-toggle mode="ios" [attr.disabled]="currentCountDownState == 2 ? true : null" [(ngModel)]="privacy" (ionChange)="privacyUpdate(item)"></ion-toggle>
        </ion-item>
        <ion-list text-center class="guest-list" no-lines>
          <h3>{{guests.length}} Total Guests</h3>
          <ion-grid>
            <ion-row text-center>
              <ion-col col-6><button [attr.disabled]="currentCountDownState == 2 ? true : null" ion-button (click)="importContacts()" color="light" block class="import-btn">Import Contacts</button></ion-col>
              <ion-col col-6><button [attr.disabled]="currentCountDownState == 2 ? true : null" ion-button block (click)="showGuestActionSheet(true)" class="add-guest-btn">Add Guest</button></ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <ion-list class="white-bg guest-invitation-list" no-lines>
            <ion-item *ngFor="let guest of guests;" class="border-btm header-bold">
              <!-- <ion-avatar item-start>
                <img src="assets/images/user-avatar1.png">
                <ion-badge text-center color="secondary" round class="guest-accept-badge">Accepted</ion-badge>
              </ion-avatar> -->
              <!-- Change to invite attr -->
              <avatar item-start [user]="guest.uid" [name]="guest.name" [status]="guest.status" [event]="event.details.id"></avatar>
              <h2>{{guest.name}}</h2>
              <p *ngIf="guest.identifier">{{guest.identifier}}</p>
              <!-- <ion-note item-end>
                9:40 am
              </ion-note> -->
            </ion-item>
            <!-- <ion-item class="border-btm header-bold">
              <ion-avatar item-start>
                <img src="assets/images/user-avatar4.png">
              </ion-avatar>
              <h2>Mark</h2>
              <p>770-222-2112</p>
            </ion-item> -->
        </ion-list>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="selected_tab == 2" class="footer-sticky" text-center>
  <button (click)="createInvite()" [attr.disabled]="currentCountDownState == 2 ? true : null" ion-button clear large>VIDEO INVITE</button>
</ion-footer>
