<!-- Generated template for the BroadcastCountDownComponent component -->
<div class="outerDiv">
  <div class="overlayDiv"></div>
  <round-progress class="round-progress child" [style.background]="backgroundUrl" [style.background-size]=" imageWidth + 'px ' + imageWidth + 'px'"
    [stroke]="width/2<125 ? 7 : 15" [current]="progress" [radius]="width/2" [max]="max" [color]="trackColor" [background]="placeholderColor"
    (onRender)="progressValueChanged()">
  </round-progress>
</div>