<!--
  Generated template for the AttendEventModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <ion-card class="wed-details-card">
    <div class="card-overlay"></div>
    <img [src]="event.details.photo" *ngIf="event"/>
    <div class="card-title" *ngIf="event">{{event.details.title}}</div>
    <div class="card-subtitle" *ngIf="event">{{event.details.date*1000 | date:"MMM dd yyyy 'at' hh:mm a"}}</div>
    <div class="card-bottom-subtitle">Event ID #{{eventId}}</div>
  </ion-card>
  <ion-list no-lines class="white-bg">
    <ion-grid>
      <!-- <ion-row text-center>
        <p>This event is not available to watch yet. Sit tight and the stream will start automatically.</p>
      </ion-row> -->
      <ion-row text-center>
        <ion-col col-6>
          <share [event]="eventId"></share>
        </ion-col>
        <!--<ion-col col-4 text-center>
      <broadcast-count-down
            [progress]="countdownRemaining"
            [state]="currentCountDownState"
            [width]="'100'"
            [track-color]="countdownColor"
            [placeholder-color]="'#d6d8db'"
            [max]="maxCountDown"
            [backgroundUrl]="countdownBackgroundURL"
            (click)="start()"
            ></broadcast-count-down>
        </ion-col>-->
        <ion-col col-6>
          <!-- <options [event]="eventId"></options> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
