// ion-modal.my-popup {
//   @media (min-width: 300px) and (min-height: 500px) {
//     ion-backdrop {
//       visibility: visible;
//     }
//   }
//
//   .modal-wrapper {
//     position: absolute;
//     overflow: hidden;
//     max-width: 480px;
//     border-radius: 2px;
//     width: 90vw;
//     height: 90vh;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     border: 0;
//     box-shadow: none;
//     background-color: transparent;
//   }
// }

page-autocomplete {
  .toolbar-background-md, .toolbar-background-ios {
      border-color: #5aabd3;
      background: #5aabd3;
      color: #fff;
  }
  .toolbar-title-md, .toolbar-title-ios, .back-button{
      color: #fff;
  }

  .content-md {
    background: #fafafa;
  }
}
