// Default Theme
// ----------------------------------

$primary:     #075193 !default;
$secondary:   #5AABD3 !default;
$danger:      #DD004B !default;
$light:       #f4f4f4 !default;
$dark:        #222 !default;
$active:      #01BCD4 !default;
$light-blue:  rgb(83,215,238) !default;

$colors: (

  primary:    $primary,
  active:     $active,
  secondary:  $secondary,
  danger:     $danger,
  light:      $light,
  dark:       $dark,
  light-blue: $light-blue,

  facebook: #3B5998,
  google: #DB4437,
  pink: rgb(240,81,185),
  green: rgb(90,212,137)

) !default;

// $toolbar-background:         $primary !default;
$toolbar-md-padding:         0 !default;
//
// $segment-button-md-padding-top: 0 !default;
// $segment-button-md-text-color-activated: $light !default;
// $segment-button-md-border-color-activated: $active !default;
// $segment-button-md-border-bottom-color: rgba(0,0,0,0) !default;
//
// $text-color:                 #fff !default;
// $link-color:                 color($colors, primary) !default;
// // $background-color:           $primary !default;
// $subdued-text-color:         color($colors, primary) !default;
//
// $font-family-base:           'Lato', sans-serif !default;
// $font-family-md-base:        'Lato', sans-serif !default;
//
// $font-size-base:             1.4rem !default; // 1.4rem == 14px
//
// $content-padding:            20px !default;
// $content-margin:             0 !default;
//
// $item-md-divider-border-bottom: 0 !default;
// $item-md-divider-background: rgba(0,0,0,0) !default;
// $item-md-divider-color: rgba(0,0,0,0) !default;
//
// // $button-md-height: 2.8em !default;
// // $button-md-font-size: 1.6rem !default;
// // $button-md-box-shadow: 0 !default;
// $button-md-text-transform: none !default;
// $button-md-margin: 0.4rem 0.2rem !default;
