.main-bg {
  background: #023C6F;
}

.swiper-pagination .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}

.ww-input-item {
  background: transparent;
  padding: 0;
  margin: 15px 0;
}

.ww-input-item.item-block .item-inner {
  padding-right: 0;
}

.ww-input-item .input-wrapper .label {
  color: #fff;
  font-size: 1.5rem;
}

.ww-input-item .input-wrapper .input,
.ww-input-item .input-wrapper .datetime {
  background: #fff;
  border-radius: 5px;
  padding: 0 10px;
}

.ww-input-item .input-wrapper .input.ng-touched.ng-invalid,
.ww-input-item .input-wrapper .datetime.ng-touched.ng-invalid {
  -webkit-box-shadow: inset 0px 0px 0px 1px #DD004B;
  box-shadow: inset 0px 0px 0px 1px #DD004B;
}

.ww-input-item .input-wrapper .input .text-input,
.ww-input-item .input-wrapper .datetime .text-input {
  line-height: 3rem;
}

.ww-input-item .input-wrapper .input .datetime-text,
.ww-input-item .input-wrapper .datetime .datetime-text {
  margin: 8px 0;
  line-height: 3rem;
  height: 3rem;
}


page-login .scroll-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  text-align: center;
  color: #fff;
}

page-login .scroll-content .logo {
  height: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

page-login .scroll-content .register-msg {
  font-size: 2rem;
  margin-bottom: 30px;
}

page-login .scroll-content .social-msg {
  padding: 20px 0;
}

page-login .scroll-content .button {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

page-login .scroll-content .button.social-btn {
  width: 90%;
}
