page-broadcast {
  .content-md {
    background-color: $primary;
  }
  #videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  #publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
  }

  .video {
    width: 100%;
    height: auto;
    margin: 50% auto;
    display: block;
  } // .messages-wrap {
  //     overflow: hidden;
  //     bottom: 60px;
  //     height: 290px;
  //     width: 100%;
  // }
  // .messages {
  //     position: absolute;
  //     bottom: 0;
  //     width: 100%;
  //     padding: 10px;
  // }
  .avatar {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    overflow: hidden;
  } // .message {
  //     transition: opacity 3s;
  //     opacity: 1;
  //     color: #fff;
  //     background: #5DCBFD;
  //     display: flex;
  //     align-items: center;
  //     padding: 10px;
  //     margin-bottom: 10px;
  //     border-radius: 4px;
  //     font-size: 14px;
  // }
  // .message.message-fade {
  //     opacity: 0;
  // }
  // .message.message-hidden {
  //     display: none;
  // }
  .message-input {
    width: 80%;
    bottom: 0;
    left: 0;
    input {
      background: #fafafa;
    }
    padding: 10px 10px 20px;
    ion-item {
      background: #fafafa;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.14);
    }
    ion-icon {
      color: #44CADD;
    }
  }

  #livestreams {
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    left-justify: center;
  }

  .videostream {
    background-color: blue;
    min-width: 180px;
    min-height: 180px;
    flex: center;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    vertical-align: top;
  }

  .streamlarge {
    height: 60%;
    min-height: 350px;
    width: 47%;
    background-color: red;
    top: 450px;
    display: inline-block;
    margin: 3px;
    left: 3%;
  }
  .streamMedium {
    height: 30%;
    width: 30%;
    background-color: green;
    display: inline-block;
    float: left;
    z-index: 8;
    margin: 5px;
    margin-top: -30px;
  }

  #user3 {
    top: 10px;
    align: middle;
    justify-content: center;
  }
  #user4 {
    top: 25%;
    z-index: 4;
    float: left;
    display: inline-block;
    left: calc(50vw - 15%);
  }

  #user5 {
    top: 15%;
  }
  #streamOfficial {
    height: 30%;
    width: 30%;
    background-color: purple;
    float: left;
    z-index: 8;
    position: absolute;
    top: 10px;
    left: calc(50vw - 15%);
  }



  .headerBtns {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .background-overlay {
    -webkit-box-shadow: inset -13px -202px 160px -70px rgb(55, 111, 159);
    box-shadow: inset -13px -202px 160px -70px rgb(55, 111, 159);
    min-height: 400px;
    position: absolute;
    bottom: 0; // z-index: 99;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    z-index: -99;
  }

  .item-md[no-lines] {
    background: transparent;
  }

  .mini-btn {
    border-radius: 50%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 4px;
    max-width: 40px;
    max-height: 40px;
    font-size: 10px;
    z-index: 999;
  }

  ion-icon {
    font-size: 2.6rem;
    color: #fff;
  }

  .fullstream {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .emojiLabel {
    position: absolute;
    right: -60px;
    bottom: 8px;
    background: $primary;
    padding: 13px;
    color: #fff;
    border-radius: 8px;
  }
}

.message {
  position: absolute;
  left: -9999px;
  bottom: 100px;
  margin: 0 20px 20px 20px;
}

.message .avatar {
  float: left;
  margin-right: 10px;
  padding-top: 23px;
}

.message .avatar img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  box-sizing: border-box;
}

.message .info {
  float: left;
}

.message .info .name {
  color: #fff;
  margin-bottom: 5px;
  font-size: 15px;
}

.message .info .text {
  box-sizing: border-box;
  min-height: 30px;
  max-width: 400px;
  color: #fff;
  background: #5DCBFD;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 13px;
  border-radius: 3px;
  font-size: 12px;
  font-family: 'Roboto';
}

#brand {
  position: absolute;
  bottom: 80px;
  right: 0;
  margin: 20px;
  color: #fff;
  z-index: 3;
  text-align: right;
  min-width: 100px;
  max-width: 100px;
}

#brand img {
  display: block;
  margin: 10px 0 0 0;
  z-index: 9999;
}

.bottom {
  position: absolute;
  bottom: 10px;
}

#layoutContainer {
  width: 100%;
  height: 100%; 
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.bg-vid {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
  background-color: rgba(0, 0, 0, 0);
  background: url(http://www.youtube.com/watch?v=jhw61SUe-cQ) no-repeat;
  background-size: cover;
  zoom: 1;
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s;
}

.bg-vid-zoom {
  zoom: 2;
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
