<!--
  Generated template for the AddManualModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Manually</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="blankDismiss()">
        <ion-icon name="close" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content [formGroup]="form">
  <ion-list>

    <ion-item>
      <ion-label fixed>Name *</ion-label>
      <ion-input text-right formControlName="name" type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input text-right formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item style="display:none;">
      <ion-label fixed>Phone</ion-label>
      <ion-input text-right formControlName="phone" type="phone"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>
<ion-footer class="footer-sticky" text-center>
   <button full block color="light-blue" ion-button large (click)="dismiss();" [attr.disabled]="form.valid ? null : true">Save and Continue</button>
</ion-footer>
