<ion-header>
  <main-navigation title="My Account" [tabs]="['profile','orders']" (selected-tab)="list_tabs($event)"></main-navigation>
</ion-header>

<ion-content id="page4">
  <div class="details-content">
    <div [ngSwitch]="selected_tab">
      <div *ngSwitchCase="0">

        <ion-list id="myAccount-list5">
          <ion-item text-center>
            <ion-avatar (click)="updateAvatar()" padding class="center-avatar" item-start>
              <img class="large-avatar" [src]="avatar">
            </ion-avatar>
          </ion-item>
          <ion-item-divider class="section-header-text" color="light" id="myAccount-list-item-divider9">
            GENERAL
          </ion-item-divider>
          <ion-item id="myAccount-input8">
            <ion-label color="dark">
              City and State
            </ion-label>
            <ion-input readonly text-right type="text" class="right-g-text" [(ngModel)]="location" placeholder=""></ion-input>
          </ion-item>
          <ion-item id="myAccount-input9">
            <ion-label color="dark">
              Name
            </ion-label>
            <ion-input readonly text-right type="text" class="right-g-text" [(ngModel)]="name" placeholder=""></ion-input>
          </ion-item>
          <ion-item id="myAccount-input10">
            <ion-label color="dark">
              Email Address
            </ion-label>
            <ion-input readonly text-right type="text" class="right-g-text" [(ngModel)]="email" placeholder=""></ion-input>
          </ion-item>
          <ion-item id="myAccount-input11">
            <ion-label color="dark">
              Birthday
            </ion-label>
            <ion-input readonly text-right type="text" class="right-g-text" [(ngModel)]="birthday" placeholder=""></ion-input>
          </ion-item>
          <ion-item id="myAccount-input12">
            <ion-label color="dark">
              Phone
            </ion-label>
            <ion-input text-right type="text" class="right-g-text" [(ngModel)]="phone" placeholder=""></ion-input>
          </ion-item>
          <!-- <ion-item-divider  class="section-header-text" color="light" id="myAccount-list-item-divider10">
            PRIVACY
          </ion-item-divider>
          <ion-item id="myAccount-toggle3">
            <ion-label color="dark">
              Push notifications
            </ion-label>
            <ion-toggle color="calm" mode="ios" [(ngModel)]="notifications_push" checked="true"></ion-toggle>
          </ion-item>
          <ion-item id="myAccount-toggle4">
            <ion-label color="dark">
              Subscribe to Email Notifications
            </ion-label>
            <ion-toggle color="calm" mode="ios" [(ngModel)]="notifications_email" checked="true"></ion-toggle>
          </ion-item> -->
          <ion-item-divider  class="section-header-text" color="light" id="myAccount-list-item-divider11">
            SECURITY
          </ion-item-divider>
          <ion-item id="myAccount-input14">
            <ion-label color="dark">
              Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="password" text-right placeholder=""></ion-input>
          </ion-item>
          <ion-item id="myAccount-input15">
            <ion-label color="dark">
              Confirm Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="confirm_password" text-right placeholder=""></ion-input>
          </ion-item>
        </ion-list>
        <p padding text-center>
            Changes made to your account could impact your events. Read <button ion-button clear small class="terms-btn">Terms of Service</button> before updating your account information.
        </p>
      </div>
      <div *ngSwitchCase="2" padding>
        <ion-list class="payment-section">
          <ion-item class="payment-pic" no-lines text-center text-wrap>
              <ion-icon name="card"></ion-icon>
              <h1 class="banner-head">Enter your card details for payment.</h1>
          </ion-item>
          <ion-list class="payment-text-list" no-lines>
            <ion-item no-lines class="border-btm">
                <ion-label class="left-g-text" text-left item-start>Card number</ion-label>
                <!-- <ion-label class="right-g-text" text-right item-end></ion-label> -->
                <ion-input type="text" [(ngModel)]="card.number" text-right></ion-input>
            </ion-item>
            <ion-item no-lines class="border-btm">
                <ion-label class="left-g-text" text-left item-start>Name on Card</ion-label>
                <!-- <ion-label class="right-g-text" text-right item-end></ion-label> -->
                <ion-input type="text" [(ngModel)]="card.name" text-right></ion-input>
            </ion-item>
            <ion-item no-lines class="border-btm">
                <ion-label class="left-g-text" text-left item-start>Expires</ion-label>
                <ion-input type="date" [(ngModel)]="card.expires" text-right></ion-input>
            </ion-item>
            <ion-item no-lines class="border-btm">
                <ion-label class="left-g-text" text-left item-start>CCV</ion-label>
                <ion-input type="date" [(ngModel)]="card.ccv" text-right></ion-input>
            </ion-item>
            <ion-item no-lines class="border-btm">
                <ion-label class="left-g-text text" text-left item-start>Zip</ion-label>
                <ion-input type="string" [(ngModel)]="card.zip" text-right></ion-input>
            </ion-item>
            <ion-item no-lines text-center text-wrap>
              <ion-label>Payment are powered by Stripe. Read the Full <button ion-button clear small (click)="termsOfService()" class="terms-btn">Terms of Service</button> before adding payment.</ion-label>
            </ion-item>
          </ion-list>

       </ion-list>
      </div>
      <div *ngSwitchCase="1">
        <ion-list no-lines>
          <ion-item *ngFor="let order of orders;" (click)="gotoOrder(order)"  class="order">
            <ion-grid>
              <ion-row>
                <ion-col col-9>
                  <h2 class="order-header-color" color="primary">{{order.title}}</h2>
                  <p>{{order.date * 1000 | date}}</p>
                </ion-col>
                <ion-col col-3 text-right>
                  <strong text-right>${{order.price}}</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="selected_tab == 0" class="footer-sticky" text-center>
  <button (click)="updateProfile()" full block color="light-blue" ion-button large>Update and Save</button>
</ion-footer>
<!-- <ion-footer *ngIf="selected_tab == 1" class="footer-sticky" text-center>
  <button disabled="disabled" (click)="storePaymentMethod()" full block color="light-blue" ion-button large>Store Payment Method</button>
</ion-footer> -->
