<!-- Generated template for the ShareComponent component -->
<ion-item no-lines text-center class="margin-item" (click)="share()">
  <button color="primary" class="mini-btn" [ngClass]="hasShare ? 'active' : 'disabled'">
    <ion-icon name="share-alt" class="share-icon"></ion-icon>
  </button>
  <h6 class="mini-text" *ngIf="hasTitle">Share</h6>
</ion-item>
