<ion-navbar color="primary">
  <button ion-button icon-only menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title *ngIf="navTitle==''">
    <!-- {{navTitle}} -->
    <img src="assets/images/WebWed-Logo.svg" style="max-width:80px;padding-top:5px;"/>
  </ion-title>
  <ion-title *ngIf="navTitle!=''">
    {{navTitle}}
  </ion-title>

  <ion-buttons end>
    <button ion-button icon-only (click)="gotoDashboard()">
      <ion-icon name="heart"></ion-icon>
    </button>
    <button ion-button icon-only (click)="gotoNotifications()">
      <ion-icon name="notifications"></ion-icon>
    </button>
    <button ion-button icon-only (click)="gotoProfile()">
      <ion-icon name="contact"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
<div class="segment-tab" *ngIf="tabs!=false">
   <ion-segment [(ngModel)]="selected_tab_identifier">
     <ion-segment-button *ngFor="let tab of tabs; let i = index;" (click)="selectTab(i)" value="{{tab}}">
       {{tab}}
     </ion-segment-button>
   </ion-segment>
 </div>
