main-navigation {
  #notification-button {
            position: relative;
            width: 32px;
            top:1px;
            right: 1px;
            overflow: visible!important;
        }


   #notifications-badge {
            background-color: red;
            position: absolute;
            top: -3px;
            right: -3px;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            padding: 4px;
        }
}
