<ion-header>
  <ion-navbar class="sub-toolbar">
    <ion-title>
      Create an Event
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content [formGroup]="form">
   <ion-item no-lines class="create-event-banner" (click)="pickImage()" [ngStyle]='getBackgroundStyle()' text-center>
        <ion-item class="add-photo-content" text-center>
          <!-- <input type="file" fileinput="file" filepreview="filepreview"/> -->
          <ion-icon name="ios-camera-outline" class="camera-icon"></ion-icon>
          <h2 class="photo-text">Add Photo</h2>
        </ion-item>
    </ion-item>
    <ion-list class="event-details-container">
      <ion-item text-left no-lines class="event-details-text">
        <h2 class="photo-text" text-left>EVENT DETAILS</h2>
      </ion-item>
      <ion-item class="wed-event-title" padding>
        <!-- <ion-grid> -->
          <!-- <ion-row ion-item> -->
            <!-- <ion-col col-6 text-left> -->
              <ion-label>
                <h2 class="e-details-title e-head">Title</h2>
              </ion-label>
            <!-- </ion-col> -->
            <!-- <ion-col col-6 text-right> -->
              <ion-input formControlName="title" text-right type="text" class="e-wed-title e-head" placeholder="e.g. Jane & John's Wedding" clearInput></ion-input>
            <!-- </ion-col> -->
          <!-- </ion-row> -->
        <!-- </ion-grid> -->
      </ion-item>

      <ion-item class="wed-event-title">
          <ion-label>Event Date</ion-label>
          <ion-datetime formControlName="date" ion-displayFormat="MM/DD" max="2099-01-01" placeholder="Date"></ion-datetime>
        <!-- </ion-item> -->
         <!-- <ion-grid>
          <ion-row>
            <ion-col col-4 text-left>
              <h2 class="e-details-title e-head">When</h2>
            </ion-col>
            <ion-col col-8>
                <h2><a>Specfic time and date <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon></a></h2>
                <ion-note><ion-icon name="ios-calendar-outline" mini></ion-icon> July 10th 2017</ion-note>
                <ion-note><ion-icon name="ios-time-outline" mini></ion-icon> 4:30 PM</ion-note>

            </ion-col>
          </ion-row>
        </ion-grid> -->
      </ion-item>
      <ion-item class="wed-event-title">
          <ion-label>Time</ion-label>
          <ion-datetime formControlName="time" ion-displayFormat="hh:mm A" pickerFormat="hh:mm A" placeholder="Time"></ion-datetime>
        <!-- </ion-item> -->
         <!-- <ion-grid>
          <ion-row>
            <ion-col col-4 text-left>
              <h2 class="e-details-title e-head">When</h2>
            </ion-col>
            <ion-col col-8>
                <h2><a>Specfic time and date <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon></a></h2>
                <ion-note><ion-icon name="ios-calendar-outline" mini></ion-icon> July 10th 2017</ion-note>
                <ion-note><ion-icon name="ios-time-outline" mini></ion-icon> 4:30 PM</ion-note>

            </ion-col>
          </ion-row>
        </ion-grid> -->
      </ion-item>
       <ion-item class="wed-event-title" no-lines>
         <ion-grid>
          <ion-row>
            <ion-col col-12 text-left>
              <h2 class="e-details-title e-head">Live Stream Time</h2>
            </ion-col>
          </ion-row>
           <ion-row text-center class="grp-col">
            <ion-col *ngFor="let _package of packages;" (click)="changePackage(_package.id)" [ngClass]="{'blue-bg': (_package.id == package)}" col-3>
              <h3 class="">{{_package.title}}</h3>
              <h2 class="">${{_package.price}}</h2>
            </ion-col>
            <!-- <ion-col col-3 class="blue-bg">
              <h3 class="">30 Minutes</h3>
              <h2 class="">$50</h2>
            </ion-col>
             <ion-col col-3>
             <h3 class="">1 Hours</h3>
              <h2 class="">$60</h2>
            </ion-col>
            <ion-col col-2>
              <h3 class="">2 Hours</h3>
              <h2 class="">$65</h2>
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item text-left no-lines class="event-details-text">
        <h2 class="photo-text" text-left>Premium Add-ons</h2>
      </ion-item>
      <ion-list class="premium-feature-list">
        <ion-item *ngFor="let addon of addons; let i = index;">
          <ion-checkbox color="primary" item-start formControlName="addon{{i}}" clear></ion-checkbox>
          <ion-label item-right>{{addon.title}}</ion-label>
          <ion-label item-end text-right>{{addon.price==0 ? 'Free' : '$' + addon.price}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="premium-feature-list">
         <ion-item no-lines text-center text-wrap>
           <p>By continuing I have read and understand the <button ion-button clear small (click)="termsOfService()" class="terms-btn">Terms of Service</button>.</p>
         </ion-item>
      </ion-list>
    </ion-list>
</ion-content>
 <ion-footer class="footer-sticky" text-center>
    <button ion-button [attr.disabled]="form.valid ? null : true" clear (click)="submit();">Continue</button>
 </ion-footer>
