<!--
  Generated template for the OfficiantDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>officiant-details</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content>
    <ion-card class="officiant-details-card" style="background-color: #1658a0;">
      <button ion-button item-end clear (click)="dismiss()" class="dismiss-btn" style="z-index:9999;">
        <ion-icon name="close-circle"></ion-icon>
      </button>
     <img src="assets/images/Background.svg" style="opacity:.3"/>
     <div class="card-user">
          <!-- <img src="{{officiant.personal.avatar}}"> -->
          <avatar item-start [user]="officiant.personal.id"></avatar>
     </div>
      <div class="card-subtitle">{{officiant.personal.name.full}}</div>
    </ion-card>
  <!-- <ion-list class="mrgn-btm">
    <ion-grid>
      <ion-row text-center no-lines>
        <ion-col col-6>
          <share [user]="officiant.personal.id"></share>
        </ion-col>
        <ion-col col-6>
          <ion-item no-lines text-center item-start class="officiant-social-btn">
              <button class="mini-btn" color="light">
                <ion-icon name="star" class="star-icon white-icon"></ion-icon>
              </button>
            <h6 class="mini-text">Invited</h6>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list> -->
  <ion-list class="mrgn-btm">
    <ion-item text-left class="officiant-details-general-text">
      <h2 class="general-text" text-left>General</h2>
    </ion-item>
    <ion-item class="light-blue-bg">
      <ion-icon name="ios-pin-outline" item-start></ion-icon>
      {{officiant.personal.location.city}}, {{officiant.personal.location.state}}
    </ion-item>
    <ion-item class="light-blue-bg">
     <ion-icon name="ios-mail-outline" item-start></ion-icon>
      {{officiant.personal.email}}
    </ion-item>
    <ion-item class="light-blue-bg">
      <ion-icon name="ios-call-outline" item-start></ion-icon>
      {{officiant.personal.phone}}
    </ion-item>
  </ion-list>
  <!-- <ion-item text-wrap no-lines>
    <p>{{officiant.officiant.description}}</p>
  </ion-item> -->
  <!-- <ion-item text-left class="officiant-details-general-text">
    <h2 class="general-text" text-left>About</h2>
  </ion-item>
  <ion-list class="qa-list">
    <ion-item *ngFor="let question of officiant.officiant.questions;" text-wrap no-lines>
      <p>{{question.question}}</p>
      <h3>{{question.answer}}</h3>
    </ion-item>
  </ion-list> -->
  <ion-item text-left class="officiant-details-general-text">
    <h2 class="general-text" text-left>Other</h2>
  </ion-item>
  <ion-list>
    <ion-item>
      <h3 item-start text-left><ion-icon name="star" color="light" small class="mini-star-icon"></ion-icon> Fees</h3>
      <h2 item-end text-right class="price-text">${{officiant.officiant.fee}}</h2>
    </ion-item>
    <!-- <ion-item text-right>
      <h3 item-start text-left>Availability</h3>
      <ion-row item-end>
        <ion-col text-right>
            <button *ngFor="let available of Object.keys(officiant.availability); let day = index;" ion-button clear small class="day-btn">
              {{available}}
            </button>
        </ion-col>
      </ion-row>
    </ion-item> -->
  </ion-list>
</ion-content>
<ion-footer class="footer-sticky" text-center>
    <button ion-button clear (click)="invite();">Invite to Officiate</button>
</ion-footer>
