page-officiant-details {
    ion-card.officiant-details-card {
        position: relative;
        text-align: center;
    }
    .card-md.officiant-details-card, .card-ios.officiant-details-card{
        margin: 0;
        width: calc(100% - 0px);
    }
    .officiant-details-card .card-user{
        position: absolute;
        bottom: 35%;
        width: 100%;
        left: 0;
        right: 0;
        text-align: center;
    }
    .officiant-details-card .card-user img{
        border-radius: 50%;
        overflow: hidden;
        width: 70px;
        height: 70px;
        border:2px solid #fff;
        margin: auto;
    }
    
    .officiant-details-card .card-subtitle {
        position: absolute;
        bottom: 20%;
        width: 100%;
        font-weight: 300;
        color: #fff;
        font-size: 1.6rem;
    }
    .dismiss-btn{
        position: absolute;
        right: 0;
    }
    .dismiss-btn ion-icon{
        font-size: 3rem;
        color: #021c35;
    }
    .mini-btn{
        border-radius: 50%;
        position: relative;
        z-index: 0;
        overflow: hidden;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 4px;
    }
    .white-icon{
        color: #fff;
        font-size: 2.6rem;
    }
    .blue-bg{
        background-color: #00bcd4;
    }
    .officiant-social-btn .label-md, .officiant-social-btn .label-ios{
        margin: 0;
    }
    h6.mini-text{
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-top: 8px;
        color: #999;
    }
    .item-md.officiant-details-general-text, .item-ios.officiant-details-general-text{
        background-color: #f1f1f1;
        color: #488aff;
        text-transform: uppercase;
    }
    h2.general-text {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
    .light-blue-bg .label-md, .light-blue-bg .label-ios{
        color: #488aff;
        font-size: 1.4rem;
    }
    .mrgn-btm.list-ios, .mrgn-btm.list-md {
        margin: -1px 0 8px;
    }
    .qa-list h3{
        font-weight: 500;
    }
    .mini-star-icon{
        color: #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 1.5rem;
        text-align: center;
        line-height: 20px;
        margin-right: 10px;
        background-color: #ffc125;
    }
    .button-small-md.day-btn, .button-small-ios.day-btn{
        font-size: 1.4rem;
        padding: 0;
        margin: 0;
        text-transform: capitalize;
    }
    .footer-sticky{
        background-color:#00bcd4;
        color: #fff;
        font-size: 1.8rem;
        padding: 1rem;
        position:fixed; 
        bottom:0px;
        left:0px;
        right:0px;
    }
     .footer-sticky .button-clear-md, .footer-sticky .button-clear-ios{
        color: #fff;
        text-transform: none;
        font-size: 1.8rem;
        font-weight: 300;
     }
}
