#livestreams{
  display: block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  left-justify: center;
}

.fullstream {
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  margin:0;
  padding:0;
}

#layoutContainer {
    width: 100%;
    height: 100%;
    position:relative;
}

.container > * {
  transition-property: all;
  transition-duration: 0.5s;
}
