page-event-completed .scroll-content {
  padding-bottom: 0 !important;
}

page-event-completed ion-slides.fullHeight .swiper-wrapper {
  height: 100% !important;
}

page-event-completed ion-slides.fullHeight .swiper-wrapper .swiper-slide.swiper-slide-active {
  height: 100vh !important;
}

page-event-completed p, page-event-completed h1 {
  color: #fff;
}

page-event-completed .ww-input-item {
  padding: 0 30px;
}

page-event-completed .buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

page-event-completed .buttons button {
  margin: 0;
}

page-event-completed .buttons button.button {
  height: 4em;
  max-height: 4em;
}

page-event-completed .input-annotation {
  color: #CFD8DC;
  text-align: left;
  margin: 15px 30px 0;
  font-size: 1.4rem;
}

page-event-completed .terms {
  color: #fff;
  text-align: left;
  font-size: 1.4rem;
  margin: 0 30px;
}

page-event-completed .congratulations-msg {
  position: absolute;
  top: 30%;
  text-align: center;
  width: 50%;
  padding: 0;
  margin: 0;
  left: 25%;
}

page-event-completed .congratulations-msg p {
  font-size: 1.4rem;
}

page-event-completed .logo {
  height: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  color: #fff;
}

page-event-completed .pager {
  top: 20%;
  left: 30px;
  color: #fff;
}

page-event-completed .top-btn {
  top: 20px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  background-color: #5AABD3;
  color: #fff;
}

page-event-completed .top-btn.top-btn-right {
  right: 20px;
}

page-event-completed .top-btn.top-btn-left {
  left: 20px;
}
