<!-- Generated template for the CWedCardComponent component -->
<!-- <ion-item-sliding #item>
  <ion-item class="card-main-item"> -->
<ion-card *ngIf="type=='event'">
  <img [src]="cardImage" (click)="gotoWedDetails();" style="min-height:150px;"/>
  <!-- <div [ngStyle]="getBackgroundStyle()" (click)="gotoWedDetails();"></div> -->
  <button ion-button large color="primary" class="actv-btn btn-pad play-btn" *ngIf="event_status==2" (click)="play()">
    <ion-icon name="play" class=""></ion-icon>
  </button>
  <ion-card-content class="card-text-content">
    <ion-card-title class="card-color-title">
      {{cardHeader}}
    </ion-card-title>
    <p class="card-subtitle-text">
      {{cardSubHeader*1000 | date:"MMM dd yyyy 'at' hh:mm a"}}
    </p>

  </ion-card-content>
  <ion-row>
    <ion-col>
      <ion-item class="user-avatar-list">
        <avatar item-start *ngFor="let participant of cardParticipants" [user]="participant.personal.id" [name]="participant.personal.name.full" [showName]="true"></avatar>
        <!-- <ion-avatar item-start *ngFor="let participant of cardParticipants">
          <img src={{participant.personal.avatar}}>
        </ion-avatar> -->
      </ion-item>
    </ion-col>
  </ion-row>
</ion-card>
<!-- </ion-item>
    <ion-item-options side="right" class="right-slide-items" no-lines text-center>
      <div class="slide-item-details">
        <h6>Respond to this <br />invitation with</h6>
        <button ion-button class="actv-btn btn-pad">Accepted</button>
        <button ion-button class="outln-btn btn-pad">tenative</button>
        <button ion-button class="outln-btn">Unable to attend</button>
      </div>
    </ion-item-options>
</ion-item-sliding> -->
