c-wed-card {
  .card-title-md.card-color-title, .card-title-ios.card-color-title{
        color: #043f7b;
        margin: 0;
        font-weight: 800;
    }
    p.card-subtitle-text{
        color: #043f7b;
        font-size: 1.5rem;
    }
    .item-ios.user-avatar-list, .item-md.user-avatar-list{
        padding-left: 12px;
    }
   .item-md.user-avatar-list ion-avatar[item-start], .item-ios.user-avatar-list ion-avatar[item-start]{
        margin: 8px 8px 8px 0;
    }
    .card-content-md.card-text-content{
        padding:13px 16px 0;
    }
    .list-md.card-main-list, .list-ios.card-main-list{
        margin: -1px 0 0;
    }
    .item-md.card-main-item, .item-ios.card-main-item{
        padding-left: 0;
    }
    .card-main-item .label-md, .card-main-item .label-ios{
        margin: 0;
    }
    .item-md.card-main-item.item-block .item-inner, .item-ios.card-main-item.item-block .item-inner{
        padding-right: 0;
    }
    .right-slide-items{
        padding: 10px 0;
    }
    .list-md ion-item-options.right-slide-items,  .list-ios ion-item-options.right-slide-items{
        border-bottom: none;
    }
    .slide-item-details{
        background-color: #044988;
        color: #fff;
        text-align: center;
        padding: 40px 20px;
    }
    ion-item-options.right-slide-items .button{
        display: block;
        text-align: center;
        margin: 20px auto;
        border-radius: 64px;
        padding: 0 1rem;
        height: 3.3em;
        font-size: 1.1rem;
        color: #fff;
    }
    ion-item-options.right-slide-items .button.actv-btn{
        background-color: #7fde9b;
    }
     ion-item-options.right-slide-items .button.outln-btn{
        border-color: #fff;
        background-color: transparent;
        border:1px solid #fff;
    }
    ion-item-options.right-slide-items h6{
        font-weight: 300;
        margin-bottom:30px;
    }
    ion-item-options.right-slide-items .button.btn-pad{
        padding: 0 3.5rem;
    }

    .play-btn {
      float: left;
      margin-top: -150px;
      margin-left: 43%;
    }
}
