<!--
  Generated template for the CheckoutDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div text-center>
    <h2>Complete Checkout</h2>
    <p>All participants will be granted access to modify details and manage guest list on your behalf.</p>
  </div><br/>
  <ion-item-group>
    <ion-item text-left no-lines class="event-details-text">
      <h2 class="photo-text" text-left>Order Details</h2>
    </ion-item>
    <ion-item class="order">
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            <h2 color="primary" style="color:#075193">{{package.title}}</h2>
            <p>Event Package</p>
          </ion-col>
          <ion-col col-3 text-right>
            <h2 text-right>${{package.price}}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngFor="let detail of addons" class="order">
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            <h2 color="primary" style="color:#075193">{{detail.title}}</h2>
            <p>Premium Addon</p>
          </ion-col>
          <ion-col col-3 text-right>
            <h2 text-right>${{detail.price}}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item class="order">
      <ion-grid>
        <ion-row>
          <ion-col col-8></ion-col>
          <ion-col col-4 text-right>
            <h2 text-right><strong text-right>Sub Total ${{subtotal}}</strong></h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-item-group>
  <!-- <ion-item-group>
    <ion-item text-left no-lines class="event-details-text">
      <h2 class="photo-text" text-left>Payment Details</h2>
    </ion-item>
    <ion-item class="order">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            Card Number
          </ion-col>
          <ion-col col-6 text-right>
            **** **** **** 1234
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-item-group> -->
  <ion-item-group>
    <ion-item text-left no-lines class="event-details-text">
      <h2 class="photo-text" text-left>Order Total</h2>
    </ion-item>
    <!-- <ion-item class="order">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            Discount Code
          </ion-col>
          <ion-col col-6 text-right>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->
    <ion-item class="order">
      <ion-grid>
        <ion-row>
          <ion-col col-6></ion-col>
          <ion-col col-6 text-right>
            <!-- <p color="green" style="color:green;">Discount Applied - $10</p><br/> -->
            <h2><strong>Total ${{subtotal}}</strong></h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-item-group>
  <div text-center>
    <p>Payments are powered by Stripe. Read the full <a color="primary">Terms of Service</a> before checkout.</p>
  </div><br/>
</ion-content>
<ion-footer class="footer-sticky" text-center>
   <button ion-button clear (click)="checkout()">Submit</button>
</ion-footer>
