page-checkout-details {
  .toolbar-background-md, .toolbar-background-ios {
     border-color: #5aabd3;
     background: #5aabd3;
     color: #fff;
 }
 .toolbar-title-md, .toolbar-title-ios{
     color: #fff;
 }
 ion-list.event-details-container{
     background-color: #f7f7f7;
 }
 .event-details-container .item-md, .event-details-container .item-ios{
     background-color: transparent;
 }
  .item-md.event-details-text, .item-ios.event-details-text{
     background-color: #efefef;
     color: #a2a2a2;
     text-transform: uppercase;
 }
 .create-event-banner{
     background-color: #043f7b;
     padding: 20px 0;
 }
 h2 {
   font-size: 1.4em;
   font-weight:400;
 }

 strong {
   font-weight: 500;
   font-size: 1.2em;
   color: rgba(0,0,0,.8);
   text-align: left;
 }

 p {
   
 }

 .add-photo-content{
     background-color: transparent;
 }
  .add-photo-content input, .item-ios.add-photo-content input {
     position: absolute;
     font-size: 2000px;
     z-index: 200;
     top: 0;
     right: 0;
     opacity: 0;
     cursor: pointer;
 }
 .add-photo-content span, .item-ios.add-photo-content span {
     display: block;
     padding: 0;
     text-align: center;
 }
 .add-photo-content ion-icon{
     font-size:8rem;
     color: #00bcd4;
 }
 .add-photo-content h2{
     color: #00bcd4;
 }
 .e-head{
     font-size:1.8rem;
 }
 .e-details-title{
     font-size:1.5rem;
     color: #a2a2a2;
 }
 .wed-event-title{
    padding-right: 16px;
 }
 .wed-event-title .label-md, .wed-event-title .label-ios {
     margin: 8px 0px 8px 0;
 }
 .wed-event-title ion-note{
     font-size: 12px;
     -webkit-align-self: flex-start;
     -ms-flex-item-align: start;
     align-self: flex-start;
     margin-top: 8px;
     color: #424242;
     margin-right: 10px;
 }

 .grp-col h3{
     font-size: 1.2rem;
     color: #043f7b;
     margin: 5px 0;
 }
 .grp-col h2{
     color: #043f7b;
     margin: 5px 0;
 }
 .blue-bg{
     background-color: #00bcd4;
     border-radius: 10px;
     color: #fff;
     padding-left: 0;
     padding-right: 0;
 }
 .blue-bg h2, .blue-bg h3{
      color: #fff;
 }
 h2.photo-text {
     font-size: 1.2rem;
     letter-spacing: 1px;
 }
  .bright-color{
   background-color: #ffc125;
 }
 .mini-star-btn{
     border-radius: 50%;
     position: relative;
     z-index: 0;
     overflow: hidden;
     width: 20px;
     height: 20px;
     text-align: center;
     line-height: 4px;
     margin-right: 10px;
 }
  .mini-star-btn ion-icon{
     line-height: 20px;
     top: 0;
     position: absolute;
     left:4px;
  }
 .premium-feature-list .label-md, .premium-feature-list .label-ios {
     margin: 8px 8px 8px 0;
 }
  .footer-sticky{
     background-color:#00bcd4;
     color: #fff;
     font-size: 1.8rem;
     padding: 1rem;
     position:fixed;
     bottom:0px;
     left:0px;
     right:0px;
 }
  .footer-sticky .button-clear-md, .footer-sticky .button-clear-ios{
     color: #fff;
     text-transform: none;
     font-size: 1.8rem;
     font-weight: 300;
  }
}
