<!--
  Generated template for the MarriageEducationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Marriage Education</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="registry-container" padding text-center>
    <h2>Marriage Educational Training</h2>
    <p>Watch the video series by clicking the link below. When you complete the video training you will be awarded your certification for completing your free training.</p>

    <iframe src="https://www.youtube.com/embed/AaEHO4Pyru0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br/>

    <button (click)="completedTraining()" ion-button full color="primary">Completed Training</button>
  </div><br/>
</ion-content>
