page-marriage-education {
  .toolbar-background-md, .toolbar-background-ios {
      border-color: #5aabd3;
      background: #5aabd3;
      color: #fff;
  }
  .toolbar-title-md, .toolbar-title-ios{
      color: #fff;
  }
  .registry-content {
      background-color: #e0e4e6;
  }

  p {
    color: rgba(0,0,0,.5);
  }

  h2 {
    color: $primary;
    font-weight: 400;
    font-size: 1.4em;
  }

  .registry-container {
    background-color: #fff;
  }

  .registry-container .item-md h2, .registry-container .item-ios h2 {
      margin: 2px 0 10px;
      font-size: 1.8rem;
  }
   ion-input.copyboard-input{
      border: 1px solid #666;
      border-radius: 2px;
      color: #898989;
      font-size: 13px;

    }
    ion-input.copyboard-input .text-input{
      display: block;
      overflow: hidden;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .registry-container.list-md .item-input:last-child, .registry-container.list-ios .item-input:last-child{
        border-bottom:none;
        padding-bottom: 20px;
    }
   .registry-container.list-md .item-input.item-input-has-focus:last-child, .registry-container.list-md .item-input.item-input-has-focus:last-child{
      border-bottom-color: transparent;
      box-shadow: none;
    }
    .footer-sticky{
      background-color:#00bcd4;
      color: #fff;
      font-size: 1.8rem;
      padding: 1rem;
      position:fixed;
      bottom:0px;
      left:0px;
      right:0px;
  }
   .footer-sticky .button-clear-md, .footer-sticky .button-clear-ios{
      color: #fff;
      text-transform: none;
      font-size: 1.8rem;
      font-weight: 300;
   }
}
