<ion-item no-lines text-center class="margin-item">
  <button class="mini-btn" [ngClass]="hasOptions ? 'bright-color' : 'disabled'">
    <ion-icon name="star" class="share-icon"></ion-icon>
  </button>
  <h6 class="mini-text">Options</h6>
</ion-item>
