sub-navigation {
  .toolbar-background-md, .toolbar-background-ios {
      border-color: #5aabd3;
      background: #5aabd3;
      color: #fff;
  }
  .toolbar-title-md, .toolbar-title-ios, .back-button{
      color: #fff;
  }
  .details-content{
      background-color: #d3dbdf;
  }
  .segment-tab{
      background-color: #5aabd3;

  }
  .segment-tab .segment-md .segment-button, .segment-tab .segment-ios .segment-button{
      color: #fff;
      font-size: 1.4rem;
  }
  .segment-tab .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated, .segment-tab .segment-ios .segment-button.activated, .segment-ios .segment-button.segment-activated {
      border-color: #3d8cb3;
      opacity: 1;
      border-bottom-width: 4px;
  }
}
