<ion-navbar>
  <ion-title *ngIf="navTitle==''">
    <!-- {{navTitle}} -->
    <img src="assets/images/WebWed-Logo.svg" style="max-width:80px;padding-top:5px;"/>
  </ion-title>
  <ion-title *ngIf="navTitle!=''">
    {{navTitle}}
  </ion-title>
</ion-navbar>
<div class="segment-tab" *ngIf="tabs!=false">
   <ion-segment [(ngModel)]="selected_tab_identifier">
     <ion-segment-button *ngFor="let tab of tabs; let i = index;" (click)="selectTab(i)" value="{{tab}}">
       {{tab}}
     </ion-segment-button>
   </ion-segment>
 </div>
