<ion-menu [content]="content">
  <!-- <ion-header>
    <ion-list no-lines>
      <ion-item text-center>
        <ion-avatar class="center-avatar" item-start>
          <img class="large-avatar" src="assets/images/user-avatar3.png">
        </ion-avatar>
      </ion-item>
      <ion-item text-center>
        <ion-title color="primary">Jane Doe</ion-title>
      </ion-item>
      <ion-item text-center>
        <a color="light-blue">Sign Out</a>
      </ion-item>
    </ion-list>
  </ion-header> -->
  <ion-content>
    <ion-list text-center no-lines>
      <ion-item text-center>
        <ion-avatar class="center-avatar" item-start>
          <img class="large-avatar" [src]="user.avatar">
        </ion-avatar>
        <!-- <avatar class="center-avatar" item-start [user]="1"></avatar> -->
      </ion-item>
      <ion-item text-center>
        <ion-title clear color="primary" class="primary">{{user.name}}</ion-title><br/>
        <button ion-button clear color="light-blue" (click)="signOut()">Sign Out</button>
      </ion-item>
      <button text-left ion-item (click)="createEvent()">
        <ion-icon style="padding-left:10px; padding-right:10px;" name="people" color="dark"></ion-icon>
        Create an Event
      </button>
      <button text-left ion-item (click)="myEvents()">
        <ion-icon style="padding-left:10px; padding-right:10px;" name="heart" color="dark"></ion-icon>
        My Events
      </button>
      <button text-left ion-item (click)="orderHistory()">
        <ion-icon style="padding-left:10px; padding-right:10px;" name="star" color="dark"></ion-icon>
        Order History
      </button>
      <button text-left ion-item (click)="myAccount()">
        <ion-icon style="padding-left:10px; padding-right:10px;" name="contact" color="dark"></ion-icon>
        My Account
      </button>
      <button text-left ion-item (click)="termsOfService()">
        <ion-icon style="padding-left:10px; padding-right:10px;" name="star" color="dark"></ion-icon>
        Legal and Terms
      </button>
      <button text-left ion-item (click)="becomeOfficiant()">
        <ion-icon style="padding-left:10px; padding-right:10px;" name="contact" color="dark"></ion-icon>
        Become an Officiant
      </button>
    </ion-list>

    <div id="brand" style="background: #075193;
width: 100%;
max-width: 100%;
padding: 10px;
margin: 0;
bottom: 0;">
      <img style="padding: 0px 80px 0px 80px;" src="assets/images/WebWed-Logo.svg">
    </div>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
