<!--
  Generated template for the BroadcastPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content style="background:transparent;">
  <!-- <div id="user1" class="videostream streamlarge" [ngClass]="((numberOfParticipants==1) ? 'fullstream' : 'multiplestream')"></div>
    <div id="user2" *ngIf="numberOfParticipants >= 2" class="videostream streamlarge"></div> -->
  <!--The four users below are serpated according to their role. So not all of these will be used and at most 5. Most likely drop 5 for officant -->
  <!-- <div id="user3" *ngIf="numberOfParticipants >= 3" class="videostream streamMedium"></div>
    <div id="user4" *ngIf="numberOfParticipants >= 4" class="videostream streamMedium"></div>
    <div id="user5" *ngIf="numberOfParticipants >= 5" class="videostream streamMedium"></div>
    <div id="streamOfficial"  class="videostream streamOfficial"></div> -->
  <div id="layoutContainer">
        <div id="publisherContainer"></div>
    </div>
  <!-- <video id="videostream" class="bg-vid isOn" [src]="hlsLink" autoplay="true" preload="auto" webkit-playsinline controls="false" [ngClass]="{active: isOn, disabled: bg-vid-zoom}" (click)="toggle(!isOn)"></video> -->
  <div class="headerBtns" end>

    <button *ngIf="guest" ion-button class="mini-btn" icon-only (click)="close()">
      <ion-icon name="close"></ion-icon>
    </button>
  </div>
  <ion-grid *ngIf="!guest" class="bottom">
      <ion-row text-center>
        <ion-col col-4>
          <ion-item no-lines text-center class="margin-item">
            <button (click)="flipCamera()" class="mini-btn disabled">
              <ion-icon name="refresh" class="share-icon"></ion-icon>
            </button>
          </ion-item>
        </ion-col>
        <ion-col col-4 text-center>
          <broadcast-count-down
            [progress]="countdownRemaining"
            [state]="currentCountDownState"
            [width]="'100'"
            [track-color]="countdownColor"
            [placeholder-color]="'#d6d8db'"
            [max]="maxCountDown"
            [backgroundUrl]="countdownBackgroundURL"
            (click)="countdownClicked()"
            ></broadcast-count-down>
        </ion-col>
        <ion-col col-4>
          <ion-item no-lines text-center class="margin-item">
            <button (click)="mute()" class="mini-btn disabled">
              <ion-icon name="volume-off" *ngIf="isMuted" class="share-icon"></ion-icon>
              <ion-icon name="volume-up" *ngIf="!isMuted" class="share-icon"></ion-icon>
            </button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  <div class="message-input" *ngIf="guest" ion-fixed>
    <ion-item no-lines mode="ios">
      <ion-label (click)="sendMessage()" tappable>
        <ion-icon name="ios-chatbubbles"></ion-icon>
      </ion-label>
      <ion-input (keyup.enter)="sendMessage()" placeholder="Share a group message" [(ngModel)]="message" #input></ion-input>
    </ion-item>
    <ion-label class="emojiLabel" (click)="pickEmoji()" item-end tappable>
      <ion-icon color="light" name="images"></ion-icon>
    </ion-label>
  </div>
  <div class="background-overlay" *ngIf="guest"></div>
  <div id="brand">
    <img src="assets/images/WebWed-Logo.svg">
  </div>
</ion-content>
