<!--
  Generated template for the PickContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Import Contacts</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="done-all" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group *ngFor="let letter of letters;">
    <ion-item-divider color="light" *ngIf="hasContacts(letter)">{{letter.toUpperCase()}}</ion-item-divider>
    <ion-item *ngFor="let contact of headers[letter];" [ngClass]="selectedContacts['contact'+contact.id] ? 'selected' : 'not-selected'" (click)="selectContact(contact.id)">
        <!-- <ion-checkbox [(ngModel)]="test" checked="false" [ngModelOptions]="{standalone: true}" color="primary"></ion-checkbox> -->
        <ion-label>{{contact.name.formatted}}</ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
