// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-segment {
  padding-top: 12px;
}

.button-md {
  margin: 0;
}

input {
  color:#000;
}

.card-md h2 {
  font-size: 2rem;
}

.card-md p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  color: rgb(114,114,114);
}

.bright-color{
    background-color: #ffc125;
}
.white-bg{
    background-color: #fff;
}
.list-ios.white-bg {
    margin: -1px 0 16px;
}
.mini-star-btn{
    border-radius: 50%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 4px;
    margin-right: 10px;
}

.large-avatar {
  width: 80px !important;
  height: 80px !important;
  margin: 0 auto !important;
}

.center-avatar {
  display: block;
  width:100%;
  margin: 0 auto !important;
}

.gapped {
  margin-top: 80px;
}

.primary {
  color: $primary;
}

ion-segment {
  padding-top: 0;
}
