circular-progress-bar{
    .round-progress {
        background-repeat: no-repeat;
        overflow: hidden;
        width: 100%;
    } 

    .child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    .outerDiv {
        width:100%; 
        height: 100%; 
        position: relative;
    }

    .overlayDiv {
        background-color:black;
        opacity: 0.5; 
        width:100%; 
        height: 100%;
    }
}
