avatar {
  .sign-badge {
      color: #fff;
      background-color: #38ce82;
      text-transform: uppercase;
      font-size: 1rem;
      border-radius: 30px;
      padding: 0.3rem 1rem;
      bottom: 5px;
      left: 8px;
      position: absolute;
  }

  .pink-badge {
      color: #fff;
      background-color: rgb(240,81,185);
      text-transform: uppercase;
      font-size: 1rem;
      border-radius: 30px;
      padding: 0.3rem 1rem;
      bottom: 5px;
      left: 8px;
      position: absolute;
  }
}
