<ion-avatar item-start>
  <img [src]="avatar">
  <ion-badge item_start *ngIf="status == 1" text-center color="secondary" round class="sign-badge">Accepted</ion-badge>
  <ion-badge item_start *ngIf="status == 2" text-center color="secondary" round class="sign-badge">Tenative</ion-badge>
  <ion-badge item_start *ngIf="status == 3" text-center color="pink" round class="pink-badge">Declined</ion-badge>
  <!-- <span *ngIf="showName">{{ name.replace('_', ' ') }}</span> -->
</ion-avatar>
