.action-sheets-basic-page {
    .action-sheet-md .action-sheet-button{
        padding: 0 60px;
    }
  .ion-md-star, .ion-ios-star {
        color: #fff;
        border-radius: 50%;
        overflow: hidden;
        width: 20px;
        height: 20px;
        font-size: 1.5rem;
        text-align: center;
        line-height: 20px;
        margin-right: 10px;
        background-color: #ffc125;
  }
}
page-wed-details {
    .content-md {
      // background: rgb(211,219,223);
      background: #fff;
    }
    .toolbar-background-md, .toolbar-background-ios {
        border-color: #5aabd3;
        background: #5aabd3;
        color: #fff;
    }
    .toolbar-title-md, .toolbar-title-ios, .back-button{
        color: #fff;
    }
    .details-content{
        background-color: #d3dbdf;
    }
    .segment-tab{
        background-color: #5aabd3;

    }
    .segment-tab .segment-md .segment-button, .segment-tab .segment-ios .segment-button{
        color: #fff;
        font-size: 1.4rem;
    }
    .segment-tab .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated, .segment-tab .segment-ios .segment-button.activated, .segment-ios .segment-button.segment-activated {
        border-color: #3d8cb3;
        opacity: 1;
        border-bottom-width: 4px;
    }

/***************************** Details Section***********************************/

  ion-card.wed-details-card {
    position: relative;
    text-align: center;
    max-height:400px;
  }
.card-md.wed-details-card, .card-ios.wed-details-card{
     margin: 0;
     width: calc(100% - 0px);
     -webkit-box-shadow: inset -13px -102px 160px -37px rgba(109,93,232,1);
    -moz-box-shadow: inset -13px -102px 160px -37px rgba(109,93,232,1);
    box-shadow: inset -13px -102px 160px -37px rgba(109,93,232,1);
}
  .wed-details-card .card-title {
    position: absolute;
    bottom: 30%;
    font-size: 2.0em;
    width: 100%;
    font-weight: 500;
    color: #fff;
  }

  .wed-details-card .card-subtitle {
    font-size: 1.3em;
    position: absolute;
    bottom: 20%;
    width: 100%;
    color: #fff;
    letter-spacing: 1px;
  }
  .wed-details-card .card-bottom-subtitle {
    font-size: 1em;
    position: absolute;
    bottom: 10%;
    letter-spacing: 1px;
    width: 100%;
    color: #fff;
    font-weight: 100;
  }
  .wed-details-card .card-overlay{
    background-color: rgba(11, 111, 125, 0.2);
    -webkit-box-shadow: inset -13px -110px 150px -30px rgba(17, 53, 53, 0.86);
    -moz-box-shadow: inset -13px -110px 150px -30px rgba(17, 53, 53, 0.86);
    box-shadow: inset -13px -110px 150px -30px rgba(17, 53, 53, 0.86);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    bottom: 0;
  }
  .mini-btn{
    border-radius: 50%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 4px;
    // background: rgb(207,216,220);
  }
  .share-icon{
    color: #fff;
    font-size: 2.6rem;
  }

  h6.mini-text{
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 1.4rem;
    color: #333;
  }
  .margin-item{
      margin: 10px 0;
  }
  .bright-color{
      background-color: #ffc125;
  }
    .white-bg{
        background-color: #fff;
    }
    .list-ios.white-bg {
        margin: -1px 0 16px;
    }
    .mini-star-btn{
        border-radius: 50%;
        position: relative;
        z-index: 0;
        overflow: hidden;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 4px;
        margin-right: 10px;
        padding: 0;
    }
    .button-clear-md.edit-btn{
        color: #00bcd4;
        padding: 0 8px;
    }
    .details-list p{
        font-size: 1.5rem;
        color: #043f7b;
        font-weight: 500;
    }
    .blue-color, .details-list p a {
        color: #043f7b;
    }
    .marrg-licns-list ion-note{
         font-size: 12px;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
   .marrg-licns-list .note-md, .marrg-licns-list .note-ios {
        color: #666;
    }

    .list-md.marrg-licns-list[no-lines] .border-btm.item-block{
        border-bottom: 1px solid #dedede;
    }
    .view-btn{
        border-radius: 10px;
        color: #043f7b;
        border: 2px solid #98b0c9;
        height:4.6rem;
    }
    .submit-btn{
        border-radius: 10px;
        color: #fff;
        background-color: #d3dbdf;
        box-shadow: none;
        height:4.6rem;
    }
    .list-md.detail-section, .list-ios.detail-section {
        margin: -1px 0 0px;
    }
    .bottom-need-help{
        background-color: transparent;
    }
    .bottom-need-help .item-button{
        padding: 1.5em 0.6em;
        height: 25px;
        color: #00bcd4;
        font-size: 1.8rem;
    }
    .bottom-need-help .button-clear-md:hover:not(.disable-hover){
        background-color: transparent;
    }
    .sign-badge {
        color: #fff;
        background-color: #38ce82;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: 30px;
        padding: 0.3rem 1rem;
        bottom: 5px;
        left: 8px;
        position: absolute;
    }

   .marg-header h2{
       font-size:1.8rem;
   }
   .header-bold h2{
       font-weight: 500;
   }

   /************************* Participants Section **********************/
    .participant-section{
        margin: -1px 0 0px;
    }
    .participant-header-text h2 {
        font-size: 2rem;
        color: #000;
        margin-bottom: 12px;
    }
    .list-header-ios {
        min-height: 4.5rem;
        font-size: 1.4rem;
        color: #757575;
        background-color: #fff;
        letter-spacing: normal;
        font-weight: normal;
        text-transform: none;
    }
    .participant-header-text{
        margin-bottom: 0;
        padding: 0 3rem;
    }

    .partcipant-avatar{
        display: block;
        position: relative;
        margin: auto;
        max-width: 80px;
        max-height: 80px;
    }
    .partcipant-avatar img{
        border-radius: 50%;
        overflow: hidden;
        width: 80px;
        height: 80px;
        max-width: 100%;
    }
    h2.accept-head{
        margin: 5px 0;
        font-size: 2rem;
    }
    h2.n-accept-head{
        margin: 5px 0;
    }
    p.accept-para{
        color: #043f7b;
    }
    .light-badge {
       color: #000;
       background-color: #f4f4f4;
       text-transform: uppercase;
       font-size: 1rem;
       border-radius: 30px;
       padding: 0.3rem 0.8rem;
       bottom: -2px;
       left: 7px;
       position: absolute;
   }
     .accept-badge {
        color: #fff;
        background-color: #38ce82;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: 30px;
        padding: 0.3rem 0.8rem;
        bottom: -2px;
        left: 7px;
        position: absolute;
    }
    .decline-badge{
        color: #fff;
        background-color: #ef538e;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: 30px;
        padding: 0.3rem 0.8rem;
        bottom: -2px;
        left: 7px;
        position: absolute;
    }
     .add-user-participant, .item-ios.add-user-participant{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        color:#fff;
        background-color: #00bcd4;
        margin: auto;
        padding-left: 16px;
    }
     .add-user-participant .label-ios{
         margin: 11px 0px 11px 0;
     }
    .add-user-participant input, .item-ios.add-user-participant input {
        position: absolute;
        font-size: 2000px;
        z-index: 200;
        top: 0;
        right: 0;
        opacity: 0;
        cursor: pointer;
    }
    .add-user-participant span, .item-ios.add-user-participant span {
        display: block;
        padding: 0;
        text-align: center;
    }
    .close-btn{
        position: absolute;
        left: 48px;
        top: 0px;
        color: #ef538e;
        font-size: 2rem;
    }
     .close-btn.button-clear-md:hover:not(.disable-hover){
        background-color: transparent;
    }

    /******************************* Guests Section **************************/
    .guest-section{
        margin: -1px 0 0px;
    }
    .guest-list{
        padding: 1rem;
    }
    .import-btn{
        border-radius: 10px;
        color: #043f7b;
        height: 4.6rem;
        background-color: #fff;
        box-shadow: none;
    }
   .add-guest-btn{
        border-radius: 10px;
        color: #fff;
        height: 4.6rem;
        box-shadow: none;
   }
   .guest-list h3{
       font-weight: 400;
   }
    .list-md.guest-invitation-list[no-lines] .border-btm.item-block{
        border-bottom: 1px solid #dedede;
    }
    .guest-accept-badge{
        color: #fff;
        background-color: #38ce82;
        text-transform: uppercase;
        font-size: 0.8rem;
        border-radius: 30px;
        padding: 0.3rem 0.8rem;
        bottom: 5px;
        left: 8px;
        position: absolute;
    }
     .guest-decline-badge{
        color: #fff;
        background-color: #ef538e;
        text-transform: uppercase;
        font-size: 0.8rem;
        border-radius: 30px;
        padding: 0.3rem 0.8rem;
        bottom: 5px;
        left: 8px;
        position: absolute;
    }
     .guest-invitation-list ion-note{
         font-size: 12px;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
  .guest-invitation-list .note-md, .guest-invitation-list .note-ios {
        color: #666;
    }
    .footer-sticky{
        background-color:#00bcd4;
        color: #fff;
        font-size: 2rem;
        padding: 1.5rem;
        position:fixed;
        bottom:0px;
        left:0px;
        right:0px;
    }
     .footer-sticky .button-clear-md{
         color: #fff;
     }

}
