page-archive {
  .content-md {
    background:rgb(55,111,159);
  }
  .fullscreenvideo {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  #videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #subscriber {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
  }

  #publisher {
      position: absolute;
      width: 360px;
      height: 240px;
      bottom: 10px;
      left: 10px;
      z-index: 100;
      border: 3px solid white;
      border-radius: 3px;
  }

  // .messages-wrap {
  //     overflow: hidden;
  //     bottom: 60px;
  //     height: 290px;
  //     width: 100%;
  // }
  // .messages {
  //     position: absolute;
  //     bottom: 0;
  //     width: 100%;
  //     padding: 10px;
  // }
  .avatar {
      border-radius: 40px;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      overflow: hidden;
  }
  // .message {
  //     transition: opacity 3s;
  //     opacity: 1;
  //     color: #fff;
  //     background: #5DCBFD;
  //     display: flex;
  //     align-items: center;
  //     padding: 10px;
  //     margin-bottom: 10px;
  //     border-radius: 8px;
  //     font-size: 20px;
  // }
  // .message.message-fade {
  //     opacity: 0;
  // }
  // .message.message-hidden {
  //     display: none;
  // }
  .message-input {
      width: 100%;
      bottom: 0;
      left: 0;
      input {
          background: #fafafa;
      }
      padding: 10px 10px 20px;
      ion-item {
          background: #fafafa;
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.24);
      }
      ion-icon {
          color: #44CADD;
      }
  }

  #livestreams{
    display: block; width: 100%; height: 100%; vertical-align: middle; left-justify: center; background:rgb(55,111,159);
  }
  .videostream{background-color: rgba(0,0,0,0); min-width: 180px; min-height: 180px; flex: center;  margin: 0px; padding: 0px; justify-content: center; vertical-align: top;}
  .streamlarge{height: 60%; min-height: 350px; width: 47%; background-color:rgba(0,0,0,0); top: 450px; display:inline-block; margin: 3px; left: 3%;}
  .streamMedium{height: 30%; width:30%; background-color:rgba(0,0,0,0); display: inline-block;  float: left; z-index:8; margin: 5px; margin-top: -30px; }
  #user3{top: 10px; align: middle; justify-content: center;}
  #user4{top: 25%; z-index:4; float: left; display: inline-block; left: calc(50vw - 15%);}
  #user5{top: 15%;}
  #streamOfficial{height: 30%; width: 30%; background-color: rgba(0,0,0,0); float: left;   z-index: 8; position: absolute;  top: 10px; left: calc(50vw - 15%); }

  .headerBtns {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .background-overlay {
    -webkit-box-shadow: inset -13px -202px 160px -70px rgb(55,111,159);
    box-shadow: inset -13px -202px 160px -70px rgb(55,111,159);
    min-height: 400px;
    position: absolute;
    bottom: 0;
    // z-index: 99;
    width: 100%;
  }

  .item-md[no-lines] {
    background: transparent;
  }

  .mini-btn{
    border-radius: 50%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 4px;
    background: rgba(0,0,0,.3);
    max-width: 40px;
    max-height: 40px;
    font-size: 10px;
    z-index: 999;
  }

  ion-icon {
    font-size: 2.6rem;
    color: #fff;
  }

  .fullstream {
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
  }

}

.message {
  position: absolute;
  left: -9999px;
  bottom: 100px;
  margin: 0 20px 20px 20px;
}
.message .avatar {
  float: left;
  margin-right: 10px;
  padding-top: 23px;
}
.message .avatar img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: border-box;
}
.message .info {
  float: left;
}
.message .info .name {
  color: #fff;
  margin-bottom: 5px;
  font-size: 15px;
}
.message .info .text {
  box-sizing: border-box;
  border-radius: 5px;
  min-height: 33px;
  max-width: 400px;
  color: #fff;
  background: #5DCBFD;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 13px;
  border-radius: 8px;
  font-size: 15px;
  font-family: 'Roboto';
}

#brand {
  position: absolute;
  bottom: 80px;
  right: 0;
  margin: 20px;
  color: #fff;
  z-index: 3;
  text-align: right;
  min-width: 100px;
}
#brand img {
	display: block;
	margin: 10px 0 0 0;
  z-index:9999;
}

.bottom {
  position: absolute;
  bottom: 10px;
}
