
    .hs-item .hs-content * {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }
  .hs-item.slick-current  .hs-thumb img {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
	}
  .hs-item.slick-current .hs-content h1 {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
margin-bottom:26px;	}
  .hs-item.slick-current .hs-content h2 {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
margin-bottom:26px;	}

.hs-item.slick-current .hs-content p {
  animation-delay: 1.3s;
  animation-name: fadeInUp;
  margin-bottom: 26px;
}
  .hs-item.slick-current .hs-content h1 {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s; 
	line-height:45px;
	}
  .hs-item.slick-current .hs-content p {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s; }
  .hs-item.slick-current .timer  {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s; }
  .hs-item.slick-current .hs-content a {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 3.0s;
    animation-delay: 3.0s; }


/* salim */
.slider_text_left {
  flex-flow: row-reverse wrap;
}
.slider_text_left .hs-content {
  padding-left: 0;
  padding-right: 70px;
}
.hero-slider .slick-list {
  margin: 0;
}
.add_your_class.thumbnail-body{
	padding:0px;
	background:transparent !important;
}