<ion-header>
  <ion-navbar>
    <ion-title>
      Marriage License
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="mrg-lcns-content">
  <div>
    <ion-list class="mrg-lcns-container">
      <ion-item no-lines text-wrap>
        <h1 color="primary">Marriage License</h1><br/>
        <p>You must complete all required documentation in your marriage application prior to being permitted to use this feature. Please read the full <a href="https://webwedmobile.net/legal" target="_system">terms of service</a> before completing.</p>
      </ion-item>
      <ion-item *ngFor="let history of histories;" class="border-btm header-bold">
        <h2>{{history.title}}</h2>
        <p>{{history.date}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
