page-marriage-license {
.toolbar-background-md, .toolbar-background-ios {
        border-color: #5aabd3;
        background: #5aabd3;
        color: #fff;
    }
    .toolbar-title-md, .toolbar-title-ios{
        color: #fff;
    }
    .mrg-lcns-content {
        background-color: #e0e4e6;
    }

    .mrg-lcns-container .item-md h2, .mrg-lcns-container .item-ios h2 {
        margin: 2px 0 10px;
        font-size: 1.8rem;
    }
    .singer-list-container .item-md h2, .singer-list-container .item-ios h2 {
        margin: 2px 0 5px;
        font-size: 1.8rem;
    }
    .blue-color{
        color: #043f7b;
        margin-bottom: 10px;
    }
    .close-btn{
        color: #ef538e;
        font-size: 2rem;
    }
     .close-btn.button-clear-md:hover:not(.disable-hover), .close-btn.button-clear-ios:hover:not(.disable-hover){
        background-color: transparent;
    }
     .header-bold h2{
       font-weight: 500;
   }
   .list-md.singer-list-container[no-lines] .border-btm.item-block, .list-ios.singer-list-container[no-lines] .border-btm.item-block{
        border-bottom: 1px solid #dedede;
    }
     .add-user-participant, .item-ios.add-user-participant{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        color: #fff;
        background-color: #ccc;
        margin: auto;
        padding-left: 8px;
    }
     .add-user-participant .label-ios{
         margin: 11px 0px 11px 0;
     }
    .add-user-participant input, .item-ios.add-user-participant input {
        position: absolute;
        font-size: 2000px;
        z-index: 200;
        top: 0;
        right: 0;
        opacity: 0;
        cursor: pointer;
    }
    .add-user-participant span, .item-ios.add-user-participant span {
        display: block;
        padding: 0;
        text-align: center;
    }
    .add-user-participant .label-md{
        margin: 13px 0;
    }
    .court-container .item-md h2, .court-container .item-ios h2 {
        margin: 2px 0 5px;
        font-size: 1.8rem;
    }
    .court-container .searchbar-md .searchbar-input{
        border:1px solid #ccc;
    }
    .court-container .item-button{
        margin: 0.4rem auto;
        padding: 0 1em;
        display: block;
        background-color: #39c562;
        text-transform: capitalize;
        box-shadow: none;
    }
     .documents-container .item-md h2, .documents-container .item-ios h2 {
        margin: 2px 0 5px;
        font-size: 1.8rem;
    }
     .documents-container .item-button.add-new-btn{
        border-radius: 10px;
        color: #fff;
        height: 4.5rem;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 1.4rem auto;
        padding: 0 3rem;
        display: block;
        background-color: #0e68a5;
   }
   .review-container .item-md h2, .review-container .item-ios h2 {
        margin: 2px 0 5px;
        font-size: 1.8rem;
    }
    .review-container .item-button.submit-btn{
        border-radius: 10px;
        color: #fff;
        height: 4.5rem;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 1.4rem auto;
        padding: 0 3rem;
        display: block;
        background-color: #39c562;
   }
    .list-md.review-container,  .list-ios.review-container{
         margin: -1px 0 40px;
     }
   .footer-sticky{
        background-color:#00bcd4;
        color: #fff;
        font-size: 1.8rem;
        padding: 1rem;
        position:fixed;
        bottom:0px;
        left:0px;
        right:0px;
    }
     .footer-sticky .button-clear-md, .footer-sticky .button-clear-ios{
        color: #fff;
        text-transform: none;
        font-size: 1.8rem;
        font-weight: 300;
     }


}
