page-my-account {
  .segment-tab{
      background-color: $primary;

  }
  .segment-tab .segment-md .segment-button, .segment-tab .segment-ios .segment-button{
      color: #fff;
      font-size: 1.4rem;
  }
  .segment-tab .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated, .segment-tab .segment-ios .segment-button.activated, .segment-ios .segment-button.segment-activated {
      border-color: $light-blue;
      opacity: 1;
      border-bottom-width: 4px;
  }

  div.item-inner {
    border-bottom-color: rgba(0, 0, 0, 0.2) !important;
    box-shadow: none !important;
    min-height: 60px;
  }
  .section-header-text{
    color: #1658a0;
    text-transform: uppercase;
  }

  /***************************** Payment Section***********************************/

  .payment-pic ion-icon{
    font-size: 6rem;
    color: #1658a0;
    }
    .payment-pic .banner-head{
        color: #1658a0;
        font-size: 2rem;
    }
    .list-md.payment-text-list .item[no-lines].border-btm, .list-ios.payment-text-list .item[no-lines].border-btm{
        border-bottom: 1px solid #dedede;
    }

    .button-md.blue-btn, .button-ios.blue-btn {
        padding: 0 0.6em;
        height: 20px;
        font-size: 1.4rem;
        vertical-align: middle;
        color: #1658a0;
    }
    .list-md.payment-section{
        margin: -1px 0 60px;
    }
    .list-ios.payment-section{
        margin: -1px 0 80px;
    }

    .left-g-text.text{
        display: inline-block;
        vertical-align: middle;
      }

      .button-small-md.terms-btn, .button-small-ios.terms-btn{
        padding: 0 0.5rem;
        margin: 0;
        height: 1rem;
        vertical-align: middle;
        line-height: 1px;
        text-transform: capitalize;
    }

    ion-input.right-g-text input {
        color: #1658a0;
   }

   .order-header-color{
        color: #1658a0;
   }
 
}
