<!--
  Generated template for the MarriageApplicationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Marriage Application</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="registry-content">
  <div *ngIf="submitted==true" class="registry-container">
    <div padding text-center>
      <h2>Marriage Application Sent</h2>
      <p>Your marriage application has been submitted and is under review. Since this is a legal form no edits can be made at this time.<br/><br/>Your confidential information has been stored securely and is not available through this app.<br/><br/>You will be notified once the court has received and then reviewed your application.</p>
      <button ion-button color="green" style="margin:0 auto;display:block;" text-center round>{{status}}</button>
    </div><br/>
    <ion-list>
      <ion-item-divider color="light">Application History</ion-item-divider>
      <ion-item *ngFor="let history of application.history" class="order">
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <h2 color="dark">{{history.title}}</h2>
              <p>{{history.date*1000 | date : 'longDate'}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="submitted==false">
    <div class="registry-container" padding text-left>
      <h2>1. Court</h2>
      <p>Select a court in the county which you have residence. If you wish to allow a proxy ceremony you may skip this question.</p>
      <ion-searchbar disabled="disabled" placeholder="Washington Court"></ion-searchbar>
      <!-- <button ion-button color="green" style="margin:0 auto;display:block;" text-center round>Accepts Online Applications</button> -->
    </div><br/>
    <div class="registry-container" padding text-left>
      <h2>2. Application Information</h2>
      <p>For each individual upload a photo of:</p>
      <ul>
        <li>Government issued ID</li>
        <li>Birth Certificate</li>
        <li>Utility Bill</li>
      </ul>


      <!-- <button text-center style="margin:0 auto; display:block;" (click)="addAttachment()" round ion-button color="primary">ADD NEW</button><br/> -->
      <ion-list class="documents-container" no-lines>
      <ion-item *ngFor="let attachment of attachments" class="header-bold">
        <h2>{{attachment.title}}</h2>
        <p>{{attachment.date*1000 | date}}</p>
        <ion-note item-end>
         <button (click)="removeAttachment(attachment.id)" ion-button menuClose clear class="close-btn">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-note>
      </ion-item>
     </ion-list>
    </div>
    <div class="registry-container" text-left>
      <ion-list class="white-bg guest-invitation-list" no-lines>
        <ion-item-divider color="light">YOUR INFORMATION</ion-item-divider>
        <ion-item class="border-btm header-bold">
          <ion-avatar item-start>
                  <img src="{{avatar}}">
          </ion-avatar>
          <h2>{{name}}</h2>
          <p>{{email}}</p>
        </ion-item>
        <ion-item class="border-btm header-bold">
          <div class="row">
            <div class="col" *ngRepeat="attachment in attachments">
              <img src="{{attachment}}" (click)="selectAttachment()" />
            </div>
          </div>
        </ion-item>
        <ion-item-divider color="light">SPOUCES INFORMATION</ion-item-divider>
        <ion-item class="border-btm header-bold">
          <ion-avatar item-start>
                  <img src="{{avatar}}">
          </ion-avatar>
          <h2>{{name}}</h2>
          <p>{{email}}</p>
        </ion-item>
        <ion-item class="border-btm header-bold">
          <div class="row">
            <div class="col" *ngRepeat="attachment in attachments">
              <img src="{{attachment}}" (click)="selectAttachment()" />
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div class="registry-container" padding text-left>
      <h2>3. Officiant Details</h2>
      <ion-list class="white-bg guest-invitation-list" no-lines>
        <ion-item class="border-btm header-bold">
          <ion-avatar item-start>
                  <img src="{{avatar}}">
          </ion-avatar>
          <h2>{{name}}</h2>
          <p>{{email}}</p>
        </ion-item>
      </ion-list>
    </div><br/>
    <div class="registry-container" padding text-left>
      <h2>4. Review and Submit</h2>
      <p>Please check that you and your spouce have accurately completed your user profiles and that you have uploaded the required documents. You will not be allowed to modify this application once submitted. By pressing submit you authorize digital transmission of this information and have read and understand our Terms of Service.</p>
      <!-- <button text-center style="margin:0 auto; display:block;" round ion-button (click)="submit()" color="green">SUBMIT NOW</button><br/> -->
    </div><br/>
    <button (click)="submit()" full block color="light-blue" ion-button large>SUBMIT NOW</button>

  </div>
</ion-content>
