<ion-content>
  <ion-slides #mySlider>
    <ion-slide *ngFor="let slide of slides">
      <!-- insert ion-walkthrough component here -->
      <ion-walkthrough [options]="slide"></ion-walkthrough>
    </ion-slide>
  </ion-slides>
</ion-content>
