ion-modal.small-modal-popup {
  @media (min-width: 300px) and (min-height: 500px) {
    ion-backdrop {
      visibility: visible;
    }
  }

  .modal-wrapper {
    position: absolute;
    overflow: hidden;
    max-width: 480px;
    border-radius: 2px;
    width: 90vw;
    height: 80vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: none;
    background-color: transparent;
  }
}

page-attend-event-modal {
  .toolbar-background-md, .toolbar-background-ios {
      border-color: transparent;
      background: transparent;
      color: #fff;
  }
  .toolbar-title-md, .toolbar-title-ios, .back-button{
      color: #fff;
  }

  .content-md {
    background: transparent;
  }

  ion-card.wed-details-card {
    position: relative;
    text-align: center;
  }
.card-md.wed-details-card, .card-ios.wed-details-card{
     margin: 0;
     width: calc(100% - 0px);
     -webkit-box-shadow: inset -13px -102px 160px -37px rgba(109,93,232,1);
    -moz-box-shadow: inset -13px -102px 160px -37px rgba(109,93,232,1);
    box-shadow: inset -13px -102px 160px -37px rgba(109,93,232,1);
}
  .wed-details-card .card-title {
    position: absolute;
    bottom: 30%;
    font-size: 2.0em;
    width: 100%;
    font-weight: 500;
    color: #fff;
  }

  .wed-details-card .card-subtitle {
    font-size: 1.3em;
    position: absolute;
    bottom: 20%;
    width: 100%;
    color: #fff;
    letter-spacing: 1px;
  }
  .wed-details-card .card-bottom-subtitle {
    font-size: 1em;
    position: absolute;
    bottom: 10%;
    letter-spacing: 1px;
    width: 100%;
    color: #fff;
    font-weight: 100;
  }
  .wed-details-card .card-overlay{
    background-color: rgba(11, 111, 125, 0.2);
    -webkit-box-shadow: inset -13px -110px 150px -30px rgba(17, 53, 53, 0.86);
    -moz-box-shadow: inset -13px -110px 150px -30px rgba(17, 53, 53, 0.86);
    box-shadow: inset -13px -110px 150px -30px rgba(17, 53, 53, 0.86);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    bottom: 0;
  }
  .mini-btn{
    border-radius: 50%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 4px;
    // background: rgb(207,216,220);
  }
  .share-icon{
    color: #fff;
    font-size: 2.6rem;
  }

  h6.mini-text{
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 1.4rem;
    color: #333;
  }
  .margin-item{
      margin: 10px 0;
  }
  .bright-color{
      background-color: #ffc125;
  }
    .white-bg{
        background-color: #fff;
    }
    .list-ios.white-bg {
        margin: -1px 0 16px;
    }
    .mini-star-btn{
        border-radius: 50%;
        position: relative;
        z-index: 0;
        overflow: hidden;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 4px;
        margin-right: 10px;
        padding: 0;
    }
    .button-clear-md.edit-btn{
        color: #00bcd4;
        padding: 0 8px;
    }
    .details-list p{
        font-size: 1.5rem;
        color: #043f7b;
        font-weight: 500;
    }
    .blue-color, .details-list p a {
        color: #043f7b;
    }
    .marrg-licns-list ion-note{
         font-size: 12px;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
   .marrg-licns-list .note-md, .marrg-licns-list .note-ios {
        color: #666;
    }

    .list-md.marrg-licns-list[no-lines] .border-btm.item-block{
        border-bottom: 1px solid #dedede;
    }
    .view-btn{
        border-radius: 10px;
        color: #043f7b;
        border: 2px solid #98b0c9;
        height:4.6rem;
    }
    .submit-btn{
        border-radius: 10px;
        color: #fff;
        background-color: #d3dbdf;
        box-shadow: none;
        height:4.6rem;
    }
    .list-md.detail-section, .list-ios.detail-section {
        margin: -1px 0 0px;
    }
    .bottom-need-help{
        background-color: transparent;
    }
    .bottom-need-help .item-button{
        padding: 1.5em 0.6em;
        height: 25px;
        color: #00bcd4;
        font-size: 1.8rem;
    }
    .bottom-need-help .button-clear-md:hover:not(.disable-hover){
        background-color: transparent;
    }
    .sign-badge {
        color: #fff;
        background-color: #38ce82;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: 30px;
        padding: 0.3rem 1rem;
        bottom: 5px;
        left: 8px;
        position: absolute;
    }

   .marg-header h2{
       font-size:1.8rem;
   }
   .header-bold h2{
       font-weight: 500;
   }
}
