/*
----------------------------------------------------------
Greyscale stylesheet will overwrite the default stylesheet
----------------------------------------------------------
*/
.greyscale .banner .color-overlay {
	background: rgba(67,143,221,.2);
}
.greyscale .banner-logo {
	background: url(../../../images/greyscale/greyscale_main_logo.png) no-repeat center center;
}
.greyscale .timing .time_circles > div > span[style] {
	color: #fff;
}
.greyscale .timing .time_circles > div > h4 {
	color: #fff;
}
.greyscale .nav-block,
.greyscale .nav-block .navbar-default {
    background: #213168;
}
.greyscale .heading h3 {
    color: #213168;
}
.greyscale .heading h3::before {
}
.greyscale .heading h3::after {
}
.greyscale .thumb-hover {
	background: rgba(69,143,221,.9);
}
.greyscale .thumb-img {
	border-color: #213168;
}
.greyscale .couple {
	background: url(../../../images/greyscale/greyscale_love_twist.png) no-repeat 50% 65%;
}
.greyscale #story .fa {
	color: #438fdd;
}
.greyscale .love-sign {
	background: url(../../../images/greyscale/greyscale_love.png) no-repeat center center;
}
.greyscale .timeline-head {
	background: #213168;
}
.greyscale .timeline-block-right:before {
	border-color: transparent #213168 transparent transparent;
}
.greyscale .reverse .timeline-block-right:after {
	border-color: transparent transparent transparent #213168;
}
.greyscale .timeline:before {
	background: #213168;
}
.greyscale .contact .default-btn:hover {
	background: #213168;
	color: #fff;
}
.greyscale .default-btn:hover {
	background: #213168;
	border: 1px solid #213168;
}
.greyscale .profile h5 {
    color: #213168;
}
.greyscale .people .social-icon li .fa {
	color: #202221;
}
.greyscale .event-body h5 a {
	color: #213168;
}
.greyscale h5 small {
	color: #000;
}
.greyscale .event-date {
	background: #213168;
}
.greyscale .gift-block:hover {
	border-color: #213168; 
}
.greyscale .item:hover .caption {
	background: rgba(61,143,221,.2);
}
.greyscale .caption {

}
.greyscale .blog-head h5 a {
	color: #213168;
}
.greyscale .blog-link {
	color: #213168;
}
.greyscale blockquote:before {
    background: url(../../../images/greyscale/greyscale_block_qoute_left.png) no-repeat;
}
.greyscale blockquote:after {
    background: url(../../../images/greyscale/greyscale_block_qoute_right.png) no-repeat;
}
.greyscale .contact h5 {
	color: #213168;
}
.greyscale .contact-address ul li .fa {
    color: #213168;
}
.greyscale .contact .form-control, .greyscale .contact textarea {
    border: 1px solid #213168;
}
.greyscale .sbHolder {
	border: 1px solid #213168;
}
.greyscale .footer-logo {
    background: url(../../../images/greyscale/greyscale_footer_logo.png) no-repeat center center;
}
.greyscale footer a .fa:hover {
	background-color: #213168;
	border: 1px solid #213168;
}
.greyscale .nav-pills > li.current > a {
	color: #213168;
}
.greyscale .sbToggle {
	color: #213168;
}
.greyscale .contact .default-btn {
   border: 1px solid #213168;
   color: #213168;}
.greyscale .next-arrow a {
   color: #213168;}

.greyscale #go-to-top .fa:hover {
	border-color: #213168;
}

/** Blog Signle Page**/
.greyscale .single-blog-upper h3 {
    color: #213168;
}
.greyscale .sidebar-single-post h5 {
    color: #213168;
}
.greyscale .popular-post h5:before, .greyscale .wedding-video h5:before {
   background: #213168;
}

.greyscale .single-blog-detail blockquote {
	background: #438fdd;
}
.greyscale .single-blog-detail blockquote:before {
	background: url("../../../images/greyscale/greyscale_qoute_left.png") no-repeat center center;
}
.greyscale .single-blog-detail blockquote:after {
	background: url("../../../images/greyscale/greyscale_qoute_right.png") no-repeat center center;
}
.greyscale .single-post-item li .fa {
	background: #213168;
}
.greyscale .single-blog-lower h4 {
    color: #213168;
}
.greyscale .single-blog-lower, .greyscale .comment-block, .greyscale .reply-block {
	border-color: #213168;
}
.greyscale .comment-block > h5, .greyscale .reply-block h5 {
    color: #213168;
}
.greyscale .comment-block .default-btn {
	background: #202221;
	border: 1px solid #202221;
}
.greyscale .comment-block .default-btn:hover {
	color: #181717;
}

/** Media Query **/

@media screen and (max-width: 480px) {
	.greyscale .banner-logo {
		width: 260px;
		height: 305px;
		padding: 110px 0;
		margin: 40px 0 32px;
	}
	.greyscale .banner-logo h2 {
		font-size: 32px;
	}
	.greyscale .heading h3::after {
	
	}
	.greyscale .heading h3::before {
	
	}

}
