page-pre-approved-officiant {
    .toolbar-background-md, .toolbar-background-ios {
        border-color: #5aabd3;
        background: #5aabd3;
        color: #fff;
    }
    .toolbar-title-md, .toolbar-title-ios{
        color: #fff;
    }
    
    .officiant-container .item-md h2.officiant-head, .officiant-container .item-ios h2.officiant-head {
        margin: 2px 0 10px;
        font-size: 1.8rem;
        color: #5aabd3;
    }
    .header-bold h2{
       font-weight: 500;
   }
   .list-md.officiant-container[no-lines] .border-btm.item-block, .list-ios.officiant-container[no-lines] .border-btm.item-block{
        border-bottom: 1px solid #dedede;
    }
    .officiant-list h2{
        font-size: 1.5rem;
    }
    .officiant-list p{
        font-size: 1.3rem;
    }
    .star-icon{
        color: #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 1.5rem;
        text-align: center;
        line-height: 20px;
    }
    .bright-bg{
        background-color: #00bcd4;
    }
    .disable-bg{
        background-color: #ccc;
    }
    .footer-sticky{
        background-color:#00bcd4;
        color: #fff;
        font-size: 1.8rem;
        padding: 1rem;
        position:fixed; 
        bottom:0px;
        left:0px;
        right:0px;
    }
     .footer-sticky .button-clear-md, .footer-sticky .button-clear-ios{
        color: #fff;
        text-transform: none;
        font-size: 1.8rem;
        font-weight: 300;
     }
   
}
