<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <main-navigation></main-navigation>

</ion-header>


<ion-content style="background:#d3dbdf;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item no-lines class="join-event-banner" style="background-color: rgb(94, 172, 209); height:200px;" text-center>
    <!-- <img src="assets/images/Background.svg" style="opacity:.3;"> -->
    <div class="join-event-banner-title">
      <h2>Join An Event</h2>
      <ion-searchbar [(ngModel)]="findEvent_id" (search)="findEvent($event)" placeholder="Know the Event ID#?"></ion-searchbar>
    </div>
  </ion-item>
  <div class="join-event-body-content">
    <ion-list class="card-main-list {{ (isEmpty() ? 'no-events' : '') }}">
      <c-wed-card *ngFor="let aEvent of events;" [cWedCardEvent]="aEvent" [user]="user.personal.id"></c-wed-card>
      <c-guest-card *ngFor="let aEvent of events;" [cWedCardEvent]="aEvent" [user]="user.personal.id"></c-guest-card>
    </ion-list>

    <ion-item class="{{ (pastIsEmpty() ? 'empty-events' : 'has-events') }}" text-center no-lines class="center-head">
      <h2>Past Events</h2>
    </ion-item>

    <ion-list class="card-main-list" no-lines>
      <c-wed-card *ngFor="let aEvent of past_events;" [cWedCardEvent]="aEvent" (click)="gotoWedDetails(aEvent);"></c-wed-card>
      <c-guest-card *ngFor="let aEvent of past_events;" [cWedCardEvent]="aEvent" (click)="watchEvent(aEvent);"></c-guest-card>
    </ion-list>

  </div>
</ion-content>

<ion-footer class="bar-balanced">
  <ion-toolbar>
    <button (click)="createEvent()" ion-button full large color="light-blue">CREATE AN EVENT</button>
  </ion-toolbar>
</ion-footer>
