page-dashboard {
  @media screen and (min-width: 700px) {
    .card-md {
      margin: 10px;
      border-radius: 2px;
      width: calc(50% - 20px);
      float: left;
      font-size: 1.4rem;
      background: #fff;
    }

    .join-event-banner {
      .label-md {
         background-image: url('../assets/images/Background.svg');
         background-size: 50%;
         width: 100%;
         min-height: 200px
      }
    }

    .no-events {
     min-height: 450px;
     background: url('../assets/images/empty-state.svg');
     background-size: 150px;
     background-repeat: no-repeat;
     background-position: center;
     background-position-y: 15px;
    }
  }
  .list-md.card-main-list, .list-ios.card-main-list{
      margin: -1px 0 0;
  }
   .toolbar-background-md, .toolbar-background-ios {
      border-color: #1658a0;
      background: #1658a0;
      color: #fff;
  }
  .toolbar-title-md, .toolbar-title-ios{
      color: #fff;
  }
  .item-md.join-event-banner,  .item-ios.join-event-banner{
      padding-left: 0;
  }
  .join-event-banner .label-md,  .join-event-banner .label-ios{
      margin:0 0 -5px;

  }
  .item-md.join-event-banner.item-block .item-inner, .item-ios.join-event-banner.item-block .item-inner{
      padding-right: 0;
  }
  .join-event-banner-title{
      position: absolute;
      top: 20%;
      width: 100%;
      right:0;
      left:0;
      font-weight: 700;
      color: #fff;
      z-index: 999;
  }
 .join-event-banner-title h2 {
      margin: 12px 0;
      font-size: 2.6rem;
      font-weight: 100;
  }
  .join-event-body-content{
        background-color: #d3dbdf;
        padding-bottom: 10px;
  }
  .join-event-body-content .list-md ion-item-sliding, .join-event-body-content .list-ios ion-item-sliding{
      background-color: transparent;
  }
  .join-event-body-content .item-md, .join-event-body-content .item-ios{
      background-color: transparent;
  }
  .center-head h2{
      border-bottom:1px solid #888;
      font-size: 2.2rem;
      padding: 10px 0;
      color:#a5a5a5;
  }
  .footer-sticky{
     background-color:#00bcd4;
     color: #fff;
     font-size: 1.8rem;
     padding: 1rem;
     position:fixed;
     bottom:0px;
     left:0px;
     right:0px;
 }
  .footer-sticky .button-clear-md, .footer-sticky .button-clear-ios{
     color: #fff;
     text-transform: none;
     font-size: 1.8rem;
     font-weight: 300;
  }
   .right-icon-group{
      position: absolute;
      right: 0;
      z-index: 999;
      top: 30%;
      vertical-align: middle;
      padding: 0 12px;
   }
   .right-icon-group ion-icon{
      color: #fff;
      font-size: 2.2rem;
      margin: 0 5px;
   }

   .join-event-banner {
     .label-md {
        background-image: url('../assets/images/Background.svg');
        background-size: cover;
        width: 100%;
        min-height: 200px
     }
   }

   .no-events {
    min-height: 250px;
    background: url('../assets/images/empty-state.svg');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 15px;
   }

   .empty-events {
     display: none;
   }
   .has-events {
     display:block;
   }
}
