<ion-content class="main-bg">
  <div class="logo" ion-fixed>
    <img src="assets/images/WebWed-Logo.svg" style="max-width:150px;padding:20px" alt="logo">
  </div>

  <div class="congratulations-msg">
    <h1>Congratulations!</h1>
    <p>Appy Ever After.</p>
    <p>Your video is being prepared and will be available in a moment for viewing.</p>
    <br/>
    <!-- <p>{{total}} Viewers watched you live</p> -->
  </div>
</ion-content>

<ion-footer class="footer-sticky" text-center>
  <button (click)="close()" full block color="light-blue" ion-button large>Close</button>
</ion-footer>
