<ion-content class="main-bg" [formGroup]="form">
  <div class="content-wrap" style="margin:0 auto;">
    <div class="logo">
      <img src="assets/images/WebWed-Logo.svg" style="max-width:150px;padding:20px" alt="logo">
    </div>
    <div class="register-msg">
      Sign in to exciting account or <a tappable color="light-blue" style="color:#5aabd3"(click)="register()">register</a> for a new one
    </div>
    <ion-item no-lines [ngClass]="'ww-input-item'">
      <ion-input placeholder="Email Address" mode="ios" formControlName="email"></ion-input>
    </ion-item>
    <ion-item no-lines [ngClass]="'ww-input-item'">
      <ion-input placeholder="Password" type="password" mode="ios" formControlName="password"></ion-input>
    </ion-item>
    <button ion-button color="primary" mode="ios" [attr.disabled]="form.valid ? null : true" (click)="signInWithEmail()">Continue</button>

    <div class="social-msg" color="primary">or use social login instead</div>

    <button ion-button color="facebook" (click)="signInWithFacebook()" [ngClass]="'social-btn'" mode="ios" icon-start>
      <ion-icon name="logo-facebook"></ion-icon>
      Log in with Facebook
    </button>
    <button ion-button color="google" (click)="signInWithGoogle()" [ngClass]="'social-btn'" mode="ios" icon-start>
      <ion-icon name="logo-google"></ion-icon>
      Sign in with Google
    </button>
  </div>
</ion-content>
