<ion-content class="main-bg" [formGroup]="form">
  <div class="logo" ion-fixed>
    <img src="assets/images/WebWed-Logo.svg" style="max-width:150px;padding:20px" alt="logo">
  </div>
  <div class="pager" ion-fixed *ngIf="slides.getActiveIndex() !== 6">{{ slides.getActiveIndex() + 1 }} of {{ length }}</div>
  <div class="top-btn top-btn-left" tappable ion-fixed *ngIf="slides.isBeginning() && !user" (click)="backToLogin()">
    <ion-icon name="md-arrow-back"></ion-icon>
  </div>
  <div class="top-btn top-btn-right" tappable ion-fixed *ngIf="slides.isEnd()" (click)="close()">
    <ion-icon name="md-close"></ion-icon>
  </div>
  <div class="buttons" ion-fixed>
    <button
      ion-button
      full
      (click)="back()"
      mode="ios"
      *ngIf="!slides.isBeginning() && !slides.isEnd()"
      color="light-blue">Back</button>
    <button
      ion-button full
      (click)="continue()"
      *ngIf="!slides.isEnd()"
      mode="ios"
      [attr.disabled]="canGoNext() ? null : true"
      color="primary">
        <span *ngIf="slides.getActiveIndex() !== 5; else submit">Continue</span>
        <ng-template #submit>Submit</ng-template>
    </button>
    <button
      ion-button
      full
      mode="ios"
      (click)="close()"
      *ngIf="slides.isEnd()"
      color="primary">Close</button>
  </div>
  <ion-slides #slides direction="vertical" [ngClass]="{'fullHeight': fullHeight}" pager>
    <ion-slide>
      <ion-item no-lines [ngClass]="'ww-input-item'" mode="ios">
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" placeholder="e.g. test@email.me" mode="ios"></ion-input>
      </ion-item>
      <ion-item no-lines [ngClass]="'ww-input-item'" mode="ios">
        <ion-label stacked>Password</ion-label>
        <ion-input formControlName="password" placeholder="Password" type="password" mode="ios"></ion-input>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <ion-item no-lines [ngClass]="'ww-input-item'" mode="ios">
        <ion-label stacked>Enter your full name</ion-label>
        <ion-input formControlName="full_name" placeholder="e.g. John Doe" mode="ios"></ion-input>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <ion-item no-lines [ngClass]="'ww-input-item'" mode="ios">
        <ion-label stacked>What address shoud we use</ion-label>
        <ion-input (click)="showAddressModal()" [(ngModel)]="address" formControlName="address" placeholder="e.g. 1234 Main Street, Atlanta GA 12345" mode="ios"></ion-input>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <ion-item no-lines [ngClass]="'ww-input-item'" mode="ios">
        <ion-label stacked>When where you born?</ion-label>
        <ion-datetime formControlName="birthday" mode="ios" placeholder="Click to select"></ion-datetime>
      </ion-item>
      <div class="input-annotation">
        User's must be at least 18 years of age to create or manage events. Accounts progibited for users under 13 years of age.
      </div>
    </ion-slide>
    <ion-slide>
      <ion-item no-lines [ngClass]="'ww-input-item'" mode="ios">
        <ion-label stacked>Enter your phone number</ion-label>
        <ion-input formControlName="phone" placeholder="e.g. (232) 123 - 456" mode="ios"></ion-input>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <div class="terms">
        <p>By continuing I certify that I have read and understand the <a href="#">terns and conditions and privacy policy</a> set forth by Web Mobile.</p>
        <p>I also certify that all the information that I have provided is accurate.</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="congratulations-msg">
        <h1>Congratulations!</h1>
        <p>Your account is now created and active.</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
