 @import url(https://fonts.googleapis.com/css?family=Clicker+Script|Open+Sans+Condensed:300);
 
@import url(https://fonts.googleapis.com/css?family=Oranienbaum);
 
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
.color_white {
	color: white;
}
.color_black {
	color: black;
}
.color_teal {
	color: #8cbac3;
}
.color_navy {
	color: #0171a3;
}
.color_grey {
	color: #f2f2f2;
}
.color_grey_dark {
	color: #B2B1B1;
}
.color_red {
	color: #9A0104;
}
.small-bump-up {
	font-size: 0.55em;
	margin-top: -25%;
}
body, html {
	font-family: "Roboto";
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0;
	background: #fff;
	color: #666666;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-size: 1em;
}
.border_frame {
    border: 9px double white;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 95%;
    height: 90%;
    margin: auto;
}
.row {
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
	/* width: 95%; */
	/* max-width:  1600px; */
	/* min-width: 500px; */
}
.container {
	width: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
h1, h2, h3, h4, h5, h6 {
	padding-bottom: 5px;
	color: #023a7b;
	line-height: normal;
	font-weight: normal;
	margin: 0 0 10px;
}
h1 {
	font-family: 'Clicker Script', cursive;
	color: #00a7dd;
}
h2, h2, h3 {
	font-family: 'Clicker Script', cursive;
}
h1 {
	font-size: 5em;
}
h2 {
	font-size: 70px;
}
h3 {
	line-height:0.9em;
	text-transform: uppercase;
    font-family:Oranienbaum;
    font-size: 85px;
    color: black;
}

h4 {
	font-size: 1.5em;
	font-family: "Oranienbaum";
}
h5 {
	font-size: 1.3em;
	font-family: "Oranienbaum";
}
h6 {
	font-size: 1.3em;
	font-family: "Oranienbaum";
}
h3 .cursive {
	text-transform: none;
	color: rgba(200, 200, 200, 1);
	font-size: 6.2em;
	margin-top: -0.5em;
}
h4 .cursive {
	text-transform: none;
	color: rgba(200, 200, 200, 1);
	font-size: 6.2em;
	margin-top: -0.5em;
}
.cursive {
	font-family: 'Clicker Script', cursive;
}
h3.medium {
	font-size: 90px;
}
h2.medium {
	font-size: 60px;
	line-height: 1em;
	margin-top: 17px;
	padding-bottom: 57px;
}
h2 small {
	font-size: 20px;
	line-height: 1em;
}
h4 small {
	display: block;
}
h3 small {
	display: block;
	font-size: 50px;
	color: #1b1b1b;
}
p {
	font-size: 1.2em;
	line-height: 1.6em;
	ont-family: 'Roboto', sans-serif;
	font-weight: 400;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}
a {
	color: #bdbdbd;
}
a:hover {
	color: #bdbdbd;
	text-decoration: none;
}
a:active {
	color: #bdbdbd;
}
ul, li {
	list-style: none;
}
/*-----/. default-btn style-----*/

.default-btn {
    text-transform: uppercase;
    color: #fff;
    font-size: 23px;
    position: relative;
    padding: 13px 60px;
    border: 1px solid #fff;
    border-radius: 8px;
}
.default-btn:hover {
	background-color: #023a7b;
	border: #023a7b;
	color: #fff;
}
.default-btn:hover, .default-btn.active, .default-btn:active {
	color: #fff;
	z-index: 1;
}
.white {
	background: #fff;
}
.lightsmoke {
	background: #fafafa;
}
.img-thumbnail {
	padding: 10px;
	border: none;
	border-radius: 2px;
}

/*----- form placeholder style-----*/

.form-control::-moz-placeholder {
 color: #bdbdbd;
 opacity: 1;
 font-size: 12px;
 line-height: 18px;
}
.form-control::-ms-input-placeholder {
 color: #bdbdbd;
 font-size: 12px;
 line-height: 18px;
}
.form-control::-webkit-input-placeholder {
 color: #bdbdbd;
 font-size: 12px;
 line-height: 18px;
}

/*-----on focus style-----*/

.form-control:focus::-moz-placeholder {
 color:#717171;
}
.form-control:focus:-ms-input-placeholder {
 color:#717171;
}
.form-control:focus::-webkit-input-placeholder {
color:#717171;
}
/*-----section style-----*/
.heading {
	margin-top: 30px;
	margin-bottom: 30px;
}
/*-----transparent background-----*/

.color-overlay {
}
.social-icon:after, .social-icon:before, .story-block ul:after, .story-block ul:before, .blog-meta:after, .blog-meta:before, .popular-post ul li:after, .popular-post ul li:before, .single-blog-meta:before, .single-blog-meta:after, .single-post-thumnail:after, .single-post-thumnail:before {
	content: "";
	display: table;
}
.social-icon:after, .social-icon:before, .story-block ul:after, .story-block ul:before, .blog-meta:after, .blog-meta:before, .popular-post ul li:after, .popular-post ul li:before, .single-blog-meta:before, .single-blog-meta:after, .single-post-thumnail:after, .single-post-thumnail:before {
	clear: both;
}

body {
	 font-size: 17px;
	 font-family: "Oranienbaum";
	 font-style: normal;
	 font-weight: 400;
}


h1 {
	 font-family: "Oranienbaum";
	 font-size: 84px;
	 line-height: 73px;
	 margin-bottom: 25px;
}

p {	font-family: "Oranienbaum";
	 
	 font-size: 17px;
	 line-height: 26px;
	 margin-bottom: 35px;
}

/*
========================================================================
# 3 - Banner styles
------------------------------------------------------------------------
*/

.banner .wrapper {
	padding-bottom: 0px;
	height: 100%;
}
/*-----background image slider-----*/


#background-carousel {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#background-carousel .carousel, #background-carousel .carousel-inner {
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}
#background-carousel .item {
	width: 100%;
	height: 100%;
	z-index: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-ms-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
#background-carousel .item-no1 {
	background: url(../../images/slider/slide-1.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
#background-carousel .item-no2 {
	background: url(../../images/slider/slide-2.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
#background-carousel .item-no3 {
	background: url(../../images/slider/slide-3.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
#background-carousel .item-no4 {
	background: url(../../images/slider/slide-4.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
#background-carousel .carousel .active.left {
	left: 0;
	opacity: 0;
	z-index: 2;
}
#background-carousel .carousel-inner > .item.next, #background-carousel .carousel-inner > .item.active.right {
	-webkit-transform: none;
	transform: none;
}
#background-carousel .carousel-inner > .item.prev, #background-carousel .carousel-inner > .item.active.left {
	-webkit-transform: none;
	transform: none;
}
.color-overlay-bg {
	background: rgba(50,55,122,0.18);
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 100%;
	z-index: 1;
}
/*
========================================================================
# 4 - Couple styles
------------------------------------------------------------------------
*/
.couple {
	padding: 0;
	margin: 0px;
	margin-top: 20%;
}
.thumbnail-block {
	position: relative;
	border-radius: 50%;
}
.thumb-img {
	position: relative;
	height: 150px;
	width: 150px;
	overflow: hidden;
	border: 9px solid #0171a3;
	border-radius: 50%;
	margin: 0;
	float: left;
	padding: 0px;
}
.thumb-img:hover .thumb-hover {
}
.thumb-hover {
	position: absolute;
	top: -447px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: white;
	display: table;
	vertical-align: middle;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.thumb-img h5 {
	width: 85%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	color: #023a7b;
	font-size: 3.3em;
	line-height: 33px;
	letter-spacing: .05em;
	margin-top: 77px;
	margin-bottom: 30px;
	-webkit-transition: all .8s ease-in;
	-moz-transition: all .8s ease-in;
	-o-transition: all .8s ease-in;
	-ms-transition: all .8s ease-in;
	transition: all .8s ease-in;
	margin-left: 10px;
}
.thumb-img h5 small {
	color: #023a7b;
	margin-left: 115px;
	line-height: 33px;
	letter-spacing: .1em;
	font-size: 0.5em;
}
.thumb-img p {
	color: rgba(65,65,65,1.00);
	margin-bottom: 60px;
	font-size: 1.2em;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
.thumb-img .social-icon li a {
	color: #fff;
}
.thumbnail-detail {
	background: #e1704b;
	padding: 20px 15px;
	color: #fff;
	border-radius: 0 0px 20px 20px;
	text-align: center;
	width: 75%;
}
.couple .thumbnail-detail .social-icon li {
	display: inline-block;
	float: none;
	margin: 10px 15px 0;
}
.thumbnail-detail .social-icon li a {
	color: #fff;
}
.next-arrow {
	text-align: center;
	font-size: 18px;
	position: relative;
}
.next-arrow a {
	position: absolute;
	top: 58px;
	left: 50%;
	-wibkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-ms-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-ms-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
@-webkit-keyframes rocket {
 0% {
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
 100% {
 -webkit-transform: translateY(-10px);
 -ms-transform: translateY(-10px);
 transform: translateY(-10px);
}
 50% {
 -webkit-transform: translateY(10px);
 -ms-transform: translateY(10px);
 transform: translateY(10px);
}
}
 @keyframes rocket {
 0% {
 -webkit-transform: translateY(0);
 -ms-transform: translateY(0);
 transform: translateY(0);
}
 100% {
 -webkit-transform: translateY(-10px);
 -ms-transform: translateY(-10px);
 transform: translateY(-10px);
}
 50% {
 -webkit-transform: translateY(10px);
 -ms-transform: translateY(10px);
 transform: translateY(10px);
}
}
.rocket {
	-webkit-animation-name: rocket;
	animation-name: rocket;
}
/*
========================================================================
# 5 - Stroy styles
------------------------------------------------------------------------
*/

.story {
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #f7f7f7;
}
.timeline-story {
	margin-top: 40px;
}
.timeline {
	position: relative;
	margin-bottom: 50px;
    display: inline-block;
}
.timeline:last-child {
	margin-bottom: 0;
}
.timeline:before {
	content: "";
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 50%;
	margin-left: -3px;
	width: 3px;
	background: #004798;
}
.timeline:after {
	content: "";
	position: absolute;
	top: 70px;
	height: 15px;
	right: 50%;
	margin-right: -3px;
	width: 3px;
	background: #f7f7f7;
}
.love-sign {
	background: url(../../images/icon/WWlove.png) no-repeat center center;
	display: inline-block;
	position: absolute;
	top: -64px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 69px;
	z-index: 1;
	font-size: 14px;
	text-align: center;
	padding: 15px 0;
	color: #fff;
	line-height: normal;
	letter-spacing: normal;
}
.timeline-left {
	width: 47%;
	margin-top: 70px;
}
.timeline-right {
	width: 47%;
}
.timeline-block-left {
	float: right;
	width: 75%;
	text-align: right;
	margin-bottom: 50px;
}
.reverse .timeline-block-left {
	float: left;
	text-align: left;
}
.timeline-block-right {
	position: relative;
	float: left;
	width: 70%;
	text-align: left;
	background: #ededed;
	margin-top: 60px;
}
.reverse .timeline-block-right {
	float: right;
	text-align: right;
}
.timeline-block-right:before {
	content: "";
	position: absolute;
	top: 7px;
	left: -15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10.5px 15px 10.5px 0px;
	border-color: transparent #023a7b transparent transparent;
}
.reverse .timeline-block-right:before {
	content: none;
}
.reverse .timeline-block-right:after {
	content: "";
	position: absolute;
	top: 8px;
	right: -15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10.5px 0 10.5px 15px;
	border-color: transparent transparent transparent #023a7b;
}
.reverse.pull-right {
	float: left !important;
}
.reverse.pull-left {
	float: right !important;
}
.timeline .img-thumbnail {
	padding: 2px;
	border: 1px solid #f7f7f7;
}
.timeline-head {
	background: #023a7b;
}
.timeline-head h4 {
	color: #f7f7f7;
	text-transform: uppercase;
	padding: 9px 27px;
	font-size: 1.4em;
	line-height: normal;
}
.timeline-body {
	padding: 10px 20px 20px;
	font-size: 1em;
	line-height: 1.2em;
}
.timeline-body a {
	color: #023a7b;
}
/*
========================================================================
# 6 - RSVP Link styles
------------------------------------------------------------------------
*/

.rsvpLink {
	background-color: #8cbac3;
}
.rsvpLink .color-overlay {
	padding: 90px 0;
}
.rsvpLink-title {
    font-family: 'roboto condensed', 'helvetica', sans-serif;
    color: #fff;
    line-height: initial;
    font-weight: 200;
    font-size: 18px !important;
}
.rsvpLink a {
	margin: 50px 0px 40px 0px;

}
/*
========================================================================
# 7 - People styles
------------------------------------------------------------------------
*/

.people {
	padding: 100px 0;
	background-color: rgba(132,193,247,1.00);
}
.people .thumb-img {
}
.people .thumbnail-detail .social-icon {
	margin-top: 0;
}
.people .thumbnail-detail .social-icon li {
	font-size: 16px;
}
.people .thumbnail-detail {
	padding: 10px;
}
.profile {
	text-align: left;
}
.profile h5 {
	font-weight: 700;
	letter-spacing: 0.05em;
	line-height: 22px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.people .row:nth-child(2) .left-content, .people .row:nth-child(2) .right-content {
	margin-bottom: 50px;
}
.left-content .profile {
	text-align: right;
}
.left-content .social-icon {
	text-align: right;
}
.right-content .social-icon {
	text-align: left;
}
.people .social-icon li {
	margin-left: 10px;
}
.right-content .social-icon li:first-child {
	margin-left: 0;
}
/*
========================================================================
# 8 - Event styles
------------------------------------------------------------------------
*/
.event {
	padding-top: 50px;
    padding-bottom: 100px;
	background-color: #8cbac3;
	color: #1b1b1b;
}
.event-block {
	background: #f7f7f7;
    margin-bottom: 55px;
}
.event-block:hover .event-img img {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}
.event-img {
	overflow: hidden;
}
.event-img img {
	width: 100%;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}
.event-body {
	position: relative;
	padding: 35px 35px 100px;
	text-align: center;
}
.event-body h5 {
	font-weight: 700;
	color: #023a7b;
	font-size: 2em;
}
.event-date {
	position: absolute;
    display: table;
	left: 50%;
	bottom: -54px;
	width: 150px;
	height: 150px;
	background: #023a7b;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 25px;
	line-height: 1.2em;
	text-transform:uppercase;
}

.event-date .date-wrap {
    display: table-cell;
    vertical-align: middle;
}
.event-year {
	color: #B8B8B8;
	display: block;
}
/*
========================================================================
# 9 - Gift block styles
------------------------------------------------------------------------
*/

.gift {
	padding: 100px 0;
}
.gift-block {
	position: relative;
	padding: 65px 20px;
	text-align: center;
	border: 3px solid #D3D3D3;
	background: rgba(219,219,219,.9);
	z-index: 1;
	-webkit-transition: .2s ease-in;
	-moz-transition: .2s ease-in;
	-ms-transition: .2s ease-in;
	-o-transition: .2s ease-in;
	transition: .2s ease-in;
}
.gift-block:hover {
	border: 3px solid blue;
}
.gift-block:hover .gift-overlay {
	z-index: -1;
	background: #fff;
}
.gift-block a {
	display: block;
	text-align: center;
	vertical-align: middle;
}
.gift-block img {
	display: inline-block;
}
.gift-overlay {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: rgba(219,219,219,.9);
	-webkit-transition: .2s ease-in;
	-moz-transition: .2s ease-in;
	-ms-transition: .2s ease-in;
	-o-transition: .2s ease-in;
	transition: .2s ease-in;
}
/*
========================================================================
# 10 - Gallery styles
------------------------------------------------------------------------
*/

.gallery {
	padding: 100px 0 70px;
}
.gallery .item {
	width: 23%;
	margin-bottom: 30px;
	text-align: center;
	overflow: hidden;
}
.gallery .item img {
	width: 100%;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}
.caption {
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 30px;
	text-align: center;
	color: #fff;
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	-o-transition: .2s ease;
	-ms-transition: .2s ease;
}
.item:hover .caption {
	background: rgba(13,0,252,0.63);
}
.item:hover img {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.photo-gallery h5 {
	text-align: left;
	font-size: 16px;
	position: relative;
	left: 50px;
	opacity: 0;
	font-weight: 700;
	color: #fff;
	margin: 0;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}
.item:hover .caption h5, .item:hover .caption .img_category {
	left: 0px;
	opacity: 1;
}
.item:hover .caption .img_category {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.img_category {
	position: relative;
	left: 50px;
	text-align: left;
	font-size: 16px;
	display: block;
	font-weight: normal;
	opacity: 0;
	color: #fff;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}
/*
========================================================================
# 11 - Blog styles
------------------------------------------------------------------------
*/

.blog {
	padding: 100px 0;
}
.blog-post {
	position: relative;
	background: #f7f7f7;
}
.blog-meta ul {
	padding: 0;
	overflow: hidden;
	margin-bottom: 20px;
}
.blog-meta ul li {
	position: relative;
	float: left;
	margin-right: 20px;
	font-size: 12px;
	text-transform: uppercase;
	color: #191919;
}
.blog-meta ul li:after {
	content: "|";
	position: absolute;
	top: 0px;
	right: -11px;
}
.blog-meta ul li:last-child:after {
	content: none;
}
.blog-meta ul li a {
	color: #191919;
}
.blog-head {
	padding: 10px 20px;
}
.blog-head h5 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .05em;
}
.blog-thumb {
	position: relative;
	overflow: hidden;
}
.blog-post:hover .blog-thumb-hover {
	bottom: 0%;
}
.blog-thumb-hover {
	position: absolute;
	left: 0px;
	bottom: -100%;
	right: 0px;
	height: 100%;
	background: #f7f7f7;
	padding: 0px 20px 5px;
	-webkit-transition: .2s ease-in;
	-moz-transition: .2s ease-in;
	-ms-transition: .2s ease-in;
	-o-transition: .2s ease-in;
	transition: .2s ease-in;
}
.blog-link {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #f0f0f0;
	display: table;
	vertical-align: middle;
	position: absolute;
	left: 50%;
	bottom: -25px;
	margin-left: -25px;
}
.blog-link .fa {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.blog-link .fa.fa-link {
	display: none;
}
.blog-post:hover .fa.fa-link {
	display: table-cell;
}
.blog-post:hover .fa.fa-picture-o {
	display: none;
}
/*
========================================================================
# 12- Quote styles
------------------------------------------------------------------------
*/


blockquote {
	font-family: 'Clicker Script', cursive;
	border: none;
	color: #fff;
	text-align: center;
	position: relative;
}

/*
========================================================================
# 13- Contact styles
------------------------------------------------------------------------
*/

.contact {
	padding: 100px 0;
}
.contact ul {
	padding: 0;
}
.contact-address ul li {
	overflow: hidden;
	margin-bottom: 25px;
}
.contact-address ul li .fa {
    float: left;
    width: 25px;
    font-size: 20px;
    color: #023a7b;
    margin-left: 1px;
}
.contact-address h4 {
	font-family: 'PT Sans', sans-serif;
	color: #3A3A3A;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 4px;
	text-transform: capitalize;
	font-size: 1em;
	letter-spacing: 0.025em;
}
.contact-address span {
	display: block;
	color: #3a3a3a;
	font-size: 12px;
	line-height: normal;
	letter-spacing: 0.025em;
}
.divider {
	border-right: 1px solid #d9d9d9;
}
.contact-block {
	padding-left: 25px;
}
.contact h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: normal;
}
.contact .form-group {
	margin-bottom: 24px;
}
.contact .form-control, .contact textarea {
    background: #fcfcfc;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 10px 12px;
    color: #373737;
    height: 50px;
    font-size: 1em;
    font-family: 'Open Sans';
}
.contact .form-control:last-child {
	margin-bottom: 0;
}
.contact-address ul li .address-phone {
	float: left;
	padding-left: 25px;
}
.contact .form-control:focus, .contact textarea:focus {
	background: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.contact textarea {
	min-height: 115px;
}
input[type="submit"]:focus, input[type="submit"]:active {
	outline: none;
	border: 1px solid #1b1b1b;
}
/*----Selectbox style--------*/

.sbHolder {
	background: none;
	border: 1px solid #1b1b1b;
	width: 100%;
	height: 45px;
}
.sbOptions {
	width: 100%;
	background: #fff;
	border: 1px solid #1b1b1b;
}
.sbSelector {
	width: 90%;
	height: 44px;
	line-height: 42px;
}
.sbToggleOpen:focus {
	outline: none;
	color: #023a7b;
}
.sbToggle:focus {
	color: #023a7b;
}
.contact .default-btn {
	padding: 10px;
	color: #1b1b1b;
	border: 1px solid #1b1b1b;
	border-radius: 4px;
}
.contact .default-btn:hover {
	color: #fff;
}
.contact-success {
	background: transparent;
	border: 1px solid #64AB89;
	border-radius: 2px;
	padding: 5px;
	color: #64AB89;
	text-align: center;
	display: none;
}
.contact-error {
	background: transparent;
	border: 1px solid red;
	border-radius: 2px;
	padding: 5px;
	color: #A87C7C;
	text-align: center;
	display: none;
}
.map {
	width: 100%;
	height: 400px;
}
/*
========================================================================
# 14- Blog post styles
------------------------------------------------------------------------
*/


.blog-bg .color-overlay {
	padding: 50px 0;
}
.blog-title h3 {
	color: #fff;
}
.blog-content {
	padding: 75px 0;
}
.popular-post {
	margin-bottom: 50px;
}
.popular-post h5, .wedding-video h5 {
	position: relative;
	font-size: 16px;
	color: #717171;
	font-weight: 700;
	margin-bottom: 25px;
	letter-spacing: 0.05em;
}
.popular-post h5:before, .wedding-video h5:before {
	content: "";
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 60px;
	height: 3px;
	background: #023a7b;
}
.popular-post ul {
	padding: 0;
}
.popular-post ul li {
	margin-bottom: 25px;
}
.popular-post ul li p {
	font-size: 14px;
	margin-left: 75px;
	line-height: 17px;
}
.popular-post ul li span {
	display: block;
	color: #8b8b8b;
	font-size: 14px;
	margin-top: 10px;
}
.popular-img {
	float: left;
	margin-right: 5px;
}
.wedding-video p {
	font-size: 14px;
	margin-bottom: 25px;
}
/*
========================================================================
# 15- Single Blog Post styles
------------------------------------------------------------------------
*/

.single-blog-meta ul {
	padding: 0;
}
.single-blog-meta ul li {
	float: left;
	width: 33.333333333%;
	background: #fafafa;
	padding: 15px 25px;
	border-right: 1px solid #e3e3e3;
}
.single-blog-meta ul li:last-child {
	border: none;
}
.single-blog-upper {
	background: #ededed;
	padding: 60px 30px 45px;
}
.single-blog-lower {
	background: #ededed;
	padding: 50px 30px 60px;
	border-bottom: 3px solid #023a7b;
}
.single-blog-lower h4 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.025em;
}
.single-blog-upper h3 {
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	font-weight: 700;
}
.single-blog-detail {
	margin-bottom: 25px;
}
.single-blog-detail blockquote {
	position: relative;
	background: #e1704b;
	font-size: 24px;
	padding: 35px 30px 30px 100px;
	margin-bottom: 0;
	text-align: left;
	line-height: 36px;
}

.single-post-item {
	padding: 0px;
	margin-bottom: 50px;
	margin-top: 25px;
}
.single-post-item li {
	margin-bottom: 15px;
}
.single-post-item li .fa {
	width: 20px;
	height: 20px;
	background: #e1704b;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	font-size: 11px;
	padding: 5px;
	margin-right: 15px;
}
.single-post-thumnail {
	padding: 0;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.single-post-thumnail li {
	float: left;
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
}
/*-----sidebar style-----*/

.sidebar-single-post {
	background: #ededed;
	margin-bottom: 40px;
}
.sidebar-single-post-detail {
	padding: 10px 10px;
}
.sidebar-single-post-detail p {
	font-size: 14px;
}
.sidebar-single-post-img {
	margin-bottom: 20px;
}
.sidebar-single-post h5 {
	font-weight: 700;
}
/*------------------Social-block Style-----------------*/

.social-block {
	padding: 40px 0 65px;
}
.social-block span {
	font-weight: 700;
	letter-spacing: 0.025em;
}
.social-block .fa {
	font-size: 18px;
	padding: 5px;
	width: 30px;
	height: 30px;
	border: 1px solid #dadada;
	text-align: center;
	border-radius: 3px;
	margin: 0 5px 0;
}
.social-block a .fa-facebook {
	color: #47639e;
}
.social-block a .fa-facebook:hover {
	background-color: #47639e;
	border: 1px solid #47639e;
	color: #fff;
}
.social-block a .fa-twitter {
	color: #00acee;
}
.social-block a .fa-twitter:hover {
	background-color: #00acee;
	border: 1px solid #00acee;
	color: #fff;
}
.social-block a .fa-google {
	color: #d94531;
}
.social-block a .fa-google:hover {
	background-color: #d94531;
	border: 1px solid #d94531;
	color: #fff;
}
.social-block a .fa-share-alt {
	color: #d94531;
}
.social-block a .fa-share-alt:hover {
	background: #d94531;
	border: 1px solid #d94531;
	color: #fff;
}
/*------------------Comment Style-----------------*/

.comment-block {
	margin-bottom: 65px;
	padding: 60px 50px;
	background: #ededed;
	border-bottom: 3px solid #023a7b;
}
.comment-block > h5, .reply-block h5 {
	font-weight: 700;
	margin-bottom: 30px;
}
h4.media-heading {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #252525;
}
.media-list > .media-object {
	width: 95px;
	height: 85px;
}
.media-left, .media > .pull-left {
	padding-right: 30px;
}
ul.media-list + ul .media-object {
	width: 70px;
	height: 62px;
}
.comment-block .media-list {
	padding-left: 40px;
}
.comment-block ul.media-list + ul {
	padding-left: 80px;
}
.comment-block .default-btn {
	float: right;
	background-color: #e1704b;
	padding: 7px 18px;
	border: 1px solid #e1704b;
	border-radius: 3px;
}
.comment-block .default-btn:hover {
	background: #fff;
	color: #023a7b;
	border: 1px solid #023a7b;
}
.reply-block .default-btn {
	padding: 20px 66px;
	border-radius: 2px;
}
.reply-block .contact {
	padding: 0;
}
/*--------------/.reply-block end------*/

.reply-block {
	background: #ededed;
	padding: 50px;
	border-bottom: 3px solid #023a7b;
}
/*
========================================================================
# 16- Footer styles
------------------------------------------------------------------------
*/

footer {
	background-color: #0e3562;
	text-align: center;
	padding: 4% 0;
}
.footer-logo {
	position: relative;
	font-family: 'Clicker Script', cursive;
	color: #fff;
	font-size: 20px;
	display: inline-block;
}
.footer-logo {
	display: inline-block;
	width: 333px;
	height: 90px;
	padding: 8px 0px;
	margin-bottom: 30px;
}
footer a .fa {
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
	padding: 15px 10px;
	font-size: 1.4em;
	width: 55px;
	height: 55px;
	text-align: center;
	margin: 30px 16px 20px;
	border-radius: 50%;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}
footer a .fa:hover {
	background: #3bc5e2;
	color: #fff;
}
footer .nav {
    margin-bottom: 15px;
    color: white;
    font-size: 0.8em;
    font-family: 'Open Sans';
}
.nav-pills > li {
	float: none;
	display: inline-block;
	margin: 20px;
}
.nav-pills > li > a {
	font-weight: 500;
	color: #fff;
}
.nav-pills > li > a:after {
	content: "|";
	position: absolute;
	top: 0px;
	right: -15px;
}
.nav-pills > li:last-child > a:after {
	content: none;
}
.nav-pills > li > a {
	position: relative;
	display: block;
	padding: 0;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background: transparent;
}
.nav-pills > li > a:hover, .nav-pills > li > a:focus {
	background: transparent;
	color: #fff;
}
.copyright {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Helvetica','Sans Serif'!important;
    line-height: normal;
    letter-spacing: normal;
}
#legal {
	color: white;
	font-size: 10px;
	line-height: 9px;
	width: 100%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
#legal h5 {
	color: white;
	font-size: 1.4em;
	font-weight: 700;
}
#go-to-top {
	display: none;
}
#go-to-top .fa {
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 56px;
	height: 56px;
	color: #666666;
	font-size: 38px;
	text-align: center;
	padding: 5px;
	border: 2px solid #666666;
	border-radius: 50%;
}
#go-to-top .fa:hover {
	border-color: white;
	color: #fff
}
/* Discuss Expander */


            
.content {
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-color:rgba(41,41,41,0.56);
	color: white;
	font-size: 5px!important;
}




* {
  box-sizing: border-box;
}

.chat_window {
 position: absolute;
width: calc(100% - 0px);
max-width: 800px;
height: 25%;
max-height: 400px;
border-radius: 2px;
/* background-color: #fff; */
left: 50%;
bottom: 2%;
transform: translateX(-50%);
background-color: rgba(255, 255, 255, 0.14);
overflow: hidden;
z-index: 99999999;
font-family: "Helvetica", "sans-serif" !important;
}

.top_menu {
 background-color: rgba(255, 255, 255, 0.74);
width: 100%;
padding: 3px 0 1px;
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.top_menu .buttons {
  margin: 3px 0 0 10px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 12px;
height: 12px;
border-radius: 50%;
display: inline-block;
margin-right:5px;
position: relative;
}
.top_menu .buttons .button.close {
  background-color: #a2dffd;
}
.top_menu .buttons .button.minimize {
  background-color: #a2dffd;
}
.top_menu .buttons .button.maximize {
  background-color: #a2dffd;
}
.top_menu .title {
  text-align: center;
color: #a8aaad;
font-size: 14px;

text-transform: uppercase;
letter-spacing: 1px;
}

.messages {
  position: relative;
list-style: none;
padding: 10px 10px 0 10px;
margin: 0;
height: 340px;
overflow: scroll;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.3s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: rgba(201, 248, 255, 0.87);
float: left;
display: none;
}
.messages .message.left .text_wrapper {
 background-color: rgba(201, 248, 255, 0.87);
margin-left: 10px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color:rgba(201, 248, 255, 0.87);
}
.messages .message.left .text {
  color: #023A7B;
}
.messages .message.right .avatar {
  background-color: rgba(201, 248, 255, 0.87);;
float: right;
display:none;
}
.messages .message.right .text_wrapper {
  background-color: rgba(201, 248, 255, 0.87);
  margin-right: 10px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: rgba(201, 248, 255, 0.87);
}
.messages .message.right .text {
  color: #023A7B;
  font-weight: 400;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 40px;
height: 40px;
border-radius: 50%;
display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 14px;
  font-weight: 400!important; 
  color: black;
}

.bottom_wrapper {
    width: 100%;
    background-color: rgba(208, 224, 227, 0.95);
    padding: 10px 10px;
    position: absolute;
    bottom: 0;

}

.bottom_wrapper .message_input_wrapper {
 display: inline-block;
height: 33px;
border-radius: 6px;
border: 1px solid #cccccc;
width: calc(100% - 170px);
position: relative;
padding: 0 8px;
background-color:white;

}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
  font-size: 14px;
}
.bottom_wrapper .send_message {
  width: 130px;
height: 37px;
display: inline-block;
border-radius:8px;
background-color:transparent;
border: 1px solid #3244ab;
color: #3244ab;
cursor: pointer;
transition: all 0.1s linear;
text-align: center;
float: right;
}
.bottom_wrapper .send_message:hover {
  color: white;
  background-color: #023A7B;
}
.bottom_wrapper .send_message .text {
  font-size: 15px;
font-weight: 400;
display: inline-block;
line-height: 32px;
text-transform: uppercase;
}

.message_template {
  display: none;
}



#demo3.collapsed .content {
	display: none;
	
}
