body {
	padding-top: 0px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}
.navbar-fixed-top .nav {
	padding: 5px 0;
}
.navbar-fixed-top .navbar-brand {
	padding: 5px;
}

@media (min-width:768px) {
body {
	padding-top: 0px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}
.navbar-fixed-top .navbar-brand {
	padding: 9px 0;
}
}
#header {
	background: rgba(2, 58, 123, .8);
	border: none;
}
#header ul li a {
	color: white;
	font-family: "Oranienbaum", "Serif";
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	-webkit-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
#header ul li a:hover {
	color: rgb(140, 186, 195);
}
ul.nav.navbar-nav.navbar-right {
	padding: 0;
}
ul.nav.navbar-nav.navbar-right li {
	padding: 5px 0;
}
/* SIGN IN BUTTON STYLES */
#sign-in-li {
	padding: 0;
}
#sign-in-red {
	/*background: rgb(181, 0, 3);*/
	padding-top: 20px;
	padding-bottom: 40px;
	-webkit-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
#sign-in-red:hover {
	color: rgb(181, 0, 3) !important;
	background: white;
}
#sign-in-red i {
	padding-right: 5px;
}
/* NAVBAR BRAND STYLES */
#header .navbar-brand img {
	width: 150px;
}
.evite {
	font-size: 60px;
}
.evite_couple, .evite_date {
	font-size: 90px;
}
.evite_small {
	font-size: 25px;
}
.rsvpLink-title {
	font-size: 35px;
	line-height: 1em;
	padding-bottom: 1.5em;
	padding-top: 1.5em;
	display: block;
}
#story-title {
    font-size: 45px;
    line-height: 1em;
}
#event-title {
	font-size: 55px;
	padding-bottom: 50px;
}
/* VIDEO SECTION STYLES */

div#video_nav_tweet_wrapper {
	overflow: hidden;
	position: relative;
}
.row-one #you {
	width: 25%;
	float: left;
	height: 30%;
	/* border-right: 0px #f7f7f7 solid; */
	background-image: url(../../images/groom_background.jpg);
	background-position: top;
	background-size: cover;
	overflow: hidden;
	transform: perspective( 500px ) rotateY( 15deg );
	-webkit-transform-style: preserve-3d;
	border-top-left-radius: 25%;
	margin-left: 14%;
}
.row-two #witness1, .row-two #witness2 {
	width: 20%;
	height: 40%;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform: perspective( 0px ) rotateY( 0deg );
	-webkit-transition-duration: 0.8s;
	/* Safari */
	transition-duration: 0.8s;
	z-index: 100;
}
#witness1 video {
	height: 100%;
    width: 100%; 
	object-fit: cover;
	z-index: -100;
	right: 0;
	bottom: 0;
	background-size: cover;
	overflow: hidden;/* padding-top: 45px; */
}
 _:-moz-tree-row(hover), #witness1 video {
 height: auto;
 margin-top: -200px;
}
#witness2 video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -100;
	right: 0;
	/* bottom: 0; */
	background-size: cover;
	overflow: hidden;/* padding-top: 115px; */
}
 _:-moz-tree-row(hover), #witness2 video {
 height: auto;
 margin-top: -200px;
}
#you video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -100;
	right: 0;
	bottom: 0;
	background-size: cover;
	overflow: hidden;/* padding-top: 50px; */
}
 _:-moz-tree-row(hover), #you video {
 height: auto;
 margin-top: -220px;
}
.drop-shadow {
	position: relative;
	float: left;
	width: 40%;
	margin: 1em 10px 1em;
	/* background:#fff; */
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.drop-shadow:before, .drop-shadow:after {
	content: "";
	position: absolute;
	z-index: -2;
}
.raised {
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 15px 10px 1px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#officiate {
	width: 330px !important;
	margin: auto;
	top: -43% !important;
	left: 0;
	right: 0;
	height: 380px;
	border-bottom-left-radius: 3%;
	border-bottom-right-radius: 3%;
	border-top-right-radius: 20%;
	border-top-left-radius: 20%;
	background-image: url(../images/officient_background.jpg);
	background-position: top;
	background-size: cover;
	overflow: hidden;
}

#yours video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -100;
	right: 0;
	bottom: 0;
	background-size: cover;
	overflow: hidden;/* padding-top: 120px; *//* border-top-right-radius: 20px; */
}
.row-one #yours {
	width: 25%;
	float: right;
	height: 20%;
	border-top-right-radius: 20%;
	/* border-left: 0px #f7f7f7 solid; */
	background-image: url(../../images/bride_background.jpg);
	background-position: top;
	background-size: cover;
	overflow: hidden;
	transform: perspective( 500px ) rotateY( -15deg );
	-webkit-transform-style: preserve-3d;
	margin-right: 15%;
}
 _:-moz-tree-row(hover), #yours video {
 height: auto;
 margin-top: -220px;
}
#officiate video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -100;
	right: 0;
	bottom: 0;
	background-size: cover;
	overflow: hidden;/*padding-top: -45px;*/
}
 _:-moz-tree-row(hover), #officiate video {
 height: auto;
 margin-top: -200px;
}
/* CHAT BOX STYLES */
#chat-box-container {
	height: 300px;
	position: fixed;
	bottom: 0;
	z-index: 1040;
}
.chat-window .panel {
	margin-bottom: 0px;
}
.chat-window {
	bottom: 0;
	position: absolute;
	/*float:right;*/
	margin-left: -10px;
}
.chat-window > div > .panel {
	border-radius: 5px 5px 0 0;
}
.icon_minim {
	padding: 2px 10px;
}
.msg_container_base {
	background: #e5e5e5;
	margin: 0;
	padding: 0 10px 10px;
	max-height: 300px;
	overflow-x: hidden;
}
.chat-window .top-bar {
	padding: 10px;
	position: relative;
	overflow: hidden;
}
.msg_receive {
	padding-left: 0;
	margin-left: 0;
}
.msg_sent {
	padding-bottom: 20px !important;
	margin-right: 0;
}
.messages {
/*	background: white;
*/	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	max-width: 100%;
}
.messages > p {
	font-size: 13px;
	margin: 0 0 0.2rem 0;
}
.messages > time {
	font-size: 11px;
	color: #ccc;
}
.msg_container {
	padding: 10px;
	overflow: hidden;
	display: flex;
}
.chat-window img {
	display: block;
	width: 100%;
}
.avatar {
	position: relative;
}
/*.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}*/

.base_sent {
	justify-content: flex-end;
	align-items: flex-end;
}
/*.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}*/

.msg_sent > time {
	float: right;
}
 .msg_container_base::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}
 .msg_container_base::-webkit-scrollbar {
 width: 12px;
 background-color: #F5F5F5;
}
 .msg_container_base::-webkit-scrollbar-thumb {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
 background-color: #555;
}
.btn-group.dropup {
	position: fixed;
	left: 0px;
	bottom: 0;
}

@media (min-width:1199px) and (max-width:1280px) {
.row-one #you {
	height: 300px;
}
.row-one #yours {
	height: 300px;
}
}

@media (min-width:991px) and (max-width:1199px) {
#header {
	padding: 0 20px;
}
#header ul li a {
	font-size: 16px;
}
.evite {
	font-size: 65px;
}
.evite_couple, .evite_date {
	font-size: 65px;
}
.evite_small {
	font-size: 25px;
}
.row-one #you {
	height: 300px;
}
.row-one #yours {
	height: 300px;
}
.row-two #witness1, .row-two #witness2 {
	height: 220px;
}
}

@media (min-width:768px) and (max-width:991px) {
#header {
	padding: 0 10px;
}
#header ul li a {
	font-size: 14px;
}
.evite {
	font-size: 55px;
}
.evite_couple, .evite_date {
	font-size: 55px;
}
.evite_small {
	font-size: 22px;
}
.rsvpLink-title {
	font-size: 35px;
}
.row-one #you {
	height: 250px;
}
.row-one #yours {
	height: 250px;
}
.row-two #witness1, .row-two #witness2 {
	height: 200px;
}
#witness1 video {
	padding-top: 0;
}
 _:-moz-tree-row(hover), #witness1 video {
 margin-top: -100px;
}
#witness2 video {
	padding-top: 90px;
}
 _:-moz-tree-row(hover), #witness2 video {
 margin-top: -140px;
}
#you video {
	padding-top: 0;
}
 _:-moz-tree-row(hover), #you video {
 margin-top: -100px;
}
#yours video {
	padding-top: 80px;
}
 _:-moz-tree-row(hover), #yours video {
 margin-top: -140px;
}
#officiate video {
	padding-top: -30px;
}
 _:-moz-tree-row(hover), #officiate video {
 margin-top: -140px;
}


}

/* HEADER SOCIAL LINKS STYLING */
@media (min-width:767px) and (max-width:830px) {
#header ul li a {
	font-size: 13px;
}
#witness1 video {
	padding-top: 0;
}
#witness2 video {
	padding-top: 90px;
}
#you video {
	padding-top: 0;
}
#yours video {
	padding-top: 80px;
}
#officiate video {
	padding-top: 30px;
}
.row-two #witness2 {
	border-radius: 0px;
	transform: perspective( 0px ) rotateY( 0deg );
	margin:0px;

}
.row-two #witness1 {
	border-radius: 0px;
	transform: perspective( 0px ) rotateY( 0deg );
	margin:0px;

}
.row-one #yours {
	border-radius: 0px;
	transform: perspective( 0px ) rotateY( 0deg );
		transform:none;

}
.row-one #you {
	border-radius: 0px;
	transform: perspective( 0px ) rotateY( 0deg );
		transform:none;

}
#officiate {
	border-radius: 0px;
	transform: perspective( 0px ) rotateY( 0deg );
}
.raised {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/* HIDE NAVBAR RIGHT IN SMALLER SCREENS */
    /*#header .navbar-right {
        display: none;
    }*/
    
    /* FLOAT LEFT NAVBAR TO THE RIGHT SIDE */
    /*#navbar ul:first-child{
        float: right;
    }*/
	
	row{margin-right: 0px;
margin-left: 0px;
padding-right: 0px;
padding-left: 0px;
width: auto;
/* max-width: none; */
min-width: 0px;}
}

@media (max-width:767px) {
#header {
	padding: 0 4px;
}
#header ul li a {
	font-size: 16px;
	text-align:center;
	font-family: 'Roboto', san-serif;
}
#header .navbar-right {
	text-align: center;
	padding: 0;
	margin: 10px 0;
	border: 0px solid rgba(255, 255, 255, 0.48);
}
#header .navbar-right li {
	display: inline-block;
}

#header .navbar-brand img {
	width: 150px;
	margin-left: 50%;
}
#sign-in-red {
	display: inline-flex;
	background: none;
	padding: 0;
	color: #FFFFFF !important;
}
#sign-in-red:hover {
	color: rgb(181, 0, 3) !important;
	background: none;
}
    .evite {
        font-size: 36px;
        padding-bottom: 20px;
        font-family: 'Clicker Script',cursive;
        text-transform: none;
    }

.evite_couple, .evite_date {
	font-size: 45px;
}
.evite_small {
	font-size: 20px;
}
.rsvpLink-title {
	font-size: 30px;
}
#event-title {
	font-size: 35px;
	padding-bottom: 35px;
}
#event-title span {
	display: block;
}
#witness1 video {
	padding-top: 0;
}
 _:-moz-tree-row(hover), #witness1 video {
 margin-top: 0;
}
#witness2 video {
	padding-top: 0px;
}
 _:-moz-tree-row(hover), #witness2 video {
 margin-top: -135px;
}
#you video {
	padding-top: 0;
}
 _:-moz-tree-row(hover), #you video {
 margin-top: 0;
}
#yours video {
	padding-top: 0;
}
 _:-moz-tree-row(hover), #yours video {
 margin-top: 0;
}
#officiate video {
	padding-bottom: 25px;
}
 _:-moz-tree-row(hover), #officiate video {
 margin-top: -90px;
}
 _:-moz-tree-row(hover), .row-one {
 height: 56% !important;
}
 _:-moz-tree-row(hover), .row-two {
 top: 0px;
 height: 44% !important;
}
.row-two #witness2 {
	border-radius: 0px;
	transform: perspective( 0px ) rotateY( 0deg );
	margin:0px;

}
.row-two #witness1 {
	border-radius: 0px;
	transform: perspective( 0px ) rotateY( 0deg );
	margin:0px;

}

.row-one #yours {
	border-radius: 0px;
	transform: perspective( 0px ) rotateY( 0deg );
	margin:0px;
	transform:none;

}
.row-one #you {
	border-radius: 0px;
	transform: perspective( 0px ) rotateY( 0deg );
	margin:0px;
	transform:none;

}
#officiate {
	border-radius: 0px;
	transform: perspective( 0px ) rotateY( 0deg );
}

.raised {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

row{margin-right: 0px;
margin-left: 0px;
padding-right: 0px;
padding-left: 0px;
width: auto;
/* max-width: none; */
min-width: 0px;}
}





/* CONTACT FORM STYLES */
input#name::-webkit-input-placeholder, textarea#message::-webkit-input-placeholder {
font-size:18px;
}
input#name::-moz-placeholder, textarea#message::-moz-placeholder {
font-size:18px;
} /* firefox 19+ */
input#name:-ms-input-placeholder, textarea#message:-ms-input-placeholder {
font-size:18px;
} /* ie */
input#name:-moz-placeholder, textarea#message:-moz-placeholder {
font-size:18px;
}
.contact_form .btn.btn-lg.btn-block {
	background: white;
	border: 1px solid black;
	font-family: "Open Sans Condensed", "Serif";
	text-transform: uppercase;
}
/* SIGN IN POP UP */
.modal-dialog {
	z-index: 99999;
}
/* scroll fixes */
.modal-open .modal {
	padding-left: 0px !important;
	padding-right: 0px !important;
	overflow-y: scroll;
}
#sign-in-modal .modal-content {
	background: #023a7b;
}
#modal-form #i-do {
	background: #8cbac3;
	border-radius: 0;
	border: none;
	color: #023A7B;
	font-weight: 400;
	font-size: 20px;
	padding: 10px 0;
}
#modal-form #email {
	background-image: url(../../images/icon/Envelope.svg);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 29px;
	text-indent: 42px;
	-webkit-transition: all 0;
	-moz-transition: all 0s;
	transition: all 0;
}
#modal-form #password {
	background-image: url(../../images/icon/Heart.svg);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 29px;
	text-indent: 42px;
	-webkit-transition: all 0;
	-moz-transition: all 0s;
	transition: all 0;
}
#sign-in-modal #terms p {
	color: white;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}
#sign-in-modal #terms p a {
	color: white;
	font-weight: bold;
}
#need-account {
	padding: 10px 0;
}
#need-account a {
	color: white;
	font-size: 20px;
}
/* SIGN IN MODAL STYLING */
.float-label-control {
	position: relative;
	margin-bottom: 1.5em;
}
.float-label-control input:-webkit-autofill, .float-label-control textarea:-webkit-autofill {
background-color: transparent !important;
-webkit-box-shadow: 0 0 0 1000px white inset !important;
-moz-box-shadow: 0 0 0 1000px white inset !important;
box-shadow: 0 0 0 1000px white inset !important;
}
.float-label-control input, .float-label-control textarea, .float-label-control label {
	color: white;
	font-size: 1.3em;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.float-label-control input:focus, .float-label-control textarea:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-bottom-width: 2px;
	padding-bottom: 0;
}
.float-label-control textarea:focus {
	padding-bottom: 4px;
}
.float-label-control input, .float-label-control textarea {
	display: block;
	width: 100%;
	padding: 0.1em 0em 1px 0em;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #2E63A0;
	outline: none;
	margin: 0px;
	background: none;
}
.float-label-control textarea {
	padding: 0.1em 0em 5px 0em;
}
.float-label-control label {
	position: absolute;
	font-weight: normal;
	top: -1.0em;
	left: 0.08em;
	color: #aaaaaa;
	z-index: -1;
	font-size: 0.85em;
	-moz-animation: float-labels 300ms none ease-out;
	-webkit-animation: float-labels 300ms none ease-out;
	-o-animation: float-labels 300ms none ease-out;
	-ms-animation: float-labels 300ms none ease-out;
	-khtml-animation: float-labels 300ms none ease-out;
	animation: float-labels 300ms none ease-out; /* There is a bug sometimes pausing the animation. This avoids that.*/
	animation-play-state: running !important;
	-webkit-animation-play-state: running !important;
}
.float-label-control input.empty + label, .float-label-control textarea.empty + label {
	top: 0.1em;
	font-size: 1.5em;
	animation: none;
	-webkit-animation: none;
}
.float-label-control input:not(.empty) + label, .float-label-control textarea:not(.empty) + label {
	z-index: 1;
}
.float-label-control input:not(.empty):focus + label, .float-label-control textarea:not(.empty):focus + label {
	color: #aaaaaa;
}
.float-label-control.label-bottom label {
	-moz-animation: float-labels-bottom 300ms none ease-out;
	-webkit-animation: float-labels-bottom 300ms none ease-out;
	-o-animation: float-labels-bottom 300ms none ease-out;
	-ms-animation: float-labels-bottom 300ms none ease-out;
	-khtml-animation: float-labels-bottom 300ms none ease-out;
	animation: float-labels-bottom 300ms none ease-out;
}
.float-label-control.label-bottom input:not(.empty) + label, .float-label-control.label-bottom textarea:not(.empty) + label {
	top: 3em;
}
 .float-label-control input::-webkit-input-placeholder {
 font-size: 20px;
 color: white;
 padding-top: 6px;
}
 .float-label-control input:focus::-webkit-input-placeholder {
 font-size: 20px;
 color: white;
}
 @keyframes float-labels {
 0% {
opacity: 1;
color: #aaa;
top: 0.1em;
font-size: 1.5em;
}
 20% {
font-size: 1.5em;
opacity: 0;
}
 30% {
top: 0.1em;
}
 50% {
opacity: 0;
font-size: 0.85em;
}
 100% {
top: -1em;
opacity: 1;
}
}
 @-webkit-keyframes float-labels {
 0% {
opacity: 1;
color: #aaa;
top: 0.1em;
font-size: 1.5em;
}
 20% {
font-size: 1.5em;
opacity: 0;
}
 30% {
top: 0.1em;
}
 50% {
opacity: 0;
font-size: 0.85em;
}
 100% {
top: -1em;
opacity: 1;
}
}
 @keyframes float-labels-bottom {
 0% {
opacity: 1;
color: #aaa;
top: 0.1em;
font-size: 1.5em;
}
 20% {
font-size: 1.5em;
opacity: 0;
}
 30% {
top: 0.1em;
}
 50% {
opacity: 0;
font-size: 0.85em;
}
 100% {
top: 3em;
opacity: 1;
}
}
 @-webkit-keyframes float-labels-bottom {
 0% {
opacity: 1;
color: #aaa;
top: 0.1em;
font-size: 1.5em;
}
 20% {
font-size: 1.5em;
opacity: 0;
}
 30% {
top: 0.1em;
}
 50% {
opacity: 0;
font-size: 0.85em;
}
 100% {
top: 3em;
opacity: 1;
}
}
