@charset "UTF-8";
/* This CSS document contains the primary video elements for WedWeb */

.height100{
	height:100%;
}


#video_banner .row{
	height: 100%;
	width: 100%;	
	padding:0px;
	margin:0px;
}

#happily_ever_container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: white;
	display: inline-table;


}

#video_container {
	padding:0px;
	margin-right: 0;
	margin-left: 0;
	max-width: 1200px;
	height: 100%;
	width: 100%;

}

#discuss_container{
	background-color: white;
	height: 368px;
	width: 100%;
	disaply: block;
}


#comment-container {
	width: 100%!important;
	color: black!important;
}

@media screen and (max-width: 620px) {
#happily_ever_container {
	display: inline-table;
	height: 100%;
}

.video_container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
	/*height: 70vh;*/
}



}
