@charset "UTF-8";
/* This CSS document contains the primary video elements for WedWeb */

/* Edit only between these lines */



/*/Edit only between these lines */

.height100{
	height:100%;
}


#video_banner .row{
	height: 100%;
	width: 100%;	
	padding:0px;
	margin:0px;
}

#happily_ever_container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: white;
	display: inline-table;


}

#video_container {
	padding:0px;
	margin-right: 0;
	margin-left: 0;
	max-width: 1200px;
	height: 100%;
	width: 100%;

}

#discuss{
	background-color: white;
	height: 368px;
	width: 100%;
	disaply: block;
}

#you {
	background-color: black;
	background-image: url(../../images/groom_background.jpg);
	background-size:100%;
	background-repeat: none;
	background-position: center 0;
	height: 200px;
	width: 20%;
	max-width: 287px;
	float: left;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	border: 10px white solid;
	display: table-cell;
}
#yours {
	background-color: black;
	background-image: url(../../images/bride_background.jpg);
	background-size:100%;
	background-repeat: none;
	background-position: center 0;
	height: 200px;
	width: 20%;
	background-color: black;
	float: right;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	border: 10px white solid;
	display: table-cell;
}
#officiate {
	background-color: black;
	background-image: url(../../images/officient_background.jpg);
	background-size:100%;
	background-repeat: none;
	background-position: center 0;
	background-color: black;
	height: 170px;
	width: 13%;
	float: left;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	border: 10px white solid;
	display: table-cell;
}
#witness1 {
	background-color: black;
	background-image:url(../../images/witness_male_background.jpg);
	background-size:100%;
	background-repeat: none;
	background-position: center 0;
	background-color: black;
	height: 170px;
	width: 13%;
	float: left;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	border: 10px white solid;
	display: table-cell;
}
#witness2 {
	background-color: black;
	background-image: url(../../images/witness_female_background.jpg);
	background-size:100%;
	background-repeat: none;
	background-position: center 0;
	background-color: black;
	height: 170px;
	width: 13%;
	float: left;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	border: 10px white solid;
	display: table-cell;
}

.vcenter {
	margin-top: auto;
	margin-bottom: auto;
	margin-top: 20%;
	margin-bottom: 20%;
}

@media screen and (max-width: 620px) {
#happily_ever_container {
	display: inline-table;
	height: 100%;
}

.video_container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
	height: 100%;
}


#you {
	height: 433px;
	width: 50%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: table-cell;
	top:0;
	left:0;
}
#yours {
	background-color: black;
	height: 433px;
	width: 50%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: table-cell;
	top:0;
	right:0;
}
#officiate {
	background-color: black;
	height: 176px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 520px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#witness1 {
	background-color: black;
	height: 277px;
	width: 50%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: table-cell;
	left:0;
}
#witness2 {
	background-color: black;
	height: 277px;
	width: 50%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: table-cell;
	right:0;
	float: right;
}
.video_container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

}
