<!--
  Generated template for the MarriageApplicationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="submitted==false">

  <ion-navbar>
    <ion-title>Marriage Application</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="main-bg" *ngIf="submitted==true">
  <div class="logo" ion-fixed>
    <img src="assets/images/WebWed-Logo.svg" style="max-width:150px;padding:20px" alt="logo">
  </div>

  <div class="congratulations-msg">
    <h1>Application Sent</h1>
    <p><strong>Important</strong></p>
    <p>Your application has been submitted. Check your email to complete the required verification.</p>
    <br/>
    <!-- <p>{{total}} Viewers watched you live</p> -->
  </div>
</ion-content>

<ion-footer *ngIf="submitted==true" class="footer-sticky" text-center>
  <button (click)="close()" full block color="light-blue" ion-button large>Close</button>
</ion-footer>


<ion-content class="registry-content" *ngIf="submitted==false">
  <div>
    <div class="registry-container" padding text-left>
      <h2>1. Court</h2>
      <p>Select a court in the county which you have residence. If you wish to allow a proxy ceremony you may skip this question.</p>

      <ion-input type="text" (focus)="selectCourt()" [(ngModel)]="court.court.name" style=" background: #f0f0f0; border: 1px solid rgba(0,0,0,.2); border-radius:5px;"></ion-input>
      <!-- <button ion-button color="green" style="margin:0 auto;display:block;" text-center round>Accepts Online Applications</button> -->
    </div><br/>
    <div class="registry-container" padding text-left>
      <h2>2. Application Information</h2>
      <p>For each individual upload a photo of:</p>
      <ul>
        <li>Government issued ID (Passport, License, or Military ID)</li>
        <li>Birth Certificate</li>
        <li>Utility Bill</li>
        <li>Divorce Decree (if applicable)</li>
      </ul>


      <!-- <button text-center style="margin:0 auto; display:block;" (click)="addAttachment()" round ion-button color="primary">ADD NEW</button><br/> -->
      <!-- <ion-list class="documents-container" no-lines>
      <ion-item *ngFor="let attachment of attachments" class="header-bold">
        <h2>{{attachment.title}}</h2>
        <p>{{attachment.date*1000 | date}}</p>
        <ion-note item-end>
         <button (click)="removeAttachment(attachment.id)" ion-button menuClose clear class="close-btn">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-note>
      </ion-item>
     </ion-list> -->
    </div>
    <div class="registry-container" text-left>
      <ion-list class="white-bg guest-invitation-list" no-lines>
        <ion-item-divider color="light">YOUR INFORMATION</ion-item-divider>
        <ion-item class="border-btm header-bold">
          <ion-avatar item-start>
            <img [src]="your_information.user.personal.avatar">
          </ion-avatar>
          <h2>{{your_information.user.personal.name.full}}</h2>
          <p>{{your_information.user.personal.email}}</p>
        </ion-item>
        <ion-item item-text-wrap class="border-btm header-bold">
          <div class="row">
            <div (click)="addAttachment('your')" class="col" *ngFor="let attachment of your_information.attachments">
              <img [src]="attachment.value" *ngIf="attachment.value != ''" style="width:80px;height:80px;margin:0 auto;" />
              <button ion-fab mini color="secondary" *ngIf="attachment.value == ''" style="margin:20px auto;"><ion-icon name="add"></ion-icon></button>
            </div>
          </div><br/>

        </ion-item>
        <ion-item text-wrap text-center>
          <div class="row">
            <p text-center>Tap a plus to add a document. The suggested documents are birth certificate, license, utility bill, and any divorce decree if applicable.</p>
          </div>
        </ion-item>
        <ion-item-divider color="light">SPOUCES INFORMATION</ion-item-divider>
        <ion-item class="border-btm header-bold">
          <ion-avatar item-start>
            <img [src]="spouce_information.user.personal.avatar">
          </ion-avatar>
          <h2>{{spouce_information.user.personal.name.full}}</h2>
          <p>{{spouce_information.user.personal.email}}</p>
        </ion-item>
        <ion-item *ngIf="spouce_information.user.personal.name.full != 'Add Spouce'" item-text-wrap class="border-btm header-bold">
          <div class="row">
            <div (click)="addAttachment('spouce')" class="col" *ngFor="let attachment of spouce_information.attachments">
              <img [src]="attachment.value" *ngIf="attachment.value != ''" style="width:80px;height:80px;margin:0 auto;" />
              <button ion-fab mini color="secondary" *ngIf="attachment.value == ''" style="margin:20px auto;"><ion-icon name="add"></ion-icon></button>
            </div>
          </div><br/>

        </ion-item>
        <ion-item *ngIf="spouce_information.user.personal.name.full != 'Add Spouce'" text-wrap text-center>
          <div class="row">
            <p text-center>Tap a plus to add a document. The suggested documents are birth certificate, license, utility bill, and any divorce decree if applicable.</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div class="registry-container" text-left>
      <h2 style="padding:16px 16px 0px 16px;">3. Officiant Details</h2>
      <ion-list class="white-bg guest-invitation-list" no-lines>
        <ion-item class="border-btm header-bold">
          <ion-avatar item-start>
            <img [src]="officiant_information.user.personal.avatar">
          </ion-avatar>
          <h2>{{officiant_information.user.personal.name.full}}</h2>
          <p>{{officiant_information.user.personal.email}}</p>
        </ion-item>
      </ion-list>
    </div><br/>
    <div class="registry-container" padding text-left>
      <h2>4. Review and Submit</h2>
      <p>Please check that you and your spouce have accurately completed your user profiles and that you have uploaded the required documents. You will not be allowed to modify this application once submitted. By pressing submit you authorize digital transmission of this information and have read and understand our <a href="https://webwedmobile.com/legal" color="secondary" target="_system">Terms of Service</a>.</p>
    </div><br/>
    <button full block color="light-blue" *ngIf="spouce_information.user.personal.name.full != 'Add Spouce' && officiant_information.user.personal.name.full != 'Add Officiant'" (click)="submit()" ion-button large>SUBMIT NOW</button>
    <button full block color="light-blue" *ngIf="spouce_information.user.personal.name.full == 'Add Spouce' || officiant_information.user.personal.name.full == 'Add Officiant'" disabled="disabled" (click)="submit()" ion-button large>SUBMIT NOW</button>

  </div>
</ion-content>
