<!-- Generated template for the CircularProgressBarComponent component -->
<div class="outerDiv" [style.background]="'url(' + backgroundUrl +')'">
  <div class="overlayDiv"></div>
  <round-progress style="margin:0 auto;" class="round-progress child" [style.background-size]=" imageWidth + 'px ' + imageWidth + 'px'"
    [stroke]="width/2<125 ? 7 : 15" [current]="progress" [radius]="width/2" [max]="max" [color]="color" [background]="placeholderColor"
    (onRender)="progressValueChanged()">
  </round-progress>
</div>
