c-guest-card {
    .card-title-md.guest-card-color-title, .card-title-ios.guest-card-color-title{
        color: #043f7b;
        margin: 0;
        font-weight: 800;
    }
    p.guest-card-subtitle-text{
        color: #043f7b;
        font-size: 1.5rem;
    }
     .card-content-md.guest-card-text-content{
        padding:13px 16px 0;
    }
    .tag-btn{
        border-radius: 100%;
        padding: 0 0.7rem;
        height: 2.8rem;
        box-shadow: none;
        background-color: #ffc125;
    }
    .share-btn{
        border-radius: 100%;
        padding: 0 0.7rem;
        height: 2.8rem;
        box-shadow: none;
        background-color: #45c1e6;

    }
    .material-icons{
        transform: rotate(270deg);
    }
  .gray-badge{
        background-color: $light;
        box-shadow: none;
        letter-spacing: 1px;
        color:rgba(0,0,0,.4);
        border-radius:8px;
    }
    .green-badge{
        background-color: #4dd274;
        box-shadow: none;
        letter-spacing: 1px;
        color:#fff;
        border-radius:8px;
    }
.red-badge{
        background-color: rgb(240,81,185);
        box-shadow: none;
        letter-spacing: 1px;
        color:#fff;
        border-radius:8px;
    }
     .item-md.bottom-social-section [item-end], .item-ios.bottom-social-section [item-end], .item-md.bottom-social-section [item-start], .item-ios.bottom-social-section [item-start] {
        margin: 2px 0px 9px 0;
    }
    .item-md.card-main-item, .item-ios.card-main-item{
        padding-left: 0;
    }
    .card-main-item .label-md, .card-main-item .label-ios{
        margin: 0;
    }
    .item-md.card-main-item.item-block .item-inner, .item-ios.card-main-item.item-block .item-inner{
        padding-right: 0;
    }
    .right-slide-items{
        padding: 10px 0;
    }
    .list-md ion-item-options.right-slide-items,  .list-ios ion-item-options.right-slide-items{
        border-bottom: none;
    }
    .slide-item-details{
        background-color: #044988;
        color: #fff;
        text-align: center;
        padding: 40px 20px;
    }
    ion-item-options.right-slide-items .button{
        display: block;
        text-align: center;
        margin: 20px auto;
        border-radius: 64px;
        padding: 0 1rem;
        height: 3.3em;
        font-size: 1.1rem;
        color: #fff;
    }
    ion-item-options.right-slide-items .button.actv-btn{
        background-color: #7fde9b;
    }
     ion-item-options.right-slide-items .button.outln-btn{
        border-color: #fff;
        background-color: transparent;
        border:1px solid #fff;
    }
    ion-item-options.right-slide-items h6{
        font-weight: 300;
        margin-bottom:30px;
    }
    ion-item-options.right-slide-items .button.btn-pad{
        padding: 0 3.5rem;
    }
    .play-btn {
      float: left;
      margin-top: -150px;
      margin-left: 43%;
    }
}
