<!-- Generated template for the CGuestCardComponent component -->
<ion-item-sliding #item *ngIf="type=='invite'">
  <ion-item class="card-main-item">
    <ion-card>
      <img [src]="cardImage" (click)="watchEvent()" />
      <!-- <div [ngStyle]="getBackgroundStyle()" (click)="watchEvent()"></div> -->
      <button ion-button large color="primary" class="actv-btn btn-pad play-btn" *ngIf="event_status==2" (click)="play()">
        <ion-icon name="play" class=""></ion-icon>
      </button>
      <ion-card-content class="guest-card-text-content">
        <ion-card-title class="guest-card-color-title">
          {{cardHeader}}
        </ion-card-title>
        <p class="guest-card-subtitle-text">
          {{cardSubHeader*1000 | date:"MMM dd yyyy 'at' hh:mm a"}}
        </p>
      </ion-card-content>
      <ion-item class="bottom-social-section">
        <!-- <button ion-button color="light" round item-start ([ngClass])="status.color">{{status.title}}</button> -->
        <ion-badge item-start text-center round class="sign-badge {{status.color}}-badge" ([ngClass])="status.color">{{status.title}}</ion-badge>
        <ion-row item-end>
          <ion-col>
            <button ion-button color="danger" *ngIf="hasRegistry" (click)="registry()" item-end class="tag-btn"><ion-icon name="pricetags" class="material-icons"></ion-icon></button>
            <button ion-button (click)="share()" color="primary" class="share-btn"><ion-icon name="ios-redo-outline"></ion-icon></button>
            <!-- <share [event]="1"></share> -->
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>
  </ion-item>
  <ion-item-options side="right" class="right-slide-items" no-lines text-center>
    <div class="slide-item-details">
      <h6>Respond to this <br />invitation with</h6>

      <p *ngIf="hasResponded != 0"><br/>You have already responded to this invite.</p>
      <button (click)="respondToInvite(1)" *ngIf="hasResponded == 0" ion-button class="outln-btn btn-pad">Accepted</button>
      <!-- <button (click)="respondToInvite(2)" ion-button class="outln-btn btn-pad">Tenative</button> -->
      <button (click)="respondToInvite(3)" *ngIf="hasResponded == 0" ion-button class="outln-btn">Unable to attend</button>
    </div>
  </ion-item-options>
</ion-item-sliding>
