<!--
  Generated template for the OrderDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list no-lines>
    <ion-item  class="order">
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            <h2 color="primary">{{order.details.package.title}}</h2>
            <p>Live Video Stream Package</p>
          </ion-col>
          <ion-col col-3 text-right>
            <strong text-right>${{order.details.package.price}}</strong>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngFor="let addon of order.details.addons;" class="order">
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            <h2 color="primary">{{addon.title}}</h2>
            <p>Premium Add-ons</p>
          </ion-col>
          <ion-col col-3 text-right>
            <strong text-right>${{addon.price}}</strong>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
