page-select-court {
  .toolbar-background-md, .toolbar-background-ios {
      border-color: #5aabd3;
      background: #5aabd3;
      color: #fff;
  }
  .toolbar-title-md, .toolbar-title-ios{
      color: #fff;
  }
  .registry-content {
      background-color: #fff;
  }
  ion-item [disabled] {
    background-color: #e0e4e6;
  }
}
