<!--
  Generated template for the SelectCourtPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Select Court
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="registry-content">
  <ion-item *ngFor="let court of courts;" (click)="selectCourt(court)">
      <ion-avatar item-start>
        <img src="http://webwedmobile.net/images/notification_icon.png">
      </ion-avatar>
      <h3>{{court.name}}</h3>
      <p>{{court.address}}</p>
  </ion-item>
</ion-content>
