<ion-header>
  <ion-navbar>
    <ion-title>
      Registry Link
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="registry-content">
  <ion-list class="registry-container" no-lines>
    <ion-item no-lines text-wrap>
      <h2>Registry Link</h2>
      <p>Enter a direct link for guests to access your online registry. You can copy and paste this from your web browser or enter manually.</p>
    </ion-item>
     <ion-item no-lines>
        <ion-input type="text" class="copyboard-input" [(ngModel)]="registry_link"></ion-input>
     </ion-item>
  </ion-list>
</ion-content>
 <ion-footer class="footer-sticky" text-center>
    <button ion-button clear (click)="save();">Save and Continue</button>
 </ion-footer>
