<!--
  Generated template for the RolePopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Select Role</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <ion-list>
    <ion-item *ngFor="let role of roles; let i = index;" (click)="dismiss(role.id)">
      <p>{{role.name}}</p>
    </ion-item>
  </ion-list>
</ion-content>
