/*
 Theme Name:   Bride 
 Description:  Bride is a Wedding WordPress Theme. 
 Author:       power-boosts
 Author URI:   http://bootexperts.com/
 Version:      1.0.0
 Tags:         slider, site-builder, page-builder, responsive-layout, fixed-layout, fluid-layout, charity, non-profit, one-column, two-column, three-column, four-column, custom-colors, custom-header, custom-menu, editor-style, featured-images, translation-ready, full-width-template, theme-options
 License:      GPL 2.0
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Template:     layerswp
 
-------------------------------
    ** TABLE OF CONTENTS ** 
-------------------------------
  1. THEME DEFAULT CSS
  2. SLIDER CSS
  3. OUR STORY CSS
  4. LOCATION CSS
  5. GALLERY CSS
  6. TESTIMONIAL CSS
  7. BREADCRUMB AREA
  8. SIDEBAR AREA
  9. BLOG AREA
  10. PAGE AREA
  11. SINGLE PAGE AREA
  12. 404 AREA
  13. SEARCH AREA
  14. SHOP AREA
  15 SINGLE SHOP AREA
  16. COMMENT AREA
  17. CONTACT ARAE
  18. FOOTER ARAE

/*------------------------------*/
/*- 1. THEME DEFAULT CSS -------*/
/*------------------------------*/

html {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: calc(100%) !important;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444;
    font-weight: 400;
}
a:focus,
:focus {
    outline: 0px solid;
}
a:hover {
    text-decoration: none;
}
a:active,
a:hover {
    outline: 0 none;
}
body {
    color: #333333;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}
.container {
    margin: auto;
    max-width: 1200px;
    padding: 0 20px;
}
.container.list-masonry {
    max-width: 1200px;
}
[class*="column"] {
    margin-bottom: 0px;
}
.content-vertical-massive {
    padding-top: 90px;
    padding-bottom: 90px;
}
.fix {
    overflow: hidden;
}
.clear {
    clear: both;
}
.header-secondary .container {
    max-width: 100%;
}
.header-site .container {
    border-bottom: 1px solid #eee;
    max-width: 100%;
}
.header-secondary {
    background: #023C6F none repeat scroll 0 0;
}
.header-secondary .nav-horizontal li a {
    color: #fff;
    cursor: auto;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.header-secondary ul li a i {
    font-size: 20px;
    padding-right: 10px;
}
.logo a.custom-logo-link img {
    max-height: 100%;
}
.header-site ul li.current_page_item > a {
    color: #023C6F;
}
.header-site ul li ul.sub-menu li a {
    color: #323232;
}
.header-site ul li ul.sub-menu li a:hover {
    color: #023C6F;
}
/*------------------------------*/
/*- Write your code here ---------*/
/*------------------------------*/
/*------------------------------*/
/*- 2. SLIDER CSS -------*/
/*------------------------------*/

.hs-item {
    background-color: #f1f1f1;
    background-size: cover;
    margin: 0;
    min-height: 820px;
    position: relative;
    text-align: center;
}
.hs-content > h1 {
    color: #fff;
    font-family: poppins;
    font-size: 100px;
    font-weight: 300;
    line-height: 120px;
    margin-bottom: 39px;
    text-transform: uppercase;
}
.hs-content > h1 span {
    color: #023C6F;
    font-weight: 600;
    text-decoration: underline dashed;
}
.hs-content > h2 {
    color: #fff;
    font-family: vidaloka;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 34px;
    text-transform: capitalize;
}
.slider-btns a {
    background: #023C6F none repeat scroll 0 0;
    border-radius: 35px;
    color: #fff;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
    padding: 12px 40px;
    text-transform: capitalize;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.slider-btns a:hover {
    background: #fff none repeat scroll 0 0;
    color: #023C6F;
}
.slick-dots button {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    height: 14px;
    margin: 8px 0;
    outline: medium none;
    padding: 0;
    text-indent: -9900000px;
    width: 14px;
}
ul.slick-dots {
    margin-top: -23px;
    position: absolute;
    right: 35px;
    top: 50%;
}
.slick-initialized .hs-item.slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hero__slider {
    padding: 0;
}
.hero-area li.slick-active button,
.hero-area li:hover button {
    background: #023C6F none repeat scroll 0 0;
}
.hs-thumb img {
    display: inline-block;
    margin-bottom: 54px;
}
.hs-content {
    position: relative;
    z-index: 9;
}
.hs-item:after {
    background: #000 none repeat scroll 0 0;
    background_opcity content: "";
    height: 100%;
    left: 0;
    content: "";
    opacity: 0.3 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    position: absolute;
    top: 0;
    width: 100%;
}
.hero-area .hidenav ul.slick-dots {
    display: none !important;
}
.hs-content > p {
    color: #fff;
}
/*------------------------------*/
/*- 3. OUR STORY CSS -------*/
/*------------------------------*/

.about-area {
    padding: 92px 0;
}
.about-content {
    background: #ffffff none repeat scroll 0 0;
    left: 50%;
    margin-top: -12%;
    padding-bottom: 29px;
    padding-top: 55px;
    -webkit-transform: translateX(16.5%);
    transform: translateX(16.5%);
    width: 75%;
}
.section-logo {
    padding-bottom: 22px;
}
.section-title h2.heading:after,
.section-title h3.heading:after {
    background: rgba(0, 0, 0, 0) url("assets/images/tittle-bottom-two.png") no-repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 70px;
    width: 90px;
}
.home-three-blog .section-title h2.heading:after,
.home-three-blog .section-title h3.heading:after {
    background: rgba(0, 0, 0, 0) url("assets/images/2.png") no-repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 70px;
    width: 90px;
}
.section-title h2.heading,
.section-title h3.heading {
    color: #023C6F;
    display: inline-block;
    font-family: "Vidaloka", serif;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 74px;
    position: relative;
    text-transform: capitalize;
}
.section-title p,
.about-area .about-content .excerpt {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 0;
}
.section-title .excerpt {
    max-width: 1248px;
}
.single-about {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.single-about-icon {
    margin-right: 35px;
    float: left;
}
.single-about-icon img {
    -webkit-transform: translateY(12%);
    transform: translateY(12%);
}
.single-about-content {
    display: table;
}
.text-left {
    text-align: left;
}
.single-about-content h3:after {
    background: #ebebeb none repeat scroll 0 0;
    bottom: -11px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 50px;
}
.single-about-content h3 {
    color: #333333;
    font-family: "Vidaloka", serif;
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.single-about-content p {
    color: #444;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 25px;
}
.ptb-50 {
    padding-bottom: 50px;
    padding-top: 50px;
}
.plr-40 {
    padding-left: 40px;
    padding-right: 40px;
}
.single-about:hover {
    border: 1px solid #023C6F;
}
.single-about:hover .single-about-content h3:after {
    background: #023C6F none repeat scroll 0 0;
}
.heading.main__title {
    color: #023C6F;
    display: inline-block;
    font-family: "Vidaloka", serif;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 9px;
    position: relative;
    text-transform: capitalize;
}
.bride-groom-area .sub_heading {
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 13px;
}
.bride-groom-area p,
.bride-groom-area .excerpt {
    color: #666666;
    font-size: 14px;
}
.bride-groom-area .groom-section {
    background: #fff none repeat scroll 0 0;
    padding: 60px;
}
.bride-groom-area .social-icon ul {
    list-style: outside none none;
    margin: 0;
    padding-top: 40px;
}
.bride-groom-area .social-icon ul li {
    display: inline-block;
    margin-right: 15px;
}
.bride-groom-area .social-icon ul li a {
    display: inline-block;
    font-size: 16px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.bride-groom-area .social-icon ul li a i {
    color: #333333;
}
.bride-groom-area .social-icon ul li:hover a i {
    color: #ade0d5;
}
/*------------------------------*/
/*- 4. LOCATION CSS -------*/
/*------------------------------*/

.location-banner {
    position: relative;
}
.location-content {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 6px 20px #dddddd;
    height: 570px;
    left: 8%;
    padding: 82px 35px;
    position: absolute;
    top: 22%;
    width: 455px;
}
.location-content .section-title h2 {
    color: #065e95;
}
.location-content .section-title .sub_heading_loc {
    color: #333333;
    font-family: "Vidaloka", serif;
    font-size: 21px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.location-content .section-title p {
    color: #666666;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
.location-content .section-title a.slider-button {
    background: #065e95 none repeat scroll 0 0;
    text-transform: uppercase;
}
.bride_locations_area .media {
    overflow: inherit;
}
.location-content .button.slider-button.slider-button {
    background: #065e95 none repeat scroll 0 0;
    border-radius: 35px;
    color: #fff;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-top: 30px;
    padding: 12px 40px;
    text-transform: capitalize;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.location-content .button.slider-button.slider-button:hover {
    background: #023C6F none repeat scroll 0 0;
}
.single-schedule-icon {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-table;
    height: 100px;
    margin-bottom: 40px;
    position: relative;
    width: 100px;
}
.single-schedule-icon:after {
    bottom: -28%;
    color: #065e95;
    content: "";
    font-family: fontAwesome;
    font-size: 20px;
    left: 48%;
    position: absolute;
}
.single-schedule-icon img {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}
.single-schedule-info p {
    background: #d5f3f7 none repeat scroll 0 0;
    border: 2px solid #9bd7df;
    border-radius: 20px;
    color: #333333;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-top: 25px;
    padding: 0 20px;
}
.single-schedule-info h4 {
    color: #333333;
    font-family: "Vidaloka", serif;
    font-size: 25px;
    line-height: 25px;
    margin-top: 25px;
    text-transform: capitalize;
}
.wedding-schedule-area {
    position: relative;
}
.bar {
    background: #065e95 none repeat scroll 0 0;
    content: "";
    height: 8px;
    left: 2.5%;
    position: absolute;
    top: 48%;
    width: 95%;
}
.wedding-schedule-area .media.image-top.medium.location_section,
.wedding-schedule-area .media .media-body {
    overflow: inherit;
}
/*------------------------------*/
/*- 5. GALLERY CSS -------*/
/*------------------------------*/

.gallery-area.widget {
    padding-bottom: 0;
    padding-top: 0;
}
.section-title .excerpt {
    color: #444444;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 0;
}
.home-three-groommen .section-title {
    margin-bottom: 10px;
}
.ht-gallery.thumbnail-body {
    background: transparent none repeat scroll 0 0;
    padding: 16px;
}
.ht-gallery-thumb {
    position: relative;
}
.gallery-hover-effect {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    bottom: 0;
    display: block;
    padding: 25px;
    position: absolute;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.gallery-icon i {
    display: table-cell;
    vertical-align: middle;
}
.gallery-icon.venobox.vbox-item {
  background: #023C6F none repeat scroll 0 0;
  display: table;
  font-size: 15px;
  height: 35px;
  opacity: 0;
  padding-top: 3px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 0.5s ease 0s;
  width: 35px;
}
.plan-content h3 {
    font-size: 22px;
    line-height: 28px;
}
.ht-gallery-content > p {
    color: #444;
    font-size: 14px;
    margin-top: 0;
}
.gallery-effect:hover .gallery-hover-effect {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
}
.gallery-effect:hover .gallery-icon.venobox.vbox-item {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.thumbnail-body p {
    margin: 0;
}
.filter_menu {
    margin-bottom: 40px;
    margin-top: 2px;
    text-align: center;
}
.filter_menu_left {
    text-align: left;
}
.filter_menu_right {
    text-align: right;
}
.filter_menu li {
    border: 1px solid #c4c4c4;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-family: "Oxygen", sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    margin-right: 18px;
    padding: 0 20px;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.gallery-area .section-title {
    margin-bottom: 33px;
}
.bride-testimonials-widget .testimonial-left {
    background: #ade0d5 none repeat scroll 0 0;
    width: 50%;
}
/*  gallery 2  */

.gallery2 .ht-gallery-thumb img {
    min-width: 100%;
}
.gallery2 .pagination li {
    border-radius: 50%;
    float: left;
    font-size: 20px;
    font-weight: 700;
    margin-right: 9px;
    overflow: hidden;
}
/*  gallery four  */

.gallery-area-main.gallery-area.widget.gallery4 {
    padding-bottom: 49px;
    padding-top: 87px;
}
/*------------------------------*/
/*- 6. TESTIMONIAL CSS -------*/
/*------------------------------*/

.bride-testimonials-widget .testimonial-left h2 {
    color: rgba(255, 255, 255, 0.32);
    font-family: "Poppins", sans-serif;
    font-size: 100px;
    font-weight: 700;
    left: -80px;
    margin-top: 150px;
    position: absolute;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.bride-testimonials-widget .testimonial-left h1.happy {
    color: rgba(255, 255, 255, 0.25);
    font-family: "Poppins", sans-serif;
    font-size: 100px;
    font-weight: 700;
    padding-bottom: 150px;
    padding-top: 150px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
}
.bride-testimonials-widget .testimonial-left h1.happy:after {
    color: rgb(255, 255, 255);
    content: "";
    font-family: "fontAwesome";
    font-size: 70px;
    left: 36%;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    position: absolute;
    top: 37%;
}
.bride-testimonials-widget .testimonial-right {
    background: #023C6F none repeat scroll 0 0;
    width: 50%;
}
.bride-testimonials-widget .testimonial-image-slider {
    float: left;
    margin-left: -145px;
    margin-top: 0;
    width: 30%;
    z-index: 9;
}
.bride-testimonials-widget .slick-list.draggable {
    height: 510px !important;
    padding: 115px 0 !important;
}
.bride-testimonials-widget .sin-opacity {
    border-radius: 50%;
    box-shadow: 0 0 3px 3px #cccccc;
    cursor: pointer;
    display: inline-block;
    height: 90px;
    outline: 0 none;
    overflow: hidden;
    position: relative;
    width: 90px;
}
.bride-testimonials-widget .sin-opacity img {
    height: 100%;
    width: 100%;
}
.bride-testimonials-widget .sin-testiImage.slick-current .sin-opacity:after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.bride-testimonials-widget .sin-opacity:after {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.bride-testimonials-widget .sin-testiImage {
    display: inline-block;
    margin-bottom: 15px;
    outline: medium none;
}
.bride-testimonials-widget .sin-testiImage.slick-current .sin-opacity {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    height: 128px;
    margin-top: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 128px;
}
.bride-testimonials-widget .sin-testiImage.slick-current {
    height: 135px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 135px;
}
.bride-testimonials-widget .testimonial-text-slider h2 {
    color: #282828;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.bride-testimonials-widget .testimonial-text-slider h2 > span {
    color: #565656;
    font-family: "montserratlight";
    font-size: 14px;
}
.bride-testimonials-widget .sin-testiText {
    margin-left: -50px;
    outline: medium none;
    padding: 0 50px;
    width: 45%;
}
.bride-testimonials-widget .sin-testiText > h2 {
    color: #fff;
    font-family: "Vidaloka", serif;
    font-size: 22px;
}
.bride-testimonials-widget .sin-testiText > h6 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
.bride-testimonials-widget .sin-testiText > p {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
.bride-testimonials-widget .sin-testiText > p > i:first-child {
    color: #fff;
    margin-right: 10px;
}
.bride-testimonials-widget .sin-testiText > p > i:last-child {
    color: #fff;
    margin-left: 10px;
}
.bride-testimonials-widget .client-rating {
    margin-bottom: 5px;
}
.bride-testimonials-widget .client-rating i {
    color: #7d7d7d;
    font-size: 18px;
}
.bride-testimonials-widget .client-rating i.color {
    color: #f1c30d;
}
.bride-testimonials-widget .slick-prev,
.slick-next {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 25px;
    outline: medium none;
    padding: 0;
    position: absolute;
    top: 38%;
    width: 16px;
}
.bride-testimonials-widget .slick-prev {
    left: -31px;
}
.bride-testimonials-widget .slick-next {
    right: -31px;
}
.bride-testimonials-widget .slick-prev:before,
.slick-next:before {
    color: #2d3e50;
    content: "";
    font-family: "Material-Design-Iconic-Font";
    font-size: 50px !important;
    height: 25px;
    left: 0;
    position: absolute;
    top: -23px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 16px;
}
.bride-testimonials-widget .slick-prev:hover:before,
.slick-next:hover:before {
    color: #7a9757;
}
.bride-testimonials-widget .slick-next:before {
    content: "";
    right: 0;
}
.bride-testimonials-widget ul.testimonial-social-icon {
    list-style: outside none none;
    margin: 0;
    padding-top: 30px;
}
.bride-testimonials-widget ul.testimonial-social-icon li {
    display: inline-block;
    margin-right: 25px;
}
.bride-testimonials-widget ul.testimonial-social-icon li:last-child {
    margin-right: 0;
}
.bride-testimonials-widget ul.testimonial-social-icon li i {
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.bride-testimonials-widget ul.testimonial-social-icon li:hover i {
    color: #ade0d5;
}
.ptb-118 {
    padding-bottom: 118px;
    padding-top: 118px;
}
.bride-testimonials-widget .sin-testiText > p {
    padding-top: 20px;
}
.testimonial-text-slider.text-center.ptb-118.slick-initialized.slick-slider {
    padding-top: 180px;
}
.testimonial-text-slider-two .sin-testiText > h2 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 6px;
}
.testimonial-text-slider-two .sin-testiText > h6 {
    color: #333333
}
.testimonial-text-slider-two .sin-testiText > p,
.testimonial-text-slider-two .sin-testiText > p > i,
.testimonial-text-slider-two ul li a i {
    color: #333333;
}
.testimonial-image-slider-two .slick-list.draggable {
    padding: 50px 0 !important;
    height: inherit!important;
}
.testimonial-image-slider-two .sin-testiImage {
    margin-bottom: 0px
}
.testimonial-image-slider-two {
    width: 45%;
    text-align: center;
    margin: 0 auto;
}
.testimonial-text-slider-two .sin-testiText {
    margin-left: inherit
}
.testimonial-area-two ul.testimonial-social-icon li i {
    color: #333333
}
.testimonial-image-slider-two .sin-opacity {
    margin-top: 25px
}
.style-2-blogs .ht-blog-thumb {
    float: left;
    width: 50%;
}
.ht-blog.style-2-blogs {
    border: 0 none;
    margin-bottom: 48px;
    overflow: hidden;
}
.style-2-blogs .ht-single-content.thumbnail-body {
    border: 0 none;
    box-shadow: none;
    float: left;
    margin-top: 112px;
    padding-left: 40px;
    width: 50%;
}
.about2 .section-title {
    margin-bottom: 22px;
    width: 100%;
}
.about2 .about-right-pull .excerpt > p {
    color: #444;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 24px;
}
.about2 .about-right-pull {
    margin-top: 44px;
}
.about-content-two {
    display: block;
    margin-right: 40px;
}
.about2 .single-about {
    margin-bottom: 31px;
    padding: 40px 47px 45px;
}
.about_one .bride_title {
    margin-bottom: 0;
}
.section-title.text-right h2.heading:after,
.section-title.text-right h3.heading:after {
    left: auto;
    right: 0;
}
.section-title.text-left h2.heading:after,
.section-title.text-left h3.heading:after {
    left: 0;
    right: auto;
}
.section-title h2.heading,
.section-title h3.heading {
    display: block;
}
.gallery-area-main .gallery-effect:hover .gallery-hover-effect {
    background: transparent none repeat scroll 0 0;
}
.gallery-area-main .gallery-hover-effect {
    background: transparent none repeat scroll 0 0;
    bottom: 0;
    display: inline-block;
    height: 46px;
    left: 50%;
    margin-left: -23px;
    margin-top: -23px;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 46px;
    z-index: 9;
}
.gallery-area-main .gallery-icon.venobox.vbox-item {
    height: 50px;
    width: 50px;
}
.gallery-area-main .ht-gallery-thumb {
    line-height: 0;
}
.gallery-area-main .ht-gallery-thumb:after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 1;
}
.gallery-area-main .gallery-effect:hover .ht-gallery-thumb:after {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.gallery-area-main.gallery-area.widget {
    padding-bottom: 100px;
    padding-top: 100px;
}
.bride-groom-area .media-image {
    margin-bottom: 45px;
}
/*  Home two  */

.style-2-blogs .ht-single-content.thumbnail-body {
    margin-top: 54px;
}
/*------------------------------*/
/*- 7. BREADCRUMB AREA ---------*/
/*------------------------------*/

.breadcrumb-area {
    background-color: #dcdcdc;
    padding: 67px 0 70px;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.breadcrumb-area:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    z-index: -1;
}
.breadcrumb-area.single-page {
    padding: 92px 0 96px;
}
.breadcrumb-title h1 {
    color: #5aa16a;
    font-size: 36px;
    font-weight: 500;
}
#particles-js {
    height: 400px;
    padding: 0;
}
.breadcrumb-padding.pages-p {
    text-transform: capitalize;
}
.bread-crumbs {
    margin: 0;
}
.breadcrumb-list {} .bread-crumbs li,
.bread-crumbs li a {
    color: ;
    font-size: 14px;
}
.bread-crumbs li a:hover,
.bread-crumbs li .current > a {
    text-decoration: none;
}
.breadcrumb-padding.pages-p {
    text-align: center;
}
.bread-crumbs a,
.breadcrumb-list a {
    color: #5e5e5e;
}
.bread-crumbs a:hover {
    color: #5aa16a;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.breadcrumb-list li {
    display: inline;
}
.breadcrumb-list ul,
.breadcrumb-list li,
.breadcrumb-list li a {
    color: #fff;
}
.breadcrumb-list li:last-child {
    color: #023C6F;
}
/*  archive  */

.archive-page {
    padding: 90px 0;
}
.archive-page .meta-info {
    line-height: 1;
    margin-bottom: 30px;
}
.archive-page .thumbnail.push-bottom > a img {
    display: block;
    min-width: 100%;
}
.archive-page article {
    margin-bottom: 50px;
}
.archive-page article:last-child {
    margin-bottom: 0px;
}
.archive-page article .button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #023C6F;
    border-radius: 50px;
    color: #023C6F;
    font-weight: normal;
    margin-top: 20px;
    padding: 10px 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.archive-page article .button:hover {
    background: #023C6F none repeat scroll 0 0;
    color: #fff;
}
/*------------------------------*/
/*- 8. SIDEBAR AREA ---------*/
/*------------------------------*/

.sidebar {
    margin-top: -10px;
}
.sidebar .content.well {
    background: transparent none repeat scroll 0 0;
    padding-top: 0;
}
.sidebar .content.well {
    background: transparent;
}
.push-bottom-large {
    margin-bottom: 0;
}
.widget_product_search input[type="search"] {
    border: medium none;
    float: left;
    width: 65%;
    border: 1px solid #ddd;
}
.bride_recent .image {
    display: block;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 110px;
}
.sidebar .search-field {
    float: left;
    height: 45px;
    width: 65%;
}
.sidebar .search-submit {
    background: #444 none repeat scroll 0 0;
    float: left;
    height: 45px;
    width: 35%;
}
.sidebar input[type="button"]:hover,
.sidebar input[type="submit"]:hover,
.sidebar button:hover,
.sidebar .button:hover,
.sidebar .form-submit input[type="submit"]:hover,
.sidebar .invert input[type="button"]:hover,
.sidebar .invert input[type="submit"]:hover,
.sidebar .invert button:hover,
.sidebar .invert .button:hover,
.sidebar .invert .form-submit input[type="submit"]:hover {
    background-color: #023C6F;
    color: #ffffff;
}
.search-form {
    overflow: hidden;
}
.not-found-form form input.search-field {
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 100%;
}
.search-page-area article {
    margin-bottom: 20px;
}
.sidebar-blog.fix {
    border-bottom: 1px solid #ccc;
    margin-bottom: 19px;
}
.sidebar-blog .info_of_title a {
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 20px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.sidebar-blog .info_of_title a:hover {
    color: #023C6F;
}
.sidebar-blog .time_recnt_post {
    color: #666;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}
/* tag */

.tagcloud {
    background: #f8f8f8 none repeat scroll 0 0;
    padding: 30px 20px;
}
aside ul li.cat-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
aside ul li.cat-item:last-child {
    border-bottom: 0 solid #ccc;
    padding-bottom: 5px;
}
.tagcloud a {
    display: inline-block;
}
.tagcloud a {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333333;
    display: inline-block;
    margin: 0 6px 10px 0;
    padding: 8px 17px;
    text-align: center;
    text-transform: capitalize;
    font-size: 15px !important;
}
.tagcloud a:hover {
    border-color: #023C6F;
    background: #023C6F;
    color: #fff
}
/* textwidget */

.textwidget {} .textwidget img {
    margin-top: 10px;
}
.textwidget form {
    margin-top: 5px;
}
.product_list_widget a {
    display: block;
    font-weight: 300;
    text-transform: capitalize;
}
h5.section-nav-title {
    color: #3f3f3f;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
}
/*------------------------------*/
/*- 9. BLOG AREA ---------*/
/*------------------------------*/

.blog-pages {
    padding-top: 75px;
    padding-bottom: 90px;
}
.tempate-blog-page {
    padding-top: 75px;
    padding-bottom: 90px;
}
.blog-heading-title a {
    font-size: 22px;
    font-weight: 400;
}
.blog-heading-title .heading {
    margin-bottom: 7px;
}
.sk {
    margin-bottom: 20px;
}
.sk .sticky {
    border: 1px solid #ddd;
    padding: 0px 10px 10px;
}
.extra-pagination .pagination {
    padding-top: 30px;
}
.meta-info {
    line-height: 1;
    margin-bottom: 13px;
}
.meta-item {
    display: inline-block;
    font-size: 14px;
}
.button {
    padding: 8px 15px;
}
.tempate-blog-page article {
    text-align: center;
}
.tempate-blog-page article + article {
    margin-top: 70px;
}
.blog .pdall-100 {
    padding: 30px 0 80px;
}
/* blog main area */

.ht-blog {
    border: 1px solid #f9f9f9;
    margin-bottom: 20px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
/* blog image css*/

.ht-blog-thumb {
    position: relative;
}
.ht-blog-thumb:before {
    background: #000 none repeat scroll 0 0;
    content: "";
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .5s;
    transition: .5s;
}
.ht-blog:hover .ht-blog-thumb:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.ht-blog-thumb a {} .ht-blog-thumb img {
    width: 100%;
    display: block;
}
/* blog post meta css*/

.ht-blog-thumb span.post_dates {
    background: #0aaac0 none repeat scroll 0 0;
    color: #fff;
    font-size: 18.6px;
    height: 70px;
    left: 0;
    top: 0;
    line-height: 70px;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 70px;
    -webkit-transition: .5s;
    transition: .5s;
}
.ht-blog-thumb span.post_dates:hover {
    background: #f00;
    color: #fff;
}
.ht-blog-thumb span.post_dateslb {
    top: auto;
    bottom: 0;
}
.ht-blog-thumb span.post_datesr {
    left: auto;
    right: 0;
}
.ht-blog-thumb span.post_datesrb {
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
}
.ht-blog-thumb span.post_datescenter {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/* blog content area */

.ht-single-content {
    padding: 15px;
    background: transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
/* blog post meta */

.ht-post-meta {} .ht-blog-date {} .ht-blog-date span {
    font-size: 14px;
    margin-right: 10px;
    position: relative;
    color: #888;
}
.ht-blog-date span + span:before {
    content: "";
    position: absolute;
}
.ht-blog-date a {
    color: #888;
}
.ht-blog-date i {
    margin-right: 2px;
    color: #888;
}
/* blog text area */

.ht-content-text {}
/* blog title css */

.ht-content-text h2 {
    color: #1b1b1b;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 0 2px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.ht-content-text h2 {
    color: #1b1b1b;
}
.ht-content-text h2 a:hover {
    color: #0aaaa0;
}
/* blog paragraph css */

.ht-content-text p {
    color: #333333;
}
/* blog button css*/

.btn_middle {
    text-align: center;
}
.btn_right {
    text-align: right;
}
a.ht-read-more {
    color: #888888;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    padding: 5px 0;
}
.ht-read-more:hover {
    color: #0aaac0;
    border-color: #0aaac0;
}
/* carousel style */

.blog-carousel [class*="span-"] {
    width: 100%;
}
.carousel-style-one.owl-theme .owl-controls .owl-buttons div,
.blog-style-three .blog-carousel.carousel-style-one.owl-theme .owl-controls .owl-buttons div {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0px solid #eaeaea;
    border-radius: 50%;
    color: #0aaaa0;
    display: inline-block;
    font-size: 20px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    padding: 0;
    height: 48px;
    left: -50px;
    line-height: 48px;
    margin: -24px 0 0 0;
    width: 48px;
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}
.carousel-style-one.owl-theme .owl-controls .owl-buttons div.owl-next,
.blog-style-three .blog-carousel.carousel-style-one.owl-theme .owl-controls .owl-buttons div.owl-next {
    left: auto;
    right: -50px;
}
.carousel-style-one.owl-theme .owl-controls .owl-buttons div:hover,
.blog-carousel.carousel-style-one.owl-theme .owl-controls .owl-buttons div:hover {
    border-color: #1BB4B9;
    color: #fff;
    background: #1BB4B9;
}
.ht-blog .ht-blog-button .button {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 22px;
    color: #666666;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding: 13px 32px;
    text-transform: uppercase;
}
.section-title {
    margin-bottom: 58px;
}
.widget.beautyhouse_post_widget {
    padding-bottom: 0;
}
/* Timer style  */

.timer {
    padding-left: 35px;
    padding-top: 17px;
}
.timer .timer-grid {
    text-align: center;
}
.timer-grid {
    position: relative;
}
.timer-grid:before,
.timer-grid:after {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: -14%;
    position: absolute;
    top: 50%;
    width: 180px;
}
.timer-grid:after {
    left: auto;
    right: -15%;
}
.timer-grid > div {
    background: #ade0d5 none repeat scroll 0 0;
    border-radius: 50%;
    color: #000000;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100px;
    margin-right: 30px;
    text-transform: lowercase;
    width: 100px;
}
.timer-grid > div:last-child {
    margin-right: 0;
}
.timer .timer-grid span {
    color: #282828;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
    padding-top: 32px;
    text-align: center;
}
.blog-pages {
    padding-top: 75px;
    padding-bottom: 90px;
}
.tempate-blog-page {
    padding-bottom: 65px;
    padding-top: 83px;
}
.blog-heading-title a:hover {
    color: #023C6F;
}
.blog-heading-title .heading {
    line-height: 34px;
    margin-bottom: 7px;
}
.sk {
    margin-bottom: 20px;
}
.sk .sticky {
    border: 1px solid #023C6F;
    padding: 0 10px 10px;
}
.extra-pagination .pagination {
    padding-top: 30px;
}
.meta-info {
    line-height: 1;
    margin-bottom: 30px;
}
.meta-item {
	display: inline-block;
	font-size: 14px;
	margin-right: 5px;
	}
.meta-info p span:first-child {
    padding-left: 0;
}
.meta-info p span:last-child {
    padding-right: 0;
}
.button {
    padding: 8px 15px;
}
.ht-content-text h2,
.ht-content-text h2 a {
    color: #333333;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 14px;
}
.tempate-blog-page .copy p {
    color: #444;
    line-height: 26px;
    margin-bottom: 16px;
    text-align: justify;
}
.tempate-blog-page article .button,
a.button:not(.button-primary) {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #023C6F;
    border-radius: 50px;
    color: #023C6F;
    font-weight: normal;
    margin-top: 20px;
    padding: 10px 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.tempate-blog-page article .button:hover {
    background: #023C6F;
    color: #fff;
}
/*------------------------------*/
/*- 10. PAGE AREA ---------*/
/*------------------------------*/

.page-area {
    padding-top: 75px;
    padding-bottom: 70px;
}
/*------------------------------*/
/*- 11. SINGLE PAGE AREA ---------*/
/*------------------------------*/

.single-blog-page {
    padding-top: 75px;
    padding-bottom: 90px;
}
.single-post-title {} .single-title-heading {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
}
pre {
    overflow-x: scroll;
}
.meta-info {
    line-height: 20px;
}
/*------------------------------*/
/*- 12. 404 AREA ---------*/
/*------------------------------*/

.page-404 {
    padding-top: 75px;
    padding-bottom: 90px;
}
.not-found-area {} .not-found-title {} .not-found-title h1 {
    font-size: 24px;
}
.not-found-subtitle {} .not-found-subtitle p {} .not-found-subtitle .search-form label {
    float: left;
    margin-bottom: 0;
    width: 80%;
}
.not-found-subtitle input[type="search"] {
    max-width: 100%;
}
.not-found-area .search-field {
    height: 44px;
}
.not-found-area .search-submit {
    background: #333 none repeat scroll 0 0;
    float: left;
    height: 44px;
}
.not-found-area .search-submit:hover {
    background: #023C6F none repeat scroll 0 0;
}
.notfound-page .breadcrumb-list > ul {
    color: #fff;
}
.notfound-page .breadcrumb-list li {
    color: #fff;
    display: inline;
}
.notfound-page .bread-crumbs a,
.notfound-page .breadcrumb-list a {
    color: #fff;
}
/*------------------------------*/
/*- 13. SEARCH AREA ---------*/
/*------------------------------*/

.search-page-area {
    padding-top: 75px;
    padding-bottom: 90px;
}
.not-found-form {} .not-found-form h2 {}
/*------------------------------*/
/*- 14. SHOP AREA ---------*/
/*------------------------------*/

.product-pages {
    padding-top: 75px;
    padding-bottom: 90px;
}
.price_slider_amount .button {
    background: #444 none repeat scroll 0 0;
    font-size: 15px;
    font-weight: normal;
    height: 39px;
    line-height: 22px;
    padding: 11px 25px;
}
.woocommerce table td {
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    padding: 10px;
    vertical-align: middle;
}
.story .woocommerce table td a {
    border-bottom-color: #cdcdcd;
    color: #333333;
    text-decoration: none;
}
.story .woocommerce a:not(.button) {
    border-bottom-color: #cdcdcd;
    color: #333;
    text-decoration: none;
}
.copy a:hover:not(.button),
.story a:hover:not(.button) {
    border-bottom-color: #dcdcdc;
    color: #023C6F !important;
}
.story input[type="button"],
.story input[type="submit"],
.story button,
.story .button,
.story .form-submit input[type="submit"],
.story .invert input[type="button"],
.story .invert input[type="submit"],
.story .invert button,
.story .invert .button,
.story .invert .form-submit input[type="submit"] {
    background-color: #444;
    color: #ffffff;
}
.story .woocommerce input[type="button"]:hover,
.story .woocommerce input[type="submit"]:hover,
.story .woocommerce button:hover,
.story .woocommerce .button:hover,
.story .woocommerce .form-submit input[type="submit"]:hover,
.story .woocommerce .invert input[type="button"]:hover,
.story .woocommerce .invert input[type="submit"]:hover,
.story .woocommerce .invert button:hover,
.story .woocommerce .invert .button:hover,
.story .woocommerce .invert .form-submit input[type="submit"]:hover {
    background-color: #023C6F !important;
    color: #ffffff;
}
.wocshortcode {
    margin-right: -20px;
}
.wocshortcode .woocommerce.columns-4 {
    margin: 0;
}
.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:after {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #333333;
    content: "";
    font-family: fontawesome;
    font-size: 13px;
    height: 52px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 52px;
}
.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    font-size: 0;
    left: 50%;
    margin-left: -26px;
    margin-top: -26px;
    position: absolute;
    top: 38%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.products .product {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 20px;
    position: relative;
}
.products .product .star-rating {
    margin: 8px 0 1px;
    position: relative;
    right: 0;
    top: -2px;
}
.products .added_to_cart {
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 20px;
    left: 50%;
    margin-left: -40px;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    top: 60%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 80px;
}
.products h3 {
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 22px 0 0;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.products .product .price {
    margin: 5px 0 0;
}
.amount {
    color: #100d13;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
.products h3:hover {
    color: #9cccb4;
}
.products .img-wrap img {
    display: block;
    width: 100%;
}
.onsale {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    padding: 4px 12px 2px;
}
ul.products li.product {
    min-height: 440px;
    padding: 0 !important;
    text-align: left;
}
.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover {
    background: #023C6F none repeat scroll 0 0;
    color: #fff;
}
.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover:after {
    color: #023C6F;
}
ul.products li a.button.product_type_simple.ajax_add_to_cart:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
ul.products li a.button.product_type_simple.ajax_add_to_cart {
    border: medium none;
}
.products .added_to_cart:hover {
    color: #9cccb4;
}
.product_list_widget .product-title {
    font-weight: 300;
    text-transform: capitalize;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #9cccb4 none repeat scroll 0 0;
}
.ui-slider .ui-slider-handle {
    background: #023C6F none repeat scroll 0 0;
    border-radius: 1em;
    cursor: pointer;
    height: 15px;
    margin-top: -4px;
    position: absolute;
    width: 15px;
    z-index: 2;
}
.price_slider_wrapper .price_slider {
    margin-bottom: 22px;
}
.price_slider_amount .price_label {
    float: right;
    font-size: 13px;
    font-weight: 500;
    line-height: 36px;
}
.ui-slider .ui-slider-range {
    background: #282828 none repeat scroll 0 0 !important;
}
.woocommerce-result-count {
    color: #3f3f3f;
    float: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.widget_product_search input[type="submit"] {
    background: #444 none repeat scroll 0 0;
    font-weight: 500;
    height: 45px;
}
.product-images .woocommerce-main-image.zoom img {
    width: 100%;
}
.product-images .woocommerce-main-image.zoom {
    display: block;
    width: 100%;
}
.product-top .product_title.entry-title {
    color: #222831;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
}
.purchase-options-container .woocommerce-Price-amount.amount {
    color: #333333;
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin-top: 16px;
}
.purchase-options-container div > p {
    color: #888888;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 33px;
    margin-top: 16px;
}
.sidebar .amount {
    font-size: 20.8px;
    font-size: 20.8px;
    font-size: 20.8px;
    font-size: 1.3rem;
    margin-top: 9px;
    display: inline-block;
}
.product-top .cart .single_add_to_cart_button,
.form-submit .submit {
    background: #3f3f3f none repeat scroll 0 0;
    border: 2px solid #303030;
    border-radius: 20px;
    color: #fff;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 500;
    height: 35px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 150px;
}
.product-top .cart .single_add_to_cart_button:hover {
    background: #023C6F none repeat scroll 0 0;
    border: 2px solid #023C6F;
}
.product-top .product_meta {
    background: transparent none repeat scroll 0 0;
    clear: both;
    margin-bottom: 20px;
    padding: 0;
}
.product-top .product_meta span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 35px;
}
.single-product .woocommerce-tabs {
    margin-bottom: 20px;
    margin-top: 51px;
    overflow: hidden;
}
.woocommerce .place-order .button,
.woocommerce .actions .button,
.cart-collaterals a,
.product-pages .pagination a {
    background-color: #444;
    color: #ffffff;
}
.woocommerce .place-order .button:hover,
.woocommerce .actions .button:hover,
.cart-collaterals a:hover,
.product-pages .pagination a:hover,
.product-pages .pagination .current {
    background-color: #023C6F;
    color: #ffffff;
}
.woocommerce .amount {
    font-weight: 400;
}
.woocommerce #order_review {
    float: left;
    width: calc(100% / 12 * 5 - 0px);
}
.single-product .entry-content h2 {
    color: #323232;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-bottom: 16px;
}
.single-product .woocommerce-tabs .entry-content p {
    color: #666666;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 16px;
}
.single-product .entry-content h3 {
    color: #323232;
    font-size: 16px;
    margin-bottom: 16px;
    font-family: poppins;
}
.single-product label {
    clear: both;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
}
.single-product-page .product-top .cart button {
    background-color: #444;
    color: #ffffff;
    border-color: #444;
}
/*------------------------------*/
/*- 15 SINGLE SHOP AREA ---------*/
/*------------------------------*/

.single-product-page {
    padding-top: 75px;
    padding-bottom: 90px;
}
/*------------------------------*/
/*- 16. COMMENT AREA ---------*/
/*------------------------------*/

.grid.comments-nested.push-top {
    border-top: 0px solid #ddd;
}
.push-top-large .children {
    margin-left: 20px;
}
.comment.even.content.well,
.comment-list .even.content.well {
    display: block;
    width: 100%;
    background-color: #f5f5f5;
}
.comment.odd.content.well,
.comment-list .odd.content.well {
    display: block;
    width: 100%;
    background-color: #f7f7f7;
}
.comment-respond {
    width: 100%;
}
.push-top-large {
    margin-top: 0;
}
.form-submit input[type="submit"] {
    padding: 10px 14px;
}
.comment-author-bride .copy a:not(.button),
.comment-author-bride .story a:not(.button) {
    border-bottom-color: #444;
    color: #333;
}
.comment-author-bride a.comment-reply-link:hover {
    color: #023C6F;
}
.comment-form .form-submit input[type="submit"] {
    background-color: #444;
    color: #ffffff;
}
.comment-form .form-submit input[type="submit"]:hover {
    background-color: #023C6F;
}
/*------------------------------*/
/*- some unit test style ---------*/
/*------------------------------*/
/* menu css */

.nav-horizontal li:hover > a {
    color: #023C6F;
}
.header-site .nav-horizontal > ul li ul.children li {
    margin: 0 2px;
    padding: 0;
}
.sub-menu li,
.nav .children li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor currentcolor #ddd;
    -o-border-image: none;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    clear: both;
    display: block;
    margin: 0;
    width: 260px;
}
.header-block .nav-horizontal ul.menu li ul.children li ul.children {
    left: -269px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    top: 0;
}
.sk .tag-sticky-2 {
    border: 1px solid #023C6F;
    padding: 15px;
}
.sub-menu,
.nav .children {
    background-color: #fff;
    border: 1px solid #ddd;
    left: 0;
    line-height: normal;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 50px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    visibility: hidden;
    z-index: 5;
}
.sub-menu li a,
.nav .children li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #000;
}
.sub-menu li a:hover,
.nav .children li a:hover {
    color: #023C6F;
}
.sub-menu li a:hover,
.nav .children li a:hover {
    background-color: transparent;
    color: #023C6F;
}
.nav li:hover > .sub-menu,
.nav li:hover > .children {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 100%;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    visibility: visible;
}
.nav-horizontal ul.menu li ul.children li ul.children {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: 100%;
    top: 0;
}
.nav-horizontal ul.menu li ul.children li:hover ul.children {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
body.blog .header-site {
    border-bottom: 1px solid #ddd;
}
.sitename {
    line-height: 1;
}
.tagline {
    line-height: 1;
}
.header-site .container {
    padding: 0 20px;
}
.header-site .nav-horizontal > ul li {
    margin: 0 2px;
    padding: 20px 0;
}
.header-site .nav-horizontal > ul li a {
    margin: 0 2px;
    font-weight: normal;
}
.header-site .nav ul li > .sub-menu > li {
    padding: 0;
}
.admin-bar .header-sticky.is_stuck.is_stuck_show {
    border-bottom: 1px solid #eee;
    margin-top: 30px;
}
/* page image aligment */

.alignleft {
    margin-right: 15px;
}
.wp-caption {
    background: transparent;
}
.avatar .avatar-body .avatar-name {
    display: block;
    font-size: 20px;
    font-weight: 500;
}
.post-password-form input[type="password"] {
    display: block;
    margin: 5px 0 10px;
    width: 35%;
}
.post-password-form input[type="submit"] {
    margin-left: 0;
    margin-top: 0;
    padding: 7px 20px;
}
.conmment-title_quick .heading.comment-title {
    font-size: 35.2px;
    font-size: 35.2px;
    font-size: 35.2px;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 20px 0 13px 0;
}
.copy blockquote {
    font-size: 24px;
    font-size: 24px;
    font-size: 24px;
    font-size: 1.5rem;
}
/*------------------------------*/
/*- 17. CONTACT ARAE ---------*/
/*------------------------------*/

.contact-title h2 {
    font-size: 18px;
    color: #4d4d4d;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.single-address {
    background: #F5F5F5;
}
.single-address i {
    font-size: 36px;
    color: #023C6F;
}
.single-address-info h4 {
    color: #212121;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.single-address-info p {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.single-address-info p i {
    font-size: 18px;
    margin-right: 10px;
}
.contact-area .comment-form input[type="text"],
.contact-area .comment-form input[type="email"],
.contact-area .comment-form textarea {
    border: none;
    background: #F5F5F5;
    padding: 15px;
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    height: auto;
    color: #666666;
    font-family: 'Poppins', sans-serif;
}
.comment-form input[type="email"],
.comment-form input[type="text"],
.comment-form textarea {
    max-width: 100%;
    background: #fff;
}
.leave-comment input[type="submit"] {
    background: #023C6F none repeat scroll 0 0;
}
.leave-comment input[type="submit"] {
    background: #444 none repeat scroll 0 0;
    border: medium none;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding: 8px 40px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: inherit;
}
.leave-comment input[type="submit"]:hover {
    background: #023C6F none repeat scroll 0 0;
}
.leave-comment input[type="submit"] i {
    margin-right: 10px;
}
.leave-comment input[type="submit"] + span {
    float: none;
}
.pagination a:hover {
    background-color: #023C6F;
    color: #fff;
}
.pagination .current {
    background-color: #023C6F;
    color: #fff;
}
/*------------------------------*/
/*- 18. FOOTER ARAE ---------*/
/*------------------------------*/
/* Start Custom footer */
/* overlay */

.footer-site {
    padding-top: 0;
    padding-bottom: 0;
}
[data-top-overlay],
[data-copyright-overlay],
[data-foo-overlay] {
    position: relative;
}
[data-top-overlay]:before,
[data-copyright-overlay]:before,
[data-foo-overlay]:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
[data-top-overlay="1"]:before,
[data-copyright-overlay="1"]:before,
[data-foo-overlay="1"]:before {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}
[data-top-overlay="2"]:before,
[data-copyright-overlay="2"]:before,
[data-foo-overlay="2"]:before {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}
[data-top-overlay="3"]:before,
[data-copyright-overlay="3"]:before,
[data-foo-overlay="3"]:before {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
[data-top-overlay="4"]:before,
[data-copyright-overlay="4"]:before,
[data-foo-overlay="4"]:before {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
[data-top-overlay="5"]:before,
[data-copyright-overlay="5"]:before,
[data-foo-overlay="5"]:before {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
[data-top-overlay="6"]:before,
[data-copyright-overlay="6"]:before,
[data-foo-overlay="6"]:before {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
[data-top-overlay="7"]:before,
[data-copyright-overlay="7"]:before,
[data-foo-overlay="7"]:before {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
[data-top-overlay="8"]:before,
[data-copyright-overlay="8"]:before,
[data-foo-overlay="8"]:before {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
[data-top-overlay="9"]:before,
[data-copyright-overlay="9"]:before,
[data-foo-overlay="9"]:before {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
[data-top-overlay="10"]:before,
[data-copyright-overlay="10"]:before,
[data-foo-overlay="10"]:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
[data-top-overlay="0"]:before,
[data-copyright-overlay="0"]:before,
[data-foo-overlay="0"]:before {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
[data-top-overlay] > div,
[data-copyright-overlay] > div,
[data-foo-overlay] > div {
    padding: 15px 0;
    z-index: 99;
    position: relative;
}
/*-------------------------------*/
/*-FOOTER LOGO SIZING -----------------*/
/*-------------------------------*/

.footer-logo a .credit-card a {
    display: block;
}
.footer-logo-small a img {
    width: auto;
    max-height: 20px;
}
.footer-logo-medium a img {
    width: auto;
    max-height: 40px;
}
.footer-logo-large a img {
    width: auto;
    max-height: 80px;
}
.footer-logo-massive a img {
    width: auto;
    max-height: 120px;
}
/* Credit card style */

.credit-card-small img {
    width: auto;
    max-height: 10px;
}
.credit-card-medium img {
    width: auto;
    max-height: 20px;
}
.credit-card-large img {
    width: auto;
    max-height: 30px;
}
.credit-card-massive img {
    width: auto;
    max-height: 50px;
}
/* footer social icon */

.footer-icon li {
    display: inline-block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.footer-icon ul li + li {
    margin-left: 15px;
}
.footer-icon a {
    color: #666;
    display: block;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #a4a1a7 none repeat scroll 0 0;
    border-radius: 50%;
    display: table-cell;
    height: 55px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    vertical-align: middle;
    width: 55px;
}
.footer-icon a i {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.footer-icon a:hover {
    border: 1px solid #3a3ac0;
    box-shadow: 0 0 12px rgba(0, 0, 0, .35);
    background-color: #3a3ac0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.footer-icon a:hover i {
    color: #fff;
}
.footer-icon {
    padding: 30px 0 26px;
}
.footer-site {
    padding-bottom: 0;
    padding-top: 0;
}
.footer-site .container {
    padding-top: 0;
    padding-bottom: 0;
}
.footer-site .grid.footer-top-grid {
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-site .grid.footer-top-grid .column {
    margin-bottom: 7px;
    padding: 20px 0 0;
}
/* Footer menu */
.menu-footer-menu-container ul.menu li a {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  height: 100%;
  width: 100%;
}
.menu-footer-menu-container ul.menu li a:hover {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  color: #023C6F;
}
.nav.nav-horizontal.footermenu {
    margin-top: 30px;
}
.copytest,
.center-logo {
    -ms-flex-item-align: center;
    align-self: center;
}
.copyright .nav-horizontal.footermenu a:hover {
    color: #023C6F;
}
/* copyright style 2 */

.copyright .nav-horizontal li:last-child {
    margin-right: 0;
}
.copyright .nav-horizontal li:first-child {
    margin-left: 0;
}
.foo-copyright-style-2 .foo-copyright-foomenu-layout-2 .nav.nav-horizontal.footermenu,
.foo-copyright-style-3 .foo-copyright-foomenu-layout-3 .nav.nav-horizontal.footermenu,
.foo-copyright-style-5 .foo-copyright-foomenu-layout-5 .nav.nav-horizontal.footermenu,
.foo-copyright-style-4 .foo-copyright-foomenu-layout-4 .nav.nav-horizontal.footermenu,
.foo-copyright-style-6 .foo-copyright-foomenu-layout-6 .nav.nav-horizontal.footermenu,
.foo-copyright-style-7 .foo-copyright-foomenu-layout-7 .nav.nav-horizontal.footermenu,
.foo-copyright-style-8 .foo-copyright-foomenu-layout-8 .nav.nav-horizontal.footermenu,
.foo-copyright-style-9 .foo-copyright-foomenu-layout-9 .nav.nav-horizontal.footermenu,
.foo-copyright-style-11 .foo-copyright-foomenu-layout-11 .nav.nav-horizontal.footermenu,
.foo-copyright-style-12 .foo-copyright-foomenu-layout-12 .nav.nav-horizontal.footermenu,
.foo-copyright-style-13 .foo-copyright-foomenu-layout-13 .nav.nav-horizontal.footermenu,
.foo-copyright-style-14 .foo-copyright-foomenu-layout-14 .nav.nav-horizontal.footermenu,
.foo-copyright-style-15 .foo-copyright-foomenu-layout-15 .nav.nav-horizontal.footermenu,
.foo-copyright-style-10 .foo-copyright-foomenu-layout-10 .nav.nav-horizontal.footermenu {
    margin-top: 0;
}
.foo-copyright-style-2 .foo-copyright-foomenu-layout-2 .site-text,
.foo-copyright-style-4 .foo-copyright-foomenu-layout-4 .site-text,
.foo-copyright-style-5 .foo-copyright-foomenu-layout-5 .site-text,
.foo-copyright-style-6 .foo-copyright-foomenu-layout-6 .site-text,
.foo-copyright-style-7 .foo-copyright-foomenu-layout-7 .site-text,
.foo-copyright-style-8 .foo-copyright-foomenu-layout-8 .site-text,
.foo-copyright-style-9 .foo-copyright-foomenu-layout-9 .site-text,
.foo-copyright-style-11 .foo-copyright-foomenu-layout-11 .site-text,
.foo-copyright-style-12 .foo-copyright-foomenu-layout-12 .site-text,
.foo-copyright-style-13 .foo-copyright-foomenu-layout-13 .site-text,
.foo-copyright-style-14 .foo-copyright-foomenu-layout-14 .site-text,
.foo-copyright-style-15 .foo-copyright-foomenu-layout-15 .site-text,
.foo-copyright-style-10 .foo-copyright-foomenu-layout-10 .site-text {
    line-height: 28px;
}
.foo-copyright-foomenu-layout-2 {
    padding: 15px 0 0;
}
.foo-copyright-style-2 .foo-copyright-foomenu-layout-2 .nav-horizontal ul {
    display: block;
}
@media (max-width: 767px) {
    .copytest .site-text.text-right,
    .copytest .site-text.text-left {
        text-align: center;
    }
    .copyright .foo-menu {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .copyright .foo-menu {
        display: none;
    }
}
/* Footer style 6 */

.footer-icon.social-foo-right {
    padding: 0;
}
.social-foo-flex-center,
.credit-card,
.foo-menu {
    -ms-flex-item-align: center;
    align-self: center;
}
.credit-card {
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.credit-card-area {
    -ms-flex-item-align: center;
    align-self: center;
}
/* footer top area */

.footer-top-area {
    padding: 50px 0;
}
.footer-top-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.footer-top-info.text-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.footer-top-info.text-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.footer-top-info .info-sin {
    padding: 0 20px;
}
.footer-top-info .info-sin:last-child {
    padding-right: 0;
}
.footer-top-info .info-sin:first-child {
    padding-left: 0;
}
.text-right .footer-top-info {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.text-left .footer-top-info {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.info-sin i,
.info-sin p {
    display: inline-block;
}
.footer-top-info .info-sin,
.footer-top-info .info-sin a {
    color: #fff;
    font-size: 18px;
}
.copyright .nav-horizontal.footermenu a {
    color: #ffffff;
    font-weight: 400;
}
/* End Custom footer */

#scrollUp {
    background: #ffffff none repeat scroll 0 0;
    bottom: 52px;
    color: #122f4d;
    cursor: pointer;
    font-size: 22px;
    height: 35px;
    line-height: 32px;
    position: fixed;
    right: 50px;
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 4ms linear 0s;
    transition: all 4ms linear 0s;
    width: 35px;
    z-index: 9999;
}
#scrollUp i {
    margin-right: 3px;
    margin-top: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*------------------------------------------
  19. BRIDE RESPONSIVE STYLE 
--------------------------------------------*/
/*-------------------------------------
  Normal desktop :1366px. 
----------------------------------------*/

@media (min-width: 1170px) and (max-width: 1600px) {
    .about-area .span-3 {
        width: calc(100% / 12 * 4 - 20px);
    }
    .about-area .span-3:last-child {
        display: none;
    }
    .gallery-area .span-3 {
        width: calc(100% / 12 * 4 - 20px);
    }
    .gallery-area .span-3:nth-of-type(3n+4) {
        display: none;
    }
    .style-2-blogs .ht-single-content.thumbnail-body {
        margin-top: 45px;
    }
    .grid.copyright {
        padding-top: 60px !important;
    }
    .bride-testimonials-widget .testimonial-image-slider {
        float: left;
        margin-left: -106px;
        margin-top: 0;
        width: 30%;
        z-index: 9;
    }
}
/*-----------------------------------------------
  Normal desktop :1169px. Start
-------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1169px) {
    .header-secondary ul li {
        float: left;
        margin: 0 3px;
    }
    .about-area .span-3 {
        width: calc(100% / 12 * 6 - 20px);
    }
    .single-about {
        margin-bottom: 30px;
    }
    .gallery-area .span-3 {
        width: calc(100% / 12 * 6 - 20px);
    }
    .hs-item {
        min-height: 550px;
    }
    .breadcrumb-area {
        padding: 120px !important;
    }
    .style-2-blogs .ht-single-content.thumbnail-body {
        margin-top: 0;
    }
    .gallery-area .span-3 {
        width: calc(100% / 12 * 4 - 20px);
    }
    .hs-item {
        min-height: 700px;
    }
    .wedding-schedule-area {
        margin-top: 100px;
    }
    #particles-js {
        height: 400px;
        padding: 0;
    }
    .breadcrumb-area {
        padding: 0 !important;
    }
    .breadcrumb-padding.pages-p {
        margin-top: 190px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
    }
}
/*-----------------------------------------------------
 Tablet desktop :768px style start
-------------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .hs-item {
        min-height: 560px;
    }
    .hs-content > h1 {
        font-size: 70px;
    }
    .header-site .logo {
        overflow: hidden;
        padding: 15px 0;
    }
    .page-404 aside {
        padding: 0;
    }
    .single-about {
        margin-bottom: 20px;
    }
    .bride-testimonials-widget .testimonial-image-slider {
        width: 45%;
    }
    .bride_post_widget .span-4 {
        width: calc(100% / 12 * 6 - 20px);
    }
    .bride_post_widget .span-4:last-child {
        display: none;
    }
    .hs-content > h1 {
        font-size: 70px;
    }
    .hs-content > h2 {
        font-size: 50px;
        line-height: 50px;
    }
    .bride-testimonials-widget .slick-list.draggable {
        padding: 107px 0 !important;
    }
    .header-secondary {
        background: #023C6F none repeat scroll 0 0;
        display: none;
    }
    .bar {
        display: none;
    }
    .style-2-blogs .ht-single-content.thumbnail-body {
        float: left;
        margin-top: -20px;
        padding-left: 30px;
        width: 50%;
    }
    .ht-content-text h2 {
        padding: 0;
    }
    .ht-content-text h2,
    .ht-content-text h2 a {
        color: #333333;
        font-size: 18px !important;
        font-weight: 400;
        margin-bottom: 5px;
    }
    .bride_post_widget {
        padding-bottom: 40px;
    }
    .breadcrumb-area {
        padding: 90px 0 !important;
    }
    .single-schedule-icon:after {
        display: none;
    }
    .single-schedule-icon {
        margin-bottom: 0;
    }
    .has-image .media-body {
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .grid.copyright {
        padding-top: 60px !important;
    }
    .gallery-area .span-4 {
        width: calc(100% / 12 * 6 - 20px);
    }
    .hs-item.slick-current .hs-content h2 {
        display: none;
    }
    .gallery-area .span-3 {
        width: calc(100% / 12 * 6 - 20px);
    }
    .about-area .span-3 {
        width: calc(100% / 12 * 6 - 20px);
    }
    .ht-gallery-thumb img {
        height: auto;
        min-width: 100%;
    }
    .bride-testimonials-widget .slick-track {
        width: 400px !important;
    }
    /*  home three  */
    
    .wedding-schedule-area {
        margin-top: 190px;
    }
    .timer-grid:before,
    .timer-grid:after {
        left: -27%;
        width: 100px;
    }
    .timer-grid:after {
        left: auto;
        right: -24%;
    }
    .column.sidebar .widget {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 12 * 12 - 20px);
        flex: 0 0 calc(100% / 12 * 12 - 20px);
        margin: 0 10px 20px;
    }
    #particles-js {
        height: 300px;
        padding: 0;
    }
    .breadcrumb-area {
        padding: 0 !important;
    }
    .breadcrumb-padding.pages-p {
        margin-top: 140px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
    }
}
/* ----------------------------------------------------
  Small mobile :320px. 
-------------------------------------------------------*/

@media (max-width: 767px) {
    .container {
        width: 300px
    }
    .header-site .container {
        padding: 0 20px;
        width: 100%;
    }
    .header-site .logo {
        padding: 15px 0;
    }
    .hs-thumb {
        display: none;
    }
    .hs-content > h2 {
        display: none;
    }
    .hs-content > h1 {
        font-size: 37px;
        font-weight: 300;
        line-height: 40px;
        margin-bottom: 0px;
    }
    #particles-js {
        height: 200px;
        padding: 0;
    }
    .breadcrumb-area {
        padding: 0 !important;
    }
    .breadcrumb-padding.pages-p {
        margin-top: 90px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
    }
    .hs-item {
        min-height: 230px;
    }
    .single-about-icon {
        float: none;
        margin-right: 0;
    }
    .single-about .text-left {
        text-align: center;
    }
    .single-about-content h3:after {
        left: 39%;
    }
    .single-about-content {
        margin-top: 25px;
    }
    .section-title h2.heading,
    .section-title h3.heading {
        font-size: 35px;
    }
    .gallery-hover-effect {
        padding: 10px;
    }
    .ht-gallery-content a {
        font-size: 20px !important;
    }
    .hs-item.slick-current .hs-content a {
        margin-top: 0;
    }
    .about-area {
        padding: 50px 0;
    }
    .bride-testimonials-widget {
        display: none;
    }
    .single-about {
        margin-bottom: 30px;
    }
    .admin-bar .header-sticky.is_stuck.is_stuck_show {
        border-bottom: 1px solid #eee;
        margin-top: 0;
    }
    .single-about-content {
        display: block;
    }
    .ht-content-text h2,
    .ht-content-text h2 a {
        font-size: 18px !important;
    }
    .ht-blog .ht-blog-button .button {
        padding: 10px 20px;
    }
    .bride_post_widget .ht-blog-date span,
    .bride_post_widget .ht-blog-date a {
        color: #888888;
        font-size: 12px !important;
    }
    /*  our story  */
    
    .about-content-two {
        margin-right: 0;
    }
    .about2 .about-right-pull {
        margin-bottom: 44px;
        margin-top: 44px;
    }
    .section-title h2.heading,
    .section-title h3.heading {
        font-size: 30px;
    }
    .wedding-schedule-area .span-2 {
        margin-bottom: 44px;
        width: calc(100% / 12 * 12 - 20px);
    }
    .style-2-blogs .ht-blog-thumb {
        float: none;
        width: 100%;
    }
    .style-2-blogs .ht-single-content.thumbnail-body {
        float: none;
        margin-top: 10px;
        padding-left: 0;
        width: 100%;
    }
    .single-blog-item:last-child {
        display: none;
    }
    .bride_post_widget {
        padding-bottom: 50px;
    }
    .copyright {
        padding-top: 50px !important;
    }
    .bar {
        display: none;
    }
    .single-schedule-icon:after {
        display: none;
    }
    .single-schedule-icon {
        height: inherit;
        margin-bottom: 30px;
    }
    .single-schedule-info h4 {
        margin-top: 15px;
    }
    .not-found-subtitle .search-form label {
        width: 64%;
    }
    .page-404 aside {
        padding: 0;
    }
    .bride_recent .image {
        display: block;
        float: none;
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
    }
    .sidebar-blog.fix {
        border-bottom: 1px solid #ccc;
        margin-bottom: 39px;
        padding-bottom: 25px;
    }
    .page-404 .column.sidebar .widget {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 12 * 12 - 20px);
        flex: 0 0 calc(100% / 12 * 12 - 20px);
        margin: 0 10px 20px;
    }
    .timer {
        display: none;
    }
    .heading.main__title {
        font-size: 22px;
        line-height: 28px;
    }
    .bride-groom-area .sub_heading {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .location-content {
        background: #ffffff none repeat scroll 0 0;
        box-shadow: 0 6px 20px #dddddd;
        height: auto;
        left: 0;
        padding: 15px;
        position: inherit;
        top: 0;
        width: 100%;
    }
    .footer-icon {
        padding: 0 0 26px;
    }
    /*  home three  */
    
    .bride-groom-area .groom-section {
        margin-bottom: 30px;
        padding: 15px;
    }
    .bride-groom-area .section-title h2.heading:after {
        top: 110px;
    }
    /*  blog   */
    
    .sidebar .search-field {
        float: left;
        height: 40px;
        width: 62%;
    }
    .sidebar .search-submit {
        font-size: 14px;
        font-weight: normal;
        height: 40px;
        width: 38%;
    }
    #wpadminbar {
        top: -46px;
    }
}
/* -------------------------------------------------
  Large Mobile :480px.
---------------------------------------------------*/

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .header-secondary {
        display: none;
    }
    .hs-item {
        min-height: 350px;
    }
    .container {
        width: 100%;
    }
    .about-area .span-5,
    .about-area .span-6,
    .about-area .span-7 {
        width: calc(100% / 12 * 12 - 20px);
    }
    .col2-set {
        float: none;
        width: 100%;
    }
    .woocommerce #order_review {
        float: none;
        width: 100%;
    }
    .woocommerce-billing-fields input[type="email"],
    .woocommerce-billing-fields input[type="text"],
    .woocommerce-billing-fields input[type="url"],
    .woocommerce-billing-fields input[type="search"],
    .woocommerce-billing-fields input[type="password"],
    .woocommerce-billing-fields input[type="number"],
    .woocommerce-billing-fields input[type="tel"],
    .woocommerce-billing-fields input[type="date"] {
        max-width: 100% !important;
    }
    .gallery-area .span-4 {
        width: calc(100% / 12 * 12 - 20px);
    }
    .single-about-content h3:after {
        left: 45%;
    }
    .bride_post_widget .span-4 {
        width: calc(100% / 12 * 6 - 20px);
    }
    .gallery-area.home-two-widding-plans .span-4 {
        width: calc(100% / 12 * 12 - 20px);
    }
    .ht-gallery-thumb img {
        height: auto;
        min-width: 100%;
    }
    .gallery-icon.venobox.vbox-item {
        right: 0;
    }
    .gallery-area .ht-gallery-content > h2 {
        text-align: left !important;
    }
    .single-about-content h3:after {
        left: 43%;
    }
    .bride-groom-area .section-title h2.heading:after {
        top: 70px;
    }
    .tempate-blog-page {
        padding-bottom: 30px;
        padding-top: 35px;
    }
    .column.sidebar .widget {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 12 * 12 - 20px);
        flex: 0 0 calc(100% / 12 * 12 - 20px);
        margin: 0 10px 20px;
    }
}
/* -------------------------------------------------
  Large Mobile :720px. 
---------------------------------------------------*/

@media only screen and (min-width: 600px) and (max-width: 720px) {
    .bride_post_widget .span-4 {
        width: calc(100% / 12 * 6 - 20px);
    }
    .bride_post_widget .span-4:last-child {
        display: none;
    }
    .header-secondary {
        display: none;
    }
}
/* -------------------------------------------------
  Large Mobile :840px. 
---------------------------------------------------*/

@media only screen and (min-width: 769px) and (max-width: 840px) {
    .about-area .span-3 {
        width: calc(100% / 12 * 6 - 20px);
    }
    .gallery-area .span-3 {
        width: calc(100% / 12 * 6 - 20px);
    }
    .copyright-footer-bg .copyright {
        padding-top: 60px !important;
    }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    #wpadminbar {
        top: 0;
    }
}

/* Theme Unit Test */
table tbody tr td {
    text-align: center;
}
aside.widget_calendar table tbody tr td {
    border-right: 2px solid #ebebeb;
}
aside.widget_calendar table tbody tr:last-child {
    border-bottom: 2px solid #ebebeb;
}
.home.blog .copy p {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 16px;
}
.story p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
}
.copy p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 16px;
}
.single-attachment .content-main.attachment {
    padding: 80px 0 90px;
}
.story h2 {
    font-size: 38.4px;
    font-size: 2.4rem;
}