<ion-header>
  <ion-navbar>
    <ion-title>
      Marriage License
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="mrg-lcns-content">
  <!-- <div *ngIf="submitted == false">
    <ion-list no-lines>
      <ion-item no-lines text-wrap>
        <h2>Marriage License</h2>
        <p>You must complete and submit your marriage application prior to receiving updates for your license.</p>
      </ion-item>
    </ion-list>
  </div> -->
  <div>
    <ion-list class="mrg-lcns-container">
      <ion-item no-lines text-wrap>
        <h1 color="primary">Marriage License</h1><br/>
        <p>You must complete all required documentation in your marriage application prior to being permitted to use this feature. Please read the full terms of service before completing.</p>
      </ion-item>
      <ion-item class="border-btm header-bold">
        <h2>Application Submitted</h2>
        <p>December 30th 2017</p>
      </ion-item>
      <ion-item class="border-btm header-bold">
        <h2>Awaiting Your E-Signatures</h2>
        <p>December 30th 2017</p>
      </ion-item>
      <ion-item class="border-btm header-bold">
        <h2>Application Received</h2>
        <p>December 30th 2017</p>
      </ion-item>
      <ion-item class="border-btm header-bold">
        <h2>Application Approved</h2>
        <p>December 30th 2017</p>
      </ion-item>
      <ion-item class="border-btm header-bold">
        <h2>License Issued</h2>
        <p>December 30th 2017</p>
      </ion-item>
    </ion-list>
  </div>
  <!-- <div *ngIf="submitted==false">
    <ion-list class="mrg-lcns-container" no-lines>
      <ion-item no-lines text-wrap>
        <h2>Marriage License</h2>
        <p>You must complete all required documentation in your marriage application prior to being permitted to use this feature. Please read the full terms of service before completing.</p>
      </ion-item>
    </ion-list>
    <ion-list class="singer-list-container" no-lines>
      <ion-item no-lines text-wrap>
        <h2>Signers</h2>
        <p class="blue-color">Powered by<a class="blue-color" style="font-weight:800; padding-left:5px;">AdobeSign</a></p>
        <p>Along with yourself you are required to obtain signatures from other officials and witnesses including the court system.</p>
      </ion-item>
      <ion-item *ngFor="let signer of signers;" class="border-btm header-bold">
        <avatar [user]="signer.user" item-start></avatar>
        <h2>{{signer.name}}</h2>
        <p>{{signer.identifier}}</p>
        <ion-note item-end>
          <button (click)="removeSigner(signer.id)" ion-button menuClose clear class="close-btn">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-note>
      </ion-item>
      <ion-item *ngIf="signers.length>0" (click)="showActionSheet(true,false)" class="border-btm header-bold">
        <ion-avatar item-start>
         <ion-item class="add-user-participant" text-center>
            <input type="file" onClick="event.preventDefault();" fileinput="file" filepreview="filepreview"/>
            <ion-icon name="add" class="add-icon"></ion-icon>
          </ion-item>
        </ion-avatar>
        <h2>Add a singer</h2>
        <p>Make a selection</p>
      </ion-item>
    </ion-list>

     <ion-list class="review-container" no-lines>
      <ion-item no-lines text-wrap>
        <h2>Review and Submit</h2>
        <p>Once your marriage application has been approved the above parties will be notified to sign via email. Once you submit this form you will not be permitted to make any edits.</p>
        <button ion-button class="submit-btn" (click)="submitLicense()" color="secondary">Submit New</button>
      </ion-item>
     </ion-list>
  </div>
  <div *ngIf="submitted==true">
    <ion-list class="mrg-lcns-container" no-lines>
      <ion-item no-lines text-wrap>
        <h2 text-center>Marriage License</h2>
        <p text-center>Your marriage license has been submitted for signatures. Once the signatures have been collected you will be notified via email or you can return to this screen at any time to get an update.</p><br/>
        <p class="blue-color">Powered by<a class="blue-color" style="font-weight:800; padding-left:5px;">AdobeSign</a></p>
      </ion-item>
      <ion-item *ngFor="let signer of signers;" class="border-btm header-bold">
        <avatar [user]="signer.user" item-start></avatar>
        <h2>{{signer.name}}</h2>
        <p>{{signer.identifier}}</p>
        <ion-note item-end>
          <ion-badge color="green">{{signer.response.text}}</ion-badge>
        </ion-note>
      </ion-item>
    </ion-list>
  </div> -->
</ion-content>
<!-- <ion-footer class="footer-sticky" text-center>
    <button ion-button clear (click)="saveclose();">Save and Close</button>
 </ion-footer> -->
