page-create-an-invitation {
  .toolbar-background-md, .toolbar-background-ios {
      border-color: #5aabd3;
      background: #5aabd3;
      color: #fff;
  }
  .toolbar-title-md, .toolbar-title-ios, .back-button{
      color: #fff;
  }

  ion-icon {
    font-size: 2.5em;
  }

  .small-row {
    min-height: 20px;

    p {
      margin: 0;
    }
  }

  textarea {
    min-height: 150px;
  }

  
}
