share {
  .mini-btn{
    border-radius: 50%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 4px;
    background: inherit;
  }
  .active {
    background-color: $light-blue;
  }
  .disabled {
    background-color: rgb(207,216,220);
  }
  .share-icon{
    color: #fff;
    font-size: 2.6rem;
  }

  h6.mini-text{
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 1.4rem;
    color: #333;
  }
  .margin-item{
      margin: 10px 0;
  }
}
