page-pick-emoji {
  .toolbar-background-md, .toolbar-background-ios {
      border-color: #5aabd3;
      background: #5aabd3;
      color: #fff;
  }
  .toolbar-title-md, .toolbar-title-ios, .back-button{
      color: #fff;
  }

  .selected {
    background: $active;
    color: #fff;
  }

  .not-selected {
    background: #fafafa;
    color: #000;
  }
}
