<!--
  Generated template for the PickEmojiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pick Emoji</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let emoji of emojis;" (click)="selected(emoji.filename)">
      <img [src]="emoji.filename" style="width:100px;height:100px;" />
    </ion-item>
  </ion-list>
</ion-content>
