<!--
  Generated template for the ArchivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div class="headerBtns" end>
    <button ion-button class="mini-btn" icon-only (click)="download()">
      <ion-icon name="cloud-download"></ion-icon>
    </button>
    <button ion-button class="mini-btn" icon-only (click)="close()">
      <ion-icon name="close"></ion-icon>
    </button>
  </div>
  <div *ngIf="video_url != ''">
    <video class="fullscreenvideo" (ended)="ended()" autoplay fullscreen [src] = "video_url" controls>
    Your browser does not support HTML5 video.
    </video>
  </div>
</ion-content>
