<ion-header>
  <main-navigation title="Notifications"></main-navigation>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list id="notifications-list2">
    <!-- <ion-item-sliding *ngFor="let notification of notifications;"> -->
      <ion-item *ngFor="let notification of notifications;" color="balanced" id="notifications-list-item12">
        <ion-avatar item-left>
          <img [src]="notification.avatar"/>
        </ion-avatar>
        <h2>
          {{notification.title}}
        </h2>
        <p style="white-space:normal;">{{notification.message}}</p>
      </ion-item>
      <!-- <ion-item-options side="right">
        <button (click)="dismiss(notification)" ion-button color="assertive">
          Dismiss
        </button>
      </ion-item-options> -->
    <!-- </ion-item-sliding> -->
    <!-- <ion-item-sliding>
      <ion-item color="balanced" id="notifications-list-item12">
        <ion-avatar item-left>
          <img src="assets/images/user-avatar1.png"/>
        </ion-avatar>
        <h2>
          Johnny Appleseed Replied
        </h2>
        <p>Accepted your invite to Our Wedding</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="assertive">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding> -->
  </ion-list>
</ion-content>
