<!--
  Generated template for the PreApprovedOfficiantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Find an Officiant</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>
  <ion-list class="officiant-container" no-lines>
      <ion-item no-lines text-wrap text-center>
        <h2 class="officiant-head">Invite an Officiant</h2>
        <p>A notification will be sent to each. The first to accept your offer will be instantly asigned to your ceremony.</p>
      </ion-item>
      <button *ngFor="let officiant of officiants;" ion-item (click)="showOfficiantDetails(officiant)" class="border-btm header-bold officiant-list">
        <avatar item-start [user]="officiant.personal.id"></avatar>
      <h2 style="text-transform:capitalize;">{{officiant.personal.name.full}}</h2>
      <!-- <p>{{officiant.officiant.description}}</p> -->
      <!-- <ion-note item-end>
        <button ion-button clear class="mini-btn" small>
            <ion-icon name="star" class="star-icon bright-bg" mini></ion-icon>
        </button>
      </ion-note> -->
    </button>
    </ion-list>
</ion-content>
<!-- <ion-footer class="footer-sticky" text-center>
    <button ion-button clear (click)="inviteselected();">Invite Selected</button>
</ion-footer> -->
